openapi: 3.0.0
info:
  title: Transport Operator MaaS Provider API
  description: "<h2>Context</h2>
    <p>This API allows technical communication between Transport Operators (TO) and MaaS providers (MP, and other resellers), to fulfill a complete MaaS user journey<br>
    For more information: <a href='https://github.com/TOMP-WG/TOMP-API/wiki/OpenAPI-entry-page'>TOMP-API wiki</a>, and <a href='https://github.com/TOMP-WG/TOMP-API/wiki/OpenAPI-code-convention'>Coding conventions</a>"
  version: "2.0.0"
  contact:
    name: TOMP working group
    url: https://github.com/TOMP-WG/TOMP-API
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

tags:
  - name: capabilities
    description:
      This part of the API delivers a technical and human readable interface, allowing to read how this API should be used. Complies to OGC standard (OGC Features Core)
      (https://ogcapi.ogc.org/features/)

  - name: offers
    description: This part of the API facilitates in supplying offers, that can be purchased.

  - name: packages
    description: This part of the API facilitates to make a booking (aka purchase an offer), or to modify the travelling party, customer or cancel the package.

  - name: legs
    description: This part of the API facilitates changing operational parts of the trip, like starting, stopping or even cancel a part.

# security. Allowed methods basic (in header: Authorization: Basic ZGVtbzpwQDU1dzByZA==),
#                           bearer (in header: Authorization: Bearer <token>)
#                           Api-key (in header: X-API-Key: abcdef12345)
#                           OAutb and OpenId are also available
# The exact ways to authenticate will be described in a later version
security:
  - BasicAuth: []
  - BearerAuth: []
  - ApiKeyAuth: []
  - OAuth: []
  - OpenId: []

servers:
  - url: https://tomp.dat.nl/tomp/v2

paths:
  /:
    get:
      tags:
        - capabilities
      operationId: landingPage
      summary: "Landing page"
      description: "Gives a (technical & human readable) output describing how this API must be used."
      externalDocs:
        url: https://app.swaggerhub.com/apis/OGC/ogcapi-features-1-example-1/1.0.1
      responses:
        "200":
          description: successful operation
          headers:
            Content-Language:
              $ref: "TOMP-API.yaml#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/landingPageResponse"
            text/html:
              schema:
                type: string
        default:
          $ref: "TOMP-API.yaml#/components/responses/errorResponse"

  /collections/offers/items:
    put:
      operationId: requestOffers
      summary: "Request offers"
      description: Returns offers (purchaseable packages) based on user requirements
      parameters:
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/senderId"
        - $ref: "#/components/parameters/receiverId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/bbox"
      tags:
        - offers
      requestBody:
        $ref: "#/components/requestBodies/offerRequest"
      responses:
        "200":
          $ref: "#/components/responses/offerResponse"
        default:
          $ref: "#/components/responses/errorResponse"
    post:
      operationId: purchaseRequest
      summary: "Purchase an (offered) package"
      description: The offered package is transformed into a pre-purchased one. The purchase must be confirmed using the `POST /collections/packages/items/?packageId={id}&operation=commit`.
      parameters:
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/senderId"
        - $ref: "#/components/parameters/receiverId"
        - $ref: "#/components/parameters/optionalPackageId"
        - $ref: "#/components/parameters/callbackUrl"
        - $ref: "#/components/parameters/purchaseOperation"
      tags:
        - offers
      requestBody:
        $ref: "#/components/requestBodies/purchaseRequest"
      responses:
        "201":
          $ref: "#/components/responses/purchaseResponse"
        "202":
          description:
            A purchase is requested, but not yet confirmed on the TO side. The result will be posted at the requested callbackUrl, specified in the header.
            Whenever this field is not supplied, and an immediate result is not possible, a 424 would be appropriate (with the error object containing details).
        default:
          $ref: "#/components/responses/errorResponse"

  /collections/packages/items:
    get:
      operationId: getPackage
      summary: "Request package details"
      description: Retrieves package details, if the legId is not provided, the complete package is returned, otherwise, 
        only the leg is returned within a 'package shell'.
      parameters:
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/senderId"
        - $ref: "#/components/parameters/receiverId"
        - $ref: "#/components/parameters/packageId"
        - $ref: "#/components/parameters/optionalLegId"
        - $ref: "#/components/parameters/packageSelection"
      tags:
        - packages
      responses:
        "200":
          $ref: "#/components/responses/packageResponse"
        default:
          $ref: "#/components/responses/errorResponse"
    post:
      operationId: packageOperation
      summary: "Perform an operation on a package"
      description: This endpoint **must** be used to alter the package.<br>
        COMMIT - confirm the purchase of this package [state is PENDING and becomes PURCHASED]<br>
        CANCEL - cancel this package [state is OFFERED, PENDING, PURCHASED and will become CANCELLED]<br>
        CUSTOMER - replace a traveller in the package [state is in OFFERED or PURCHASED]<br>
        TRAVELLER - add, remove or change a traveller to this package [state is in OFFERED or PURCHASED]<br>
        COMMIT_OPERATION - a request to commit an offer resulting from an operation (like a cancellation)<br><br>
        In the COMMIT request, the 'notificationUrl' is required, so the TO can notify the MP.
      parameters:
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/senderId"
        - $ref: "#/components/parameters/receiverId"
        - $ref: "#/components/parameters/packageId"
        - $ref: "#/components/parameters/callbackUrl"
        - $ref: "#/components/parameters/notificationUrl"
        - $ref: "#/components/parameters/packageOperation"
        - $ref: "#/components/parameters/requestOffers"
      tags:
        - packages
      requestBody:
        $ref: "#/components/requestBodies/packageOperationRequest"
      responses:
        "200":
          $ref: "#/components/responses/packageResponse"
        "202":
          description: whenever this is returned, the result will be posted on the calbackUrl
        default:
          $ref: "#/components/responses/errorResponse"

  /collections/legs/items:
    post:
      operationId: legOperation
      summary: "Perform an operation on a leg"
      description: This endpoint must be used to alter the STATE of a LEG, using OPERATION requests.
      parameters:
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/senderId"
        - $ref: "#/components/parameters/receiverId"
        - $ref: "#/components/parameters/packageId"
        - $ref: "#/components/parameters/legId"
        - $ref: "#/components/parameters/callbackUrl"
        - name: legOperation
          in: query
          description: OPERATION on the LEG
          required: true
          schema:
            $ref: "#/components/schemas/legOperation"
      tags:
        - legs
      requestBody:
        $ref: "#/components/requestBodies/legOperationRequest"
      responses:
        "200":
          $ref: "#/components/responses/legResponse"
        "202":
          $ref: "#/components/responses/legResponse"
        "503":
          description: In case of temporary malfunctioning, this response can be send (e.g. bluetooth lock jammed). See also https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After
          headers:
            Retry-After:
              description: A date after which to retry. See the Date header for more details on the HTTP date format.
              schema:
                $ref: "#/components/schemas/httpDate"
          $ref: "#/components/responses/errorResponse"
        default:
          $ref: "#/components/responses/errorResponse"

components:
  requestBodies:
    offerRequest:
      description: the initial request, containing a TRAVEL SPECIFICATION and additional parameters per USER PROFILE or USER GROUP
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/offerRequest"

    purchaseRequest:
      description: additional information required to create a purchased package. This information can be retrieved from the the LEGs' **conditions**.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/purchaseRequest"

    packageOperationRequest:
      content:
        application/json:
          schema:
            discriminator:
              propertyName: type
              # COMMIT, CANCEL, EXTEND_EXPIRY_TIME, CUSTOMER, TRAVELLER
              mapping:
                COMMIT: "#/components/schemas/packageOperationRequest"
                CANCEL: "#/components/schemas/packageOperationRequest"
                EXTEND_EXPIRY_TIME: "#/components/schemas/extendExpiryTimeRequest"
                CUSTOMER: "#/components/schemas/customerRequest"
                TRAVELLER: "#/components/schemas/travellerRequest"
            oneOf:
            - $ref: "#/components/schemas/packageOperationRequest"
            - $ref: "#/components/schemas/packageOperationRequest"
            - $ref: "#/components/schemas/extendExpiryTimeRequest"
            - $ref: "#/components/schemas/customerRequest"
            - $ref: "#/components/schemas/travellerRequest"

    legOperationRequest:
      content:
        application/json:
          schema:
            discriminator:
              propertyName: type
              # CANCEL, ASSIGN_ASSET, CHANGE_START_TIME, CHANGE_END_TIME, ANCILLARY, PREPARE, SET_IN_USE, PAUSE, START_FINISHING, FINISH, SEND_EVIDENCE_PARKED, SEND_EVIDENCE_HELMET, SEND_EVIDENCE_CHARGER
              mapping:
                CANCEL: "#/components/schemas/legOperationRequest"
                ASSIGN_ASSET: "#/components/schemas/assetRequest"
                CHANGE_START_TIME: "#/components/schemas/timeRequest"
                CHANGE_END_TIME: "#/components/schemas/timeRequest"
                ANCILLARY: "#/components/schemas/ancillaryRequest"
                PREPARE: "#/components/schemas/tripExecutionRequest"
                SET_IN_USE: "#/components/schemas/tripExecutionRequest"
                PAUSE: "#/components/schemas/tripExecutionRequest"
                START_FINISHING: "#/components/schemas/tripExecutionRequest"
                FINISH: "#/components/schemas/tripExecutionRequest"
                OPEN_TRUNK: "#/components/schemas/tripExecutionRequest"
                SEND_EVIDENCE_PARKED: "#/components/schemas/evidenceRequest"
                SEND_EVIDENCE_HELMET: "#/components/schemas/evidenceRequest"
                SEND_EVIDENCE_CHARGER: "#/components/schemas/evidenceRequest"
                default : "#/components/schemas/legOperationRequest"
            oneOf:
              - $ref: "#/components/schemas/legOperationRequest"
              - $ref: "#/components/schemas/assetRequest"
              - $ref: "#/components/schemas/timeRequest"
              - $ref: "#/components/schemas/ancillaryRequest"
              - $ref: "#/components/schemas/tripExecutionRequest"
              - $ref: "#/components/schemas/evidenceRequest"

  responses:
    offerResponse:
      description: a list of packages, if there is no option, it will return an empty list. Each offered package has a unique identifier, that can be used to purchase it.
      headers:
        Content-Language:
          $ref: "#/components/headers/contentLanguage"
        Expires:
          description: The result is valid until this timestamp. The _PENDING_ package expires after this timestamp.
          schema:
            $ref: "#/components/schemas/httpDate"
          required: false
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/offerResponse"

    purchaseResponse:
      description: A package was succesfully purchased (PURCHASED), or pre-purchased (PENDING, to be committed using the package operation COMMIT).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/packageResponse"
      headers:
        Content-Language:
          $ref: "#/components/headers/contentLanguage"
        Expires:
          $ref: "#/components/headers/expires"

    packageResponse:
      description: a single instance of a package
      headers:
        Content-Language:
          $ref: "#/components/headers/contentLanguage"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/packageResponse"

    legResponse:
      description: a single instance of a leg
      headers:
        Content-Language:
          $ref: "#/components/headers/contentLanguage"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/legResponse"

    availableAssetsResponse:
      description: Available ASSETs for the leg. If no suitable assets are found an empty array is to be returned.
      headers:
        Content-Language:
          $ref: "#/components/headers/contentLanguage"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/geojson"

    errorResponse:
      description: Bad request. See https://github.com/TOMP-WG/TOMP-API/wiki/Error-handling-in-TOMP for further explanation of error code.
      headers:
        Content-Language:
          $ref: "#/components/headers/contentLanguage"
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                maxItems: 10
                items:
                  $ref: "#/components/schemas/error"

  schemas:
    landingPageResponse:
      type: object
      description: a complete endpoint description, containing all endpoints, their status, but also the served scenarios and implemented process flows. The identifiers for the process flows can be found at https://github.com/TOMP-WG/TOMP-API/wiki/ProcessIdentifiers<br>
      additionalProperties: false
      required:
        - title
        - description
        - links
      properties:
        title:
          type: string
        description:
          type: string
        links:
          type: array
          items:
            $ref: "#/components/schemas/link"
          example:
            [
              {
                "rel": "single ticket",
                "description": "Get offers for a single ticket",
                "type": "application/geo+json",
                "href": "/collections/offers/items",
                "method": "POST",
                "headers": { "Accept-Language": "", "sending-id": "" },
                "body":
                  {
                    "specification":
                      {
                        "from": "NeTEx:stop",
                        "to": "NeTEx:stop",
                        "startTime": "",
                      },
                    "parameters":
                      [
                        {
                          "usage":
                            [
                              {
                                "type": "INDIVIDUAL_TRAVELLER",
                                "fullName",
                                "",
                                "age": 0,
                              },
                            ],
                          "validities": [{ "type": "SERVICE", "class": "" }],
                        },
                      ],
                  },
                "required":
                  [
                    "sending-id",
                    "$.specification.from",
                    "$.specification.to",
                    "$.specification.startTime",
                    "$.parameters[0].usage[0].fullName",
                    "$.parameters[0].usage[0].age",
                    "$.parameters[0].validities[0].class",
                  ],
              },
            ]
        namespaces:
          type: array
          items:
            $ref: "#/components/schemas/link"
          example:
            [
              {
                "rel": "GBFS:vehicles",
                "type": "application/json",
                "href": "/v2/GBFS/vehicles.json",
                "method": "GET",
              },
              {
                "rel": "ARR:ScheduledStopPoint",
                "type": "application/xml+netex",
                "href": "https://data.ndovloket.nl/netex/arr/NeTEx_ARR_NL_20240903_20240904_1420.xml.gz#NeTEx_ARR_NL_20240903_20240904_1420.xml",
                "method": "GET",
              },
            ]
        processIdentifiers:
          type: array
          description: an array with 'care labels', indiacting how this implementation wants to be treated.
          maxItems: 10
          externalDocs:
            url: https://github.com/TOMP-WG/TOMP-API/wiki/ProcessIdentifiers
            description: overview of all existing process identifiers, clarifying how this implementation of the API should be used.
          items:
            $ref: "#/components/schemas/processIdentifier"
          example:
            [
              {
                "module": "legs",
                "identifiers":
                  ["ACCESS_CODE_AZTEC", "ACCESS_CODE_IN_COMMIT_EVENT"],
              },
            ]
        conditions:
          type: array
          description: common conditions for this TO
          maxItems: 5
          items:
            $ref: "#/components/schemas/condition"

    processIdentifier:
      type: object
      required:
        - module
        - identifiers
      properties:
        module:
          type: string
          enum: [CAPABILITIES, OFFERS, PACKAGES, LEGS, SUPPORT, PAYMENTS]
        identifiers:
          type: array
          maxItems: 25
          items:
            $ref: "#/components/schemas/shortString"

    # parameters & responses
    purchaseRequest:
      allOf:
        - $ref: "#/components/schemas/offerRequest"
        - type: object
          properties:
            customer:
              $ref: "#/components/schemas/customer"
              description: The user that wants to purchase this package, only to supply when requested in the conditions

    offerRequest:
      type: object
      description: A package planning request, resulting in package options
      properties:
        specification:
          $ref: "#/components/schemas/travelSpecification"
        parameters:
          type: array
          maxItems: 10
          minItems: 1
          items:
            $ref: "#/components/schemas/parameter"
      example:
        {
          "specification":
            {
              "from": "gps:6.234,51.6923",
              "via": ["NSR:Quay:108842"],
              "to": "RUT:ScheduledStopPoint:28482",
              "startTime": "2019-10-12T07:20:50.52Z",
              "endTime": "2019-10-12T07:20:50.52Z",
            },
          "parameters":
            [
              {
                "usage":
                  [
                    {
                      "type": "USER_PROFILE",
                      "ageGroup": "ADULT",
                      "id": "ADULT",
                    },
                    {
                      "type": "ENTITLEMENT",
                      "entitlementType": "NO:MILITARY",
                      "user": "ADULT",
                    },
                    {
                      "type": "COMMERCIAL_PROFILE",
                      "code": "VX34-348J-EI7y",
                      "user": "ADULT",
                    },
                    {
                      "type": "LICENSE_TYPE",
                      "modes": ["CAR"],
                      "user": "ADULT",
                    },
                    {
                      "type": "INDIVIDUAL_TRAVELLER",
                      "id": "34924-3A334B-C342D",
                    },
                  ],
                "validities":
                  [
                    { "type": "SERVICE", "class": "FIRST" },
                    { "type": "SEATING", "spotType": "LUGGAGE_SPOT" },
                  ],
              },
            ],
        }

    travelSpecification:
      type: object
      required:
        - from
      properties:
        from:
          $ref: "#/components/schemas/externalReference"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: "gps:6.234,51.6923"
        via:
          type: array
          minItems: 0
          maxItems: 3
          items:
            $ref: "#/components/schemas/externalReference"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: ["NSR:Quay:108842"]
        to:
          $ref: "#/components/schemas/externalReference"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: "RUT:ScheduledStopPoint:28482"
        startTime:
          $ref: "#/components/schemas/dateTime"
          description: The intended departure time.
            If left out and no endTime is set, the current time should be assumed.
            If only the arrival time is specified, this is an implicit request for a guaranteed arrival at that time.
        endTime:
          $ref: "#/components/schemas/dateTime"
          description: The intended arrival time, at the `to place`. When the **startTime** is not set, and **endTime** is set, it is an implicit request for an arrival time guarantee.
        placeDefinitions:
          description: Places that are not specified in an external data source (like a home address)
          type: array
          minItems: 0
          maxItems: 3
          items:
            $ref: "#/components/schemas/postalAddress"

    parameter:
      type: object
      properties:
        usage:
          type: array
          description: this describes the travelling party, the users (when purchasing or later, when anonymous travelling is not applicable) or user profiles (during the offers)
          items:
            $ref: "#/components/schemas/usage"
          example:
            [
              { "type": "USER_PROFILE", "ageGroup": "ADULT", "id": "ADULT" },
              {
                "type": "ENTITLEMENT",
                "entitlementType": "NO:MILITARY",
                "user": "ADULT",
              },
              {
                "type": "COMMERCIAL_PROFILE",
                "code": "VX34-348J-EI7y",
                "user": "ADULT",
              },
              { "type": "LICENSE_TYPE", "modes": ["CAR"], "user": "ADULT" },
              { "type": "INDIVIDUAL_TRAVELLER", "id": "34924-3A334B-C342D" },
            ]
        validities:
          type: array
          items:
            $ref: "#/components/schemas/validityParameter"
          example:
            [
              { "type": "SERVICE", "class": "FIRST" },
              { "type": "SEATING", "spotType": "LUGGAGE_SPOT" },
            ]

    usage:
      type: object
      discriminator:
        propertyName: type
        mapping:
          INDIVIDUAL_TRAVELLER: "#/components/schemas/individualTraveller"
          USER_PROFILE: "#/components/schemas/userProfile"
          GROUP_PROFILE: "#/components/schemas/groupProfile"
          COMPANION_PROFILE: "#/components/schemas/companionProfile"
          COMMERCIAL_PROFILE: "#/components/schemas/commercialProfile"
          ENTITLEMENT: "#/components/schemas/entitlementGiven"
          CARD_TYPE: "#/components/schemas/cardType"
          CARD: "#/components/schemas/card"
          LICENSE_TYPE: "#/components/schemas/licenseType"
          LICENSE: "#/components/schemas/license"
      oneOf:
        - $ref: "#/components/schemas/individualTraveller"
        - $ref: "#/components/schemas/userProfile"
        - $ref: "#/components/schemas/groupProfile"
        - $ref: "#/components/schemas/companionProfile"
        - $ref: "#/components/schemas/commercialProfile"
        - $ref: "#/components/schemas/entitlementGiven"
        - $ref: "#/components/schemas/cardType"
        - $ref: "#/components/schemas/card"
        - $ref: "#/components/schemas/licenseType"
        - $ref: "#/components/schemas/license"

    userProfile:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/shortString"
        type:
          type: string
          enum: [USER_PROFILE]
        minimumAge:
          $ref: "#/components/schemas/shortInt"
        maximumAge:
          $ref: "#/components/schemas/shortInt"
        monthDayOnWhichAgeApplies:
          $ref: "#/components/schemas/shortInt"
        ageGroup:
          type: string
          enum: [ANYONE, INFANT, CHILD, YOUTH, ADULT, SENIOR]
        minimumHeight:
          $ref: "#/components/schemas/shortInt"
        maximumHeight:
          $ref: "#/components/schemas/shortInt"
        localResident:
          type: boolean
        genderLimitation:
          type: boolean

    companionProfile:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/shortString"
        type:
          type: string
          enum: [COMPANION_PROFILE]
        minimumNumberAllowed:
          $ref: "#/components/schemas/shortInt"
        maximumNumberAllowed:
          $ref: "#/components/schemas/shortInt"

    groupProfile:
      type: object
      externalDocs:
        url: https://transmodel/GroupTicket
      properties:
        id:
          $ref: "#/components/schemas/shortString"
        type:
          type: string
          enum: [GROUP_PROFILE]
        name:
          $ref: "#/components/schemas/normalString"
        profiles:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/userProfile"
              - type: object
                required:
                  - quantity
                properties:
                  quantity:
                    $ref: "#/components/schemas/shortInt"

    commercialProfile:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/shortString"
        type:
          type: string
          enum: [COMMERCIAL_PROFILE]
        code:
          $ref: "#/components/schemas/shortString"
        name:
          $ref: "#/components/schemas/normalString"

    entitlementGiven:
      type: object
      required:
        - entitlementType
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description: a unique ID for this usage. Especially required when it is a USER PROFILE or an INDIVIDUAL TRAVELLER. Other concepts might refer to this ID.
        type:
          type: string
          enum: [ENTITLEMENT]
        entitlementType:
          $ref: "#/components/schemas/normalString"

    validityParameter:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ORGANISATIONAL: "#/components/schemas/organisationalValidityParameter"
          SEATING: "#/components/schemas/seatingValidityParameter"
          DISTRIBUTION: "#/components/schemas/distributionValidityParameter"
          NETWORK: "#/components/schemas/networkValidityParameter"
          ROUTING: "#/components/schemas/routingValidityParameter"
          SERVICE: "#/components/schemas/serviceValidityParameter"
          TEMPORAL: "#/components/schemas/temporalValidityParameter"
          FARE_PRODUCT: "#/components/schemas/externalReference"
          EQUIPMENT: "#/components/schemas/equipmentValidityParameter"
      oneOf:
        - $ref: "#/components/schemas/organisationalValidityParameter"
        - $ref: "#/components/schemas/seatingValidityParameter"
        - $ref: "#/components/schemas/distributionValidityParameter"
        - $ref: "#/components/schemas/networkValidityParameter"
        - $ref: "#/components/schemas/routingValidityParameter"
        - $ref: "#/components/schemas/serviceValidityParameter"
        - $ref: "#/components/schemas/temporalValidityParameter"
        - $ref: "#/components/schemas/productValidityParameter"
        - $ref: "#/components/schemas/equipmentValidityParameter"

    equipmentValidityParameter:
      type: object
      properties:
        type:
          type: string
          enum: [EQUIPMENT]
        name:
          $ref: "#/components/schemas/shortString"
        description:
          $ref: "#/components/schemas/longString"
        infoLink:
          $ref: "#/components/schemas/url"
        id:
          $ref: "#/components/schemas/shortString"
        image:
          $ref: "#/components/schemas/url"
        externalReference:
          $ref: "#/components/schemas/shortString"

    temporalValidityParameter:
      type: object
      properties:
        startTime:
          $ref: "#/components/schemas/dateTime"
        endTime:
          $ref: "#/components/schemas/dateTime"
        duration:
          $ref: "#/components/schemas/normalInt"
        dayType:
          $ref: "#/components/schemas/day"
        type:
          type: string
          enum: [TEMPORAL]

    productValidityParameter:
      type: object
      properties:
        type:
          type: string
          enum: [FARE_PRODUCT]
        product:
          $ref: "#/components/schemas/externalReference"

    seatingValidityParameter:
      type: object
      properties:
        type:
          type: string
          enum: [SEATING]
        spotType:
          type: string
          enum: [VEHICLE_SPOT, PASSENGER_SPOT, LUGGAGE_SPOT]
        deck:
          $ref: "#/components/schemas/shortString"
        space:
          $ref: "#/components/schemas/shortString"
        spot:
          $ref: "#/components/schemas/shortString"

    networkValidityParameter:
      type: object
      properties:
        type:
          type: string
          enum: [NETWORK]
        line:
          $ref: "#/components/schemas/externalReference"
        zones:
          type: array
          items:
            $ref: "#/components/schemas/externalReference"

    routingValidityParameter:
      type: object
      properties:
        type:
          type: string
          enum: [ROUTING]
        journeyPattern:
          type: array
          items:
            $ref: "#/components/schemas/externalReference"

    serviceValidityParameter:
      type: object
      properties:
        type:
          type: string
          enum: [SERVICE]
        assetType:
          $ref: "#/components/schemas/externalReference"
        asset:
          $ref: "#/components/schemas/externalReference"
        serviceJourney:
          $ref: "#/components/schemas/externalReference"
        userNeeds:
          type: array
          items:
            $ref: "#/components/schemas/userNeeds"
        class:
          $ref: "#/components/schemas/classOfUse"
        facilities:
          type: array
          items:
            $ref: "#/components/schemas/facility"

    userNeeds:
      type: object
      properties:
        externalSpecified:
          type: array
          items:
            $ref: "#/components/schemas/externalReference"
        encumbrance:
          type: array
          items:
            type: string
            enum:
              [
                PUSH_CHAIR,
                BAGGAGE_TROLLEY,
                OVERSIZED_BAGGAGE,
                GUIDE_DOG,
                OTHER_ANIMAL,
                OTHER_ENCUMBRANCE_NEED,
                LAGGAGE_ENCUMBRANCE,
              ]
        medical:
          type: array
          items:
            type: string
            enum: [HEART_CONDITION, OTHER_CONDITION, ALLERGIC]
        mobility:
          type: array
          items:
            type: string
            enum:
              [
                WHEEL_CHAIR,
                ASSISTED_WHEEL_CHAIR,
                MOTORIZED_WHEELCHAIR,
                MOBILITY_SCOOTER,
                ROAD_MOBILITY_SCOOTER,
                WALKING_FRAME,
                RESTRICTED_MOBILITY,
                NORMAL_MOBILITY,
                OTHER_MOBILITY_NEED,
              ]
        psychosensory:
          type: array
          items:
            type: string
            enum:
              [
                VISUAL_IMPAIRMENT,
                AUDITORY_IMPAIRMENT,
                COGNITIVE_IMPAIRMENT,
                AVERSE_TO_LIFTS,
                AVERSE_TO_ESCALATORS,
                AVERSE_TO_CONFINED_SPACES,
                AVERSE_TO_CROWDS,
                OTHER_PSYCHO_SENSORY_NEED,
              ]

    onboardStay:
      type: object
      required:
        - type
      description: Permission to board early before the journey or stay on board after the journey.
      properties:
        type:
          type: string
          enum: [ONBOARD_STAY]
        description:
          $ref: "#/components/schemas/longString"
        classOfUse:
          $ref: "#/components/schemas/classOfUse"
        permission:
          type: boolean
        duration:
          $ref: "#/components/schemas/shortString"

    accommodation:
      type: object
      description: A combination of accommodation characteristics available on a service, e.g. "First Class Couchette with shower and 2 bunks".
      properties:
        type:
          type: string
          enum: [ACCOMODATION]
        description:
          $ref: "#/components/schemas/longString"
        classOfUse:
          $ref: "#/components/schemas/classOfUse"
        name:
          $ref: "#/components/schemas/shortString"
        gender:
          type: string
          enum: [M, F, X, U]
        berthType:
          type: string
          enum: [SLEEPER]
        nuisanceFacility:
          type: array
          items:
            $ref: "#/components/schemas/shortString"

    facility:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ONBOARD_STAY: "#/components/schemas/onboardStay"
          ACCOMODATION: "#/components/schemas/accommodation"
      oneOf:
      - $ref: "#/components/schemas/onboardStay"
      - $ref: "#/components/schemas/accommodation"

    classOfUse:
      type: string
      description: A classification of fare and other service classes by category of user entitled to use them.
      enum:
        [
          FIRST_CLASS,
          SECOND_CLASS,
          THIRD_CLASS,
          ECONOMY_CLASS,
          BUSINESS_CLASS,
          TURISTA,
          PREFERENTE,
          PREMIUM_CLASS,
          ANY,
          UNKNOWN,
        ]

    distributionValidityParameter:
      type: object
      properties:
        type:
          type: string
          enum: [DISTRIBUTION]
        fulfilmentMethod:
          $ref: "#/components/schemas/normalString"
        distributionChannel:
          $ref: "#/components/schemas/normalString"

    organisationalValidityParameter:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/shortString"
        type:
          type: string
          enum: [ORGANISATIONAL]
        name:
          $ref: "#/components/schemas/normalString"
        legalName:
          $ref: "#/components/schemas/normalString"

    offerResponse:
      #type: object
      description: Offers, purchaseable package options that fulfil the constraints of the request
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA4/EA5/EA3156.htm
        description: package OFFER DELIVERY
      allOf:
        - $ref: "#/components/schemas/geojson"
        - type: object
          properties:
            unavailable:
              type: array
              items:
                $ref: "#/components/schemas/parameter"
              example:
                [
                  {
                    "validities":
                      [
                        {
                          "type": "SERVICE",
                          "serviceJourney": "RUT:ServiceJourney:34929",
                        },
                      ],
                  },
                ]

    #      required:
    #        - offers
    #properties:
    #offers:
    #  type: array
    #  items:
    #    $ref: "#/components/schemas/geojson"
    #unavailable:
    #  type: array
    #  items:
    #    $ref: "#/components/schemas/parameter"
    #  example:
    #    [
    #      {
    #        "validities":
    #          [
    #            {
    #              "type": "SERVICE",
    #              "serviceJourney": "RUT:ServiceJourney:34929",
    #            },
    #          ],
    #      },
    #    ]

    packageResponse:
      $ref: "#/components/schemas/geojson"
      example:
        {
          "type": "FeatureCollection",
          "id": "376e1083-92df-44e5-a1bf-d5570507b8ff",
          "features":
            [
              {
                "type": "Feature",
                "properties":
                  {
                    "id": "376e1083-92df-44e5-a1bf-d5570507b8",
                    "type": "leg",
                    "assetType": "GBFS:vehicle_types:SMALL_CAR",
                  },
                "geometry":
                  {
                    "type": "LineString",
                    "coordinates": [[23.343, 51.6923], [34.233, 42.3943]],
                  },
                "id": "376e1083-92df-44e5-a1bf-d5570507b8",
                "links":
                  [
                    {
                      "rel": "commit",
                      "method": "POST",
                      "href": "/collections/packages/items?packageId=376e1083-92df-44e5-a1bf-d5570507b8ff&operation=COMMIT",
                      "type": "application/geo+json",
                    },
                    {
                      "rel": "cancel",
                      "method": "POST",
                      "href": "/collections/packages/items?packageId=376e1083-92df-44e5-a1bf-d5570507b8ff&operation=CANCEL",
                      "type": "application/geo+json",
                    },
                    {
                      "rel": "extend_expiry_time",
                      "method": "POST",
                      "href": "/collections/packages/items?packageId=376e1083-92df-44e5-a1bf-d5570507b8ff&operation=EXTEND_EXPIRY_TIME",
                      "type": "application/geo+json",
                    },
                  ],
              },
            ],
          "properties":
            {
              "type": "package",
              "id": "376e1083-92df-44e5-a1bf-d5570507b8ff",
              "specification": { "from": "...", "startTime": "..." },
            },
          "links": [],
        }

    packageOperationRequest:
      type: object
      description: operation request for the (pre-)purchase, trip execution or after sales phase
      additionalProperties: false
      required:
        - timestamp
        - type
      properties:
        type:
          $ref: "#/components/schemas/packageOperation"
          description: the 'operation' in the url must match with the type of the packageOperationRequest
        timestamp:
          $ref: "#/components/schemas/dateTime"
        comment:
          $ref: "#/components/schemas/longString"
          description: free text, should match Content-Language.

    legOperationRequest:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/legOperation"
        timestamp:
          $ref: "#/components/schemas/dateTime"

    timeRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            timestamp:
              $ref: "#/components/schemas/dateTime"

    assetRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            asset:
              $ref: "#/components/schemas/asset"
      example:
        {
          "type": "ASSIGN_ASSET",
          "timestamp": "2019-10-12T07:20:50.52Z",
          "asset": { "id": "GBFS:vehicles:eriwo-3489" },
        }

    tripExecutionRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            location:
              $ref: "#/components/schemas/externalReference"
              description: location of the user
      example:
        {
          "type": "SET_IN_USE",
          "timestamp": "2019-10-12T07:20:50.52Z",
          "location": "gps:6.169639,52.253279"
        }

    evidenceRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            urls:
              type: array
              description: urls to support the operation e.g. pictures justifying the exit conditions
              maxItems: 10
              items:
                $ref: "#/components/schemas/url"

    extendExpiryTimeRequest:
      allOf:
        - $ref: "#/components/schemas/packageOperationRequest"
        - type: object
          properties:
            extensionReason:
              type: string
              description:
                in case operation is EXTEND_EXPIRY_TIME, the reason for extension must be supplied here.<br>
                _PURCHASE_PENDING_ - The internal purchase process on the MP side is not yet finished<br>
                _PAYMENT_PENDING_ - The customer is in the payment process<br>
                _OTHER_ - unspecified
              enum: [PURCHASE_PENDING, PAYMENT_PENDING, OTHER]

    ancillaryRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          required:
            - operation
            - ancillaryParameters
          properties:
            operation:
              type: string
              enum: [ADD, REMOVE]
            ancillaryParameters:
              $ref: "#/components/schemas/parameter"
      example:
        {
          "type": "ANCILLARY",
          "timestamp": "2019-10-12T07:20:50.52Z",
          "operation": "ADD",
          "ancillaryParameters":
            {
              "validities":
                [
                  {
                    "type": "EQUIPMENT",
                    "id": "CROW:SA-04:HELMET-#349",
                    "name": "Bike helmet, adult M",
                  },
                ],
            },
        }

    travellerRequest:
      allOf:
        - $ref: "#/components/schemas/packageOperationRequest"
        - type: object
          required:
            - operation
            - travellerParameters
          properties:
            operation:
              type: string
              enum: [ADD, REMOVE, UPDATE]
            travellerParameters:
              type: array
              items:
                $ref: "#/components/schemas/parameter"
      example:
        {
          "type": "TRAVELLER",
          "timestamp": "2019-10-12T07:20:50.52Z",
          "requestOffers": true,
          "operation": "ADD",
          "travellerParameters":
            [
              {
                "usage":
                  [
                    {
                      "type": "INDIVIDUAL_TRAVELLER",
                      "id": "34924-3A334B-C342D",
                      "fullName": "B. Doe",
                    },
                  ],
                "validities":
                  [
                    { "type": "SERVICE", "class": "FIRST" },
                    { "type": "DISTRIBUTION", "fulfilmentMethod": "PDF" },
                  ],
              },
            ],
        }

    customerRequest:
      description: update the customer with the supplied information
      allOf:
        - $ref: "#/components/schemas/packageOperationRequest"
        - type: object
          required:
            - customer
          properties:
            customer:
              $ref: "#/components/schemas/customer"
      example:
        {
          "type": "CUSTOMER",
          "timestamp": "2019-10-12T07:20:50.52Z",
          "requestOffers": false,
          "customer":
            { "id": "ABT-3942349-DFRK", "email": "j.doe@newmail.com" },
        }

    ## trip execution
    availableAssetsResponse:
      type: array
      description: container to return assets, including their possible operations (assign asset).
      maxItems: 100
      items:
        $ref: "#/components/schemas/availableAsset"
        example:
          {
            "id": "...",
            "type": "asset",
            "links":
              [
                {
                  "rel": "assign_asset",
                  "method": "POST",
                  "href": "/collections/legs/items?packageId={id}&legId={legId}&operation=ASSIGN_ASSET",
                  "body":
                    {
                      "type": "ASSIGN_ASSET",
                      "asset": { "id": "7935d555-cdab-4932-99f4-a8674e52dc7d" },
                    },
                  "type": "application/geo+json",
                },
              ],
          }

    availableAsset:
      allOf:
        - $ref: "#/components/schemas/asset"
        - type: object
          properties:
            type:
              type: string
              enum: ["asset"]
            state:
              $ref: "#/components/schemas/assetState"
            fare:
              $ref: "#/components/schemas/fareStructure"
            location:
              $ref: "#/components/schemas/externalReference"
            damages:
              type: array
              description: List of known asset damages.
              maxItems: 100
              items:
                $ref: "#/components/schemas/damage"

    legResponse:
      allOf:
        - $ref: "#/components/schemas/geojsonFeature"
        - $ref: "#/components/schemas/links"
      example:
        {
          "type": "feature",
          "geometry": { "type": "LineString" },
          "id": "0bb49b0e-f33b-4e14-843b-aec78eeb7135",
          "properties":
            {
              "id": "0bb49b0e-f33b-4e14-843b-aec78eeb7135",
              "type": "leg",
              "specification":
                {
                  "from": "gps:6.234,42.3943",
                  "startTime": "2024-04-22T11:34:00Z",
                },
              "state": "FINISHED",
              "price": { "amount": 3.53, currencyCode: "USD" },
              "assetType": "GTFS:trips:GT3492",
              "operator": "GTFS:agency:NY_PT01",
            },
          "links": [
              {
                "rel": "self",
                "method": "GET",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135",
                "type": "application/geo+json",
              },
              # only when legState = NOT_STARTED
              {
                "rel": "cancel",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=CANCEL",
                "type": "application/geo+json",
              },
              {
                "rel": "prepare",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=PREPARE",
                "type": "application/geo+json",
              },
              {
                "rel": "assign_asset",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=ASSIGN_ASSET",
                "type": "application/geo+json",
              },
              {
                "rel": "change_start_time",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=CHANGE_START_TIME",
                "type": "application/geo+json",
              },
              # only when legState = NOT_STARTED OR PREPARING
              {
                "rel": "add_ancillaries",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=ADD_ANCILLARY",
                "type": "application/geo+json",
              },
              {
                "rel": "remove_ancillaries",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=REMOVE_ANCILLARY",
                "type": "application/geo+json",
              },
              {
                "rel": "set_in_use",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=SET_IN_USE",
                "type": "application/geo+json",
              },
              # only when legState = IN_USE
              {
                "rel": "pause",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=PAUSE",
                "type": "application/geo+json",
              },
              {
                "rel": "open_trunk",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=OPEN_TRUNK",
                "type": "application/geo+json",
              },
              {
                "rel": "start_finishing",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=START_FINISHING",
                "type": "application/geo+json",
              },
              {
                "rel": "finish",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=FINISH",
                "type": "application/geo+json",
              },
              # when legState not in FINISHED or FINISHING
              {
                "rel": "change_end_time",
                "method": "POST",
                "href": "/collections/legs/items?packageId=2bcb15a7-084a-40d6-a93d-2c0780d174f1&legId=0bb49b0e-f33b-4e14-843b-aec78eeb7135&operation=CHANGE_END_TIME",
                "type": "application/geo+json",
              },
            ],
        }

    leg:
      type: object
      description: A planned (segment of a) package using one asset
      required:
        - id
        - type
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2962.htm
        description: LEG
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description:
            The unique identifier (TO) of this leg. Must always the same as applied in the request URL.
            And when there are not additional legs in the offered or purchased package, the same **id** as the package id.
        type:
          type: string
          enum: ["leg"]
        specification:
          $ref: "#/components/schemas/travelSpecification"
        sequenceNumber:
          $ref: "#/components/schemas/shortInt"
          description: The order of the leg within the package. Mandatory, if there are multiple legs in the package. If there are parallel legs (eg. using parking lot and a renting a bike), it can be the same within one package.
        externalReference:
          type: string
        state:
          $ref: "#/components/schemas/legState"
        fare:
          $ref: "#/components/schemas/fareStructure"
          description: The leg-specific fare structure. The price can be calculated using all elements.
        price:
          $ref: "#/components/schemas/amountOfMoney"
          description: the final price of the leg
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2419.htm - (CUSTOMER PURCHASE PACKAGE PRICE) final price
        conditions:
          type: array
          description: specific conditions for this leg, completing or overruling the package conditions
          maxItems: 5
          items:
            $ref: "#/components/schemas/condition"
        assetType:
          $ref: "#/components/schemas/externalReference"
          description: The asset type used to execute this leg
        asset:
          $ref: "#/components/schemas/asset"
          description: The concrete asset used for the execution of the leg
        operator:
          $ref: "#/components/schemas/externalReference"
        memo:
          $ref: "#/components/schemas/longString"
        extraInfo:
          $ref: "#/components/schemas/customProperties"

    legOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA4/EA2/EA4/EA1162.htm
        description: TYPE OF EVENT
      description: -|
        The list below contains all formalized operations. Other operations are allowed as well, but have one restriction - the external status of the leg cannot not be changed.<br>
        This allows for instance to introduce a 'OPEN_TRUNK' operation. The links collection can be altered depending on the operations that have been performed.<br>
        Communication from TO towards MP is handled in the 'notify' extension.<br>

        Operations:<br>
        _ASSIGN_ASSET_ [Prepurchase, trip execution] - can assign an ASSET to a LEG. Can be used to replace an ASSET, or as first step in the trip execution process [ONBOARDING STEP]<br>
        If assigning an ASSET is not allowed for this package 403 should be returned. If the package is unknown, 404 should be returned.<br>
        _CHANGE_END_TIME_ [Prepurchase, trip execution] will be used to request a changed end time; the TRAVELER wants to use the ASSET longer (or shorter), the **time** field contains the proposed end time, the end time of the package doesn't change<br>
        _CHANGE_START_TIME_ [Prepurchase, trip execution] will be used to request a changed start time, e.g. the TRAVELER wants to depart later, the **time** field contains the estimated start time, the start time of the package doesn't change<br>
        _CANCEL_ [Prepurchase, after sales] will cancel this LEG. Only allowed when multiple LEGs are included in the package, otherwise the complete package should be cancelled<br>
        _ADD_ANCILLARY_ [Prepurchase, trip execution] requests to add the specified ANCILLARY to the LEG<br>
        _REMOVE_ANCILLARY_ [Prepurchase, trip execution] requests to remove the specified ANCILLARY from the LEG<br>

        _PREPARE_ [MP->TO, non-TO-controlled] - MP request the TO to prepare the LEG (e.g. open the locker) [ONBOARDING STEP, RESUMING STEP]<br>
        If assigning an ASSET is not allowed for this package 403 should be returned. If the package is unknown, 404 should be returned.<br>
        _SET_IN_USE_ [MP->TO, non-TO-controlled] - will activate the LEG or resume the LEG [ONBOARDING STEP, RESUMING STEP]<br>
        _PAUSE_ [MP->TO] will pause the LEG [PAUSING STEP]<br>
        _START_FINISHING_ [MP->TO] will start the end-of-leg process [OFFBOARDING STEP]<br>
        _FINISH_ [MP->TO] will end this LEG [OFFBOARDING STEP]<br>
        _CANCEL_ [MP->TO] will cancel this LEG. Only allowed when multiple LEGs are included in the package, otherwise the complete package should be cancelled<br>

        _SEND_EVIDENCE_PARKED_ [MP->TO] sends pictures (in url field) to prove that the ASSET is parked correctly<br>
        _SEND_EVIDENCE_HELMET_ [MP->TO] sends pictures (in url field) to prove that the helmet is stowed correctly<br>
        _SEND_EVIDENCE_CHARGER_ [MP->TO] sends pictures (in url field) to prove that the ASSET connected correctly to the charger<br>
      #enum: [
      #    # common
      #    CANCEL,
      #    NOTIFY,
      #    REPORT_PROGRESS,
      #    # pre purchase- & trip execution state operation requests
      #    ASSIGN_ASSET,
      #    # pre purchase - end user request requests
      #    CHANGE_START_TIME,
      #    CHANGE_END_TIME,
      #    # pre purchase - ancillary operation requests
      #    ADD_ANCILLARY,
      #    REMOVE_ANCILLARY,
      #    # trip execution - state operation requests
      #    PREPARE,
      #    SET_IN_USE,
      #    PAUSE,
      #    START_FINISHING,
      #    FINISH,
      #    # trip execution - asset operation requests
      #    OPEN_TRUNK,
      #    # trip execution - confirmation requests
      #    CONFIRM_REPLACE_ASSET,
      #    CONFIRM_START_LEG,
      #    # trip execution - evidence requests
      #    SEND_EVIDENCE_PARKED,
      #    SEND_EVIDENCE_HELMET,
      #    SEND_EVIDENCE_CHARGER,
      #  ]

    legState:
      type: string
      description: status of a leg<br>
        _NOT_STARTED_ the leg is not started, initial state<br>
        _PREPARING_ the _PREPARE_ operation has been received<br>
        _IN_USE_ the travelers are on their way<br>
        _PAUSED_ the asset is paused<br>
        _FINISHING_ the _START_FINISHING_ operation has been received<br>
        _FINISHED_ the travelers have arrived at their destination<br>
        _ISSUE_REPORTED_ due to an issue, there is (temporarily) no progress to report, when the issue isn't solved, this is a final state<br>
        _CANCELLED_ the leg has been cancelled (so there must be other legs)
      enum:
        [
          NOT_STARTED,
          PREPARING,
          IN_USE,
          PAUSED,
          FINISHING,
          FINISHED,
          ISSUE_REPORTED,
          CANCELLED,
        ]

    postalAddress:
      type: object
      description: address parts, where addressLine1 and 2 should contain the complete address, matches Content-Language
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA1/EA6/EA5/EA319.htm
        description: POSTAL ADDRESS
      required:
        - addressLine1
        - addressLine2
      properties:
        addressLine1:
          $ref: "#/components/schemas/longString"
          description: contains street, housenumber & additions
          example: example street 18, 2nd floor, 18-B33
        addressLine2:
          $ref: "#/components/schemas/longString"
          description: city or town, principal subdivision such as province, state or county
          example: Smallcity, Pinetree county
        street:
          $ref: "#/components/schemas/normalString"
          description: street, consistent with addressLine1
        houseNumber:
          $ref: "#/components/schemas/normalInt"
          description: house number, consistent with addressLine1
          minimum: 1
        houseNumberAddition:
          $ref: "#/components/schemas/tinyString"
          description: the additional part of the house number (f.x. 13bis, where 'bis' is the additional part), consistent with addressLine1
        postalCode:
          $ref: "#/components/schemas/shortString"
          description: the postal code, whenever available
        city:
          $ref: "#/components/schemas/shortString"
          description: specified city or town, consistent with addressLine2
        province:
          $ref: "#/components/schemas/shortString"
          description: province or region, consistent with addressLine2
        state:
          $ref: "#/components/schemas/shortString"
          description: state, consistent with addressLine2
        country:
          $ref: "#/components/schemas/country"
        additionalInfo:
          $ref: "#/components/schemas/longString"
          description: additional information to find the address (f.x. just around the corner)
      example:
        {
          "id": "PA:fdb151f2-bcd6-4b2a-9998-6c6a2ca8b66d",
          "type": "POSTAL_ADDRESS",
          "addressLine1": "Clearwater road 18",
          "addressLine2": "Muddycity X2433",
        }

    offerDetails:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: ["offers"]

    package:
      description: a purchased package is a registration of an agreement between end user and TO, to execute a package (=set of legs) according a specification, including all conditions
      #externalDocs:
      # https://www.transmodel-cen.eu/model/EARoot/EA6/EA4/EA1/EA2242.htm (SALES OFFER PACKAGE)
      # OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2417.htm (CUSTOMER PURCHASE PACKAGE)
      # externalDocs:
      #url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2413.htm
      # description: TRAVEL SPECIFICATION
      type: object
      required:
        - type
        - status
        - price
      properties:
        type:
          type: string
          enum: ["package"]
        id:
          type: string
        specification:
          $ref: "#/components/schemas/travelSpecification"
        status:
          $ref: "#/components/schemas/purchaseStatus"
        packageLabel:
          $ref: "#/components/schemas/packageLabel"
        elements:
          type: array
          items:
            $ref: "#/components/schemas/packageElement"
        price:
          $ref: "#/components/schemas/amountOfMoney"
          description: the total price of the package
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2419.htm - (CUSTOMER PURCHASE PACKAGE PRICE) final price
        paymentItems:
          type: array
          description:
            in this array items can be enlisted, like a voucher for future usage, or in case this package is an alternative,
            what the financial consequences are whenever you choose this one.
          items:
            $ref: "#/components/schemas/fareStructure"
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/condition"
        guarantees:
          type: array
          items:
            $ref: "#/components/schemas/guarantees"
      example:
        {
          "properties":
            {
              "id": "9fbd553b-defa-45c3-9174-1cc4024693a9",
              "type": "package",
              "specification":
                {
                  "from": "RUT:ScheduledStopPoint:2",
                  "to": "RUT:ScheduledStopPoint:28482",
                  "startTime": "2019-10-12T07:20:50.52Z",
                  "endTime": "2019-10-12T07:20:50.52Z",
                },
              "status": "OFFERED",
              "packageLabel": "CHEAPEST",
              "elements":
                [
                  {
                    "product": "ENT:3492:PROD",
                    "legs":
                      [
                        "RUT:b0b92661-285c-42ca-bd48-c26c992cf18a",
                        "VJ:2d05f5df-e28c-4410-b61c-2149550ff0ba",
                      ],
                    "parameters":
                      [
                        {
                          "usage":
                            [
                              {
                                "type": "USER_PROFILE",
                                "ageGroup": "ADULT",
                                "id": "ADULT",
                              },
                            ],
                          "validities":
                            [
                              { "type": "SERVICE", "class": "FIRST" },
                              { "type": "SEATING", "spotType": "LUGGAGE_SPOT" },
                            ],
                        },
                      ],
                  },
                ],
              "price": { "amount": 9.95, "currencyCode": "EUR" },
            },
          "links":
            [
              {
                "rel": "purchase",
                "method": "POST",
                "href": "/collections/offers/items?packageId=9fbd553b-defa-45c3-9174-1cc4024693a9&operation=purchase",
                "type": "application/geo+json",
                "templated": true,
              },
              {
                "rel": "pre-purchase",
                "method": "POST",
                "href": "/collections/packages/items?packageId=9fbd553b-defa-45c3-9174-1cc4024693a9operation=pre-purchase",
                "type": "application/geo+json",
                "templated": true,
              },
            ],
        }

    packageLabel:
      type: string
      enum:
        [
          CHEAPEST,
          MOST_FLEXIBLE,
          NON_FLEXIBLE,
          MOST_ECO_FRIENDLY,
          FASTEST,
          SHORTEST,
        ]

    packageElement:
      type: object
      properties:
        product:
          $ref: "#/components/schemas/externalReference"
        legs:
          type: array
          description: references to the IDs of the legs, as described as features
          items:
            $ref: "#/components/schemas/uuid"
        travelDocument:
          $ref: "#/components/schemas/travelDocument"
          description:
            The MaaS users proof of their right to travel on this leg (visual representable) OR
            data to open an asset
        parameters:
          type: array
          items:
            $ref: "#/components/schemas/parameter"

    packageOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA3/EA1/EA3040.htm
        description: TYPE OF REQUEST (unspecified)
      description:
        the 'operation' in the url must match with the type of the operationRequest<br><br>

        only in pre-purchased states (OFFERED, PENDING)<br>
        _COMMIT_ - [MP->TO] Turns the purchased package in a _PURCHASED_ state, the previous state should be _PENDING_. If the package is in state _PURCHASED_, _CANCELLED_ or _EXPIRED_, a commit will result a 403. <BR>
        _EXTEND_EXPIRY_TIME_ - [MP->TO] Request additional time to complete a booking<br><br>

        before trip execution, after offered (PENDING, PURCHASED)<br>
        _CANCEL_ - [MP->TO] Cancels a purchased package, it returns a package in a cancelled state.<br>
        _TRAVELLER_ - [MP->TO] request to add, remove or change one of the travelers. Can be refused if contractual or financial changes are requested<br>
        _CUSTOMER_ - [MP->TO] request a change of the customer. Can be refused if contractual or financial changes are requested

        _COMMIT_OPERATION_ [MP->TO] commits an offer for an operation (like cancel)
      enum:
        [
          COMMIT,
          CANCEL,
          EXTEND_EXPIRY_TIME,
          CUSTOMER,
          TRAVELLER,
          COMMIT_OPERATION,
        ]

    purchaseStatus:
      type: string
      description:
        The life-cycle state of the package (from NEW to FINISHED)<br>
        _OFFERED_ the package is offered, including all conditions<br>
        _PENDING_ the package is pre-puchased (the end user has shown intentions to purchase this offer), must be finalized with the package-commit operation<br>
        _PURCHASED_ a finalized package ('purchased'). Both parties agreed to deliver services in return of payment<br>
        _CANCELLED_ the package is cancelled before it is executed. The agreement will specify whether there is a refund, or under which conditions<br>
        _EXPIRED_ the MP didn't respond on time, the package offer has been expired<br>
        _STARTED_ the package is started, the <u>trip execution</u> module is needed now to manage the execution of the package<br>
        _FINISHED_ the package has ended, the trip has been executed<br>
        _RELEASED_ for internal archiving<br>
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2420.htm
        description: CUSTOMER PURCHASE STATUS
      enum:
        [
          OFFERED,
          PENDING,
          PURCHASED,
          REJECTED,
          RELEASED,
          EXPIRED,
          CANCELLED,
          STARTED,
          FINISHED,
        ]
      example: PURCHASED

    # terms & conditions
    cancellationCondition:
      description: conditions regarding cancellation of a purchased package
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2179.htm
        description: (CANCELLING)
      type: object
      properties:
        cancellationAllowed:
          type: boolean
          description: is it possible to cancel this package?
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
            description: CANCELLING.cancellationAllowed
        cancellationFee:
          $ref: "#/components/schemas/amountOfMoney"
          description: amount of money you have to pay when you cancel this purchased package
        cancellationFeePercentage:
          $ref: "#/components/schemas/float"
          description: percentage of the offered price you have to pay when you cancel this purchased package

    condition:
      type: object
      discriminator:
        propertyName: type
        mapping:
          REQUIRED_INTERACTIONS: "#/components/schemas/requiredInteractionsCondition"
          PAYMENT: "#/components/schemas/paymentCondition"
          CANCELLATION: "#/components/schemas/cancellationCondition"
          PURCHASE: "#/components/schemas/purchaseCondition"
          EXECUTION: "#/components/schemas/packageExecutionCondition"
      #oneOf:
      #  - $ref: "#/components/schemas/requiredInteractionsCondition"
      #  - $ref: "#/components/schemas/paymentCondition"
      #  - $ref: "#/components/schemas/cancellationCondition"
      #  - $ref: "#/components/schemas/purchaseCondition"
      #  - $ref: "#/components/schemas/packageExecutionCondition"
      required:
        - type
        - id
      properties:
        type:
          type: string
          description: The specific subclass of condition
          enum:
            [REQUIRED_INTERACTIONS, PAYMENT, CANCELLATION, PURCHASE, EXECUTION]
        id:
          $ref: "#/components/schemas/shortString"
          description: An identifier for this condition that can be used to refer to this condition
          example: deposit50eu

    guarantees:
      description: guarantees from the TO side.
      type: object
      properties:
        guarantees:
          type: array
          maxItems: 10
          items:
            type: string
            description:
              _ARRIVAL_TIME_ - the TO guarantees that you will - under normal circumstances - will arrive at the destination of the leg  <br>
              _REPLACEMENT_WHEN_CONNECTION_MISSED_ - the TO will arrange an alternative for the missed connection
              _REFUND_WHEN_CONNECTION_MISSED_ - the TO will refund the missed connection
              _REFUND_UNUSED_ANCILLARIES_ - unused ancillaries will be refunded
              _REFUND_WHEN_CANCELLED_ - when cancelled, no costs will be charged when package not started.
            enum:
              [
                ARRIVAL_TIME,
                REPLACEMENT_WHEN_CONNECTION_MISSED,
                REFUND_WHEN_CONNECTION_MISSED,
                REFUND_UNUSED_ANCILLARIES,
              ]

    paymentCondition:
      description: conditions regarding payment<br>
        _DEPOSIT_ - in case the TO demands a deposit before usage. Requesting and refunding should be done using the /collection/payments?packageId={id}&legId={id} endpoint. The requests are initiated by the TO (calling the MP)<br>
        _PAY_WHEN_FINISHED_ - in case the TO demands a direct payment after usage, automatically done by the MP<br>
        _UPFRONT_ - in case the TO demands a upfront payment before usage. The payment should be made in the purchase phase. Additional costs could be relevant, e.g. when using the _TIME_EXTEND_ operation is executed.
        The MP must settle the payment before the package can be started (using SET_IN_USE).
      type: object
      required:
        - momentOfPayment
      properties:
        momentOfPayment:
          type: string
          enum: [DEPOSIT, PAY_WHEN_FINISHED, UPFRONT, SUBSCRIPTION]
        deposit:
          $ref: "#/components/schemas/amountOfMoney"
          description: the amount of money to pay as a deposit.

    purchaseCondition:
      description: specify required information to complete a purchase
      type: object
      required:
        - requiredFields
      properties:
        maximumPeriodBeforeDeparture:
          $ref: "#/components/schemas/longInt"
          description: Maximum time in minutes that an asset can be reserved before a rental begins.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
            description: PURCHASE WINDOW.MaximumPeriodBeforeDeparture
        requiredFields:
          type: array
          description:
            an array containing labels that identify specific fields that are required in the purchase process<br>
            all fields of the package purchase request can become required, navigating with dots, square brackets and field names.<br>
            A few examples<br>
            from.address.station implies that the station reference is mandatory,<br>
            travelers[*].age requires an age for each traveler, <br>
            or customer.email for the email address of the customer
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA6/EA2136.htm
            description: USER PROFILE
          maxItems: 50
          items:
            $ref: "#/components/schemas/normalString"

    requiredInteractionsCondition:
      description:
        required sequence of steps to take in a specified phase of the leg. Use this condition only when the steps are different as specified in the `POST /discovery` endpoint.
        When used in the `POST /discovery`, show the default set of interactions you require. When applied in the leg, you can overrule the default interactions.
      type: array
      maxItems: 50
      items:
        $ref: "#/components/schemas/interaction"

    packageExecutionCondition:
      description: conditions during the package
      type: object
      properties:
        codeOfConduct:
          type: array
          description: code of conduct items during traveling<br>
            _NO_PETS_ - no pets are allowed in the asset<br>
            _NO_SMOKING_ - smoking is not allowed in the asset<br>
            _NO_TRAVEL_ABROAD_ - it is not allowed to enter another country with this asset<br>
            _NO_UNDERGROUND_PARKING_ - it is not allowed to park the asset underground
          maxItems: 5
          items:
            type: string
            enum:
              [NO_PETS, NO_SMOKING, NO_TRAVEL_ABROAD, NO_UNDERGROUND_PARKING]
        returnBefore:
          $ref: "#/components/schemas/dateTime"
          description: the ultimate return time.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2121.htm
            description: USAGE validITY PERIOD.EndDate & EndTime
        returnStations:
          type: array
          description: to one of these stations the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/externalReference"
        returnAreas:
          type: array
          description: in one of these areas the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/geojsonPolygon"
        returnZones:
          type: array
          description: in one of these externally described zones the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/externalReference"
        requiredLicenseTypes:
          type: array
          description: ONE of these licenses is required to operate the asset
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA7/EA2152.htm
            description: ENTITLEMENT REQUIRED
          maxItems: 5
          items:
            $ref: "#/components/schemas/licenseType"
        requiredAncillaries:
          type: array
          description: required ancillaries to operate the asset (like a helmet, TYPE=ANCILLARY)
          maxItems: 25
          items:
            $ref: "#/components/schemas/externalReference"
        maxBounds:
          $ref: "#/components/schemas/geojsonGeometry"
          description: the maximum bounds of movement, can be an (multi)polygon (for bike sharing) or a line, a trajectory (for conventional public transport)
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2119.htm
            description: ROUTING.CrossBorder possible, TOMP allowing more use cases.
        timeLimits:
          type: array
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2121.htm
            description: USAGE validITY PERIOD, except TM tells when it is allowed, TOMP tells when it is not allowed or when there is a reduction.
          items:
            $ref: "#/components/schemas/timeRestriction"

    # asset related concepts
    asset:
      description: the asset that can by applied to execute a leg.
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3578.htm
        description: VEHICLE
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA2/EA3719.htm (PARKING BAY)
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA3/EA1/EA3735.htm (CYCLE STORAGE EQUIPMENT)
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA3/EA2/EA3742.htm (VEHICLE CHARGING EQUIPMENT)
        # OR PASSENGER SPOT
      required:
        - assetType
        - mode
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description: Identifier of an asset. Preferably UUID.
        externalReference:
          $ref: "#/components/schemas/externalReference"
        visualId:
          $ref: "#/components/schemas/shortString"
          description: for instance, a license plate or seat number.

        assetType:
          $ref: "#/components/schemas/externalReference"
        mode:
          $ref: "#/components/schemas/mode"
        subMode:
          $ref: "#/components/schemas/normalString"
          description:
            a more precise classification of the asset, like 'cargo bike', 'public bus', 'coach bus', 'office bus', 'water taxi',  'segway'.
            This is mandatory when using 'OTHER' as class.
        eco:
          $ref: "#/components/schemas/ecoValues"
        cargo:
          $ref: "#/components/schemas/cargoLimits"
        appSupport:
          $ref: "#/components/schemas/appSupport"
        equipment:
          type: array
          description: list of external references
          maxItems: 100
          items:
            $ref: "#/components/schemas/externalReference"
        extraInfo:
          $ref: "#/components/schemas/customProperties"

    assetState:
      type: object
      description: the state of the asset, where is it, etc
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3583.htm
        description: VEHICLE EQUIPMENT PROFILE
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA6/EA3603.htm (EQUIPMENT)
      properties:
        mileage:
          $ref: "#/components/schemas/float"
          description: the current mileage of the asset, in km
        stateOfCharge:
          $ref: "#/components/schemas/shortInt"
          description: percentage of charge available (battery, petrol tank)
        maxRange:
          $ref: "#/components/schemas/float"
          description: maximum range in meters

    cargoLimits:
      type: object
      description: applicable properties to specify cargo space/loads
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3583.htm
        description: VEHICLE EQUIPMENT PROFILE
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA6/EA3603.htm (EQUIPMENT)
      properties:
        description:
          $ref: "#/components/schemas/longString"
          description: describes options to carry cargo, should match Content-Language
        volume:
          $ref: "#/components/schemas/normalInt"
          description: the volume in liters of the cargo
        weight:
          $ref: "#/components/schemas/normalInt"
          description: the weight in kilograms of the cargo

    damage:
      type: object
      description: A damage of the asset.
      additionalProperties: false
      required:
        - assetComponent
        - description
      properties:
        assetComponent:
          type: string
          description: Part/Component of the asset affected. If OTHER is specified the description needs to provide more detail as to what part/component is affected.<br>
          enum:
            [
              FRONT,
              REAR,
              LEFT,
              RIGHT,
              TOP,
              BOTTOM,
              INTERIOR,
              TIRE,
              ANCILLARY,
              OTHER,
            ]
        description:
          $ref: "#/components/schemas/longString"
          description: Description of the damage.
        pictures:
          type: array
          description: URL where pictures of the damage can be accessed. Any special characters in the URL must be correctly escaped.
          maxItems: 10
          items:
            $ref: "#/components/schemas/url"

    ecoValues:
      type: object
      description: applicable properties to specify ecological/environmental aspects. Derived from GBFS.
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3583.htm
        description: VEHICLE EQUIPMENT PROFILE
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA6/EA3603.htm (EQUIPMENT)
      properties:
        energyLabel:
          type: string
          description: Energy efficiency label
          enum: [A, B, C, D, E]
        ecoLabel:
          type: array
          description: see https://github.com/MobilityData/gbfs/blob/v2.3/gbfs.md
          maxItems: 3
          items:
            type: object
            properties:
              ecoSticker:
                $ref: "#/components/schemas/shortString"
              countryCode:
                $ref: "#/components/schemas/country"
        co2Emission:
          $ref: "#/components/schemas/float"
          description: the emission of grammes CO2 per km

    mode:
      type: string
      description: These classes are taken from the NeTeX standard, but ALL and UNKNOWN are removed. On the other hand OTHER and PARKING are added.
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA1/EA6/EA1/EA284.htm
        description: MODE
      enum:
        [
          AIR,
          BUS,
          TROLLEYBUS,
          TRAM,
          COACH,
          RAIL,
          INTERCITYRAIL,
          URBANRAIL,
          METRO,
          WATER,
          CABLEWAY,
          FUNICULAR,
          TAXI,
          SELFDRIVE,
          FOOT,
          BICYCLE,
          MOTORCYCLE,
          CAR,
          SHUTTLE,
          OTHER,
          PARKING,
          MOPED,
          STEP,
          FERRY,
        ]

    # traveler / customer concepts
    card:
      allOf:
        - $ref: "#/components/schemas/cardType"
        - type: object
          description: Any kind of card that isn't a license, only provide the cards that are required
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA3/EA2368.htm
            description: CUSTOMER PAYMENT MEANS
            # MISSING: Identification/Passport
            # OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA4/EA4/EA2300.htm (MEDIUM ACCESS DEVICE)
          required:
            - number
            - endvalidity
          properties:
            type:
              type: string
              description: override of the cardType.type
              enum: [CARD]
            traveller:
              $ref: "#/components/schemas/shortString"
              description: refers to the id-field of one of the travellers
            number:
              $ref: "#/components/schemas/shortString"
              description: number of the card, like ID number, credit card or bank account number
            description:
              $ref: "#/components/schemas/shortString"
              description: description of the card
            additionalNumber:
              $ref: "#/components/schemas/shortString"
              description: additional number, like CVC code or IBAN code
            endvalidity:
              $ref: "#/components/schemas/date"
              description: this card is valid until this date
            country:
              $ref: "#/components/schemas/country"

    cardType:
      type: object
      description: A generic description of a CARD
      additionalProperties: true
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA7/EA3626.htm
        description: TYPE OF PAYMENT METHOD
        # OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA4/EA4/EA2300.htm (MEDIUM ACCESS DEVICE)
        #      https://www.transmodel-cen.eu/model/EARoot/EA6/EA4/EA4/EA2302.htm (EMV CARD)
      required:
        - type
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description: a unique ID for this usage. Especially required when it is a USER PROFILE or an INDIVIDUAL TRAVELLER. Other concepts might refer to this ID.
        type:
          type: string
          enum: [CARD_TYPE]
        cardType:
          type: string
          description: The broad category of card<br>
            DISCOUNT - discount card, can be applied in the purchase process to get rebate<br>
            TRAVEL - (external) travel card, possibly paid for in other context, but also monthly, weekly or day-cards<br>
            BANK - bank card<br>
            CREDIT - credit card<br>
            ID - identification card, like an ID card<br>
            PASSPORT - passport to identify yourself<br>
            OTHER - unspecified
          enum: [DISCOUNT, TRAVEL, BANK, CREDIT, ID, PASSPORT, OTHER]
        subType:
          $ref: "#/components/schemas/shortString"
          description: For use in case of OTHER. Can be used in bilateral agreements.
        relatedProduct:
          $ref: "#/components/schemas/externalReference"
        transportOrganisations:
          type: array
          maxItems: 15
          description: references to accepting parties, only if applicable
          items:
            $ref: "#/components/schemas/externalReference"

    customer:
      description: A MaaS user that wishes to purchase a package, only use the fields required by purchase conditions
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA1/EA2333.htm
        description: TRANSPORT CUSTOMER
        # OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA1/EA2335.htm (CUSTOMER ACCOUNT)
      type: object
      required:
        - id
      properties:
        id:
          $ref: "#/components/schemas/externalReference"
          description: The identifier the MP uses to identify the customer. Could be an external referenced ID, like a ABT account number
          example: "A0-123456"
        initials:
          $ref: "#/components/schemas/tinyString"
          description: Initials of the customer
        firstName:
          $ref: "#/components/schemas/shortString"
          description: First name of the customer
          example: John
        lastName:
          $ref: "#/components/schemas/shortString"
          description: Last name of the customer
          example: Doe
        middleName:
          $ref: "#/components/schemas/tinyString"
          description: Middle name of the customer
          example: von
        prefix:
          $ref: "#/components/schemas/tinyString"
          description: prefix of the customer, like titles
        postfix:
          $ref: "#/components/schemas/tinyString"
          description: postfix of the customer, like titles
        phoneNumber:
          $ref: "#/components/schemas/normalString"
        email:
          $ref: "#/components/schemas/normalString"
          description: the email address of the customer
        dateOfBirth:
          $ref: "#/components/schemas/date"
        placeOfBirth:
          $ref: "#/components/schemas/shortString"
        countryOfBirth:
          $ref: "#/components/schemas/shortString"
        address:
          $ref: "#/components/schemas/postalAddress"
        photo:
          $ref: "#/components/schemas/longString"
          description: base64 encoded
          format: byte-array
        extraInfo:
          $ref: "#/components/schemas/customProperties"

    license:
      allOf:
        - $ref: "#/components/schemas/licenseType"
        - type: object
          description: driver or usage license for a specific user. Contains the number and the assetType you're allowed to operate (e.g. driver license for CAR)
          required:
            - traveller
            - number
          properties:
            type:
              type: string
              enum: [LICENSE]
            traveller:
              $ref: "#/components/schemas/shortString"
              description: refers to the id-field of one of the travellers
            number:
              $ref: "#/components/schemas/shortString"
              example: "1287948792"
            endvalidity:
              $ref: "#/components/schemas/date"

    licenseType:
      type: object
      description: A category of license to use a certain asset class
      additionalProperties: true
      required:
        - mode
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description: a unique ID for this usage. Especially required when it is a USER PROFILE or an INDIVIDUAL TRAVELLER. Other concepts might refer to this ID.
        type:
          type: string
          enum: [LICENSE_TYPE]
        modes:
          type: array
          items:
            $ref: "#/components/schemas/mode"
        licenseCode:
          $ref: "#/components/schemas/shortString"
          description: in most countries a driver license has also a code. As TO you can exactly verify, based on this code if the license allows to operate it's assets, if the assetType too generic.
          example: D4
        issuingCountry:
          $ref: "#/components/schemas/country"

    individualTraveller:
      type: object
      required:
        - id
        - type
      description: A generic description of a traveler, not including any identifying information
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA6/EA3/EA2/EA1/EA1/EA3977.htm
        description: INDIVIDUAL TRAVELLER
      additionalProperties: true
      properties:
        id:
          $ref: "#/components/schemas/externalReference"
        type:
          type: string
          enum: [INDIVIDUAL_TRAVELLER]
        isValidated:
          type: boolean
          description: Whether this traveler's identity and properties have been verified by the MaaS provider
        age:
          $ref: "#/components/schemas/shortInt"
          minimum: 0
          description: Age of the traveler, may be approximate
        fullName:
          $ref: "#/components/schemas/normalString"
          description: the name of the traveller, can be used to validate against ID cards
        profileReference:
          $ref: "#/components/schemas/shortString"
        customerRefefence:
          $ref: "#/components/schemas/externalReference"

    # fares & payment concepts
    fareStructure:
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA2/EA2/EA6/EA1889.htm
        description: TARIFF
      allOf:
        - $ref: "#/components/schemas/amountOfMoney"
        - type: object
          description: the total fare is the sum of all parts, except for the 'MAX' fareStructureElement. This one descripes the maximum price for the complete leg.
          additionalProperties: true
          required:
            - estimated
            - elements
          properties:
            estimated:
              type: boolean
              description: is this fare an estimation?
            description:
              $ref: "#/components/schemas/normalString"
              description: user friendly description of the fare (e.g. 'full fare'), should match Content-Language
            elements:
              type: array
              maxItems: 25
              items:
                $ref: "#/components/schemas/fareStructureElement"

    fareStructureElement:
      description:
        this describes a part of the fare (or discount). It contains a for instance the startup costs (fixed)
        or the flex part (e.g. 1.25 EUR per 2.0 MILES). The amount is tax included. In case of discounts, the values are
        negative. With 'MAX' you can specify e.g. a maximum of 15 euro per day. Percentage is mainly added for discounts.
        The `scale` properties create the ability to communicate scales (e.g. the first 4 kilometers you've to pay
        EUR 0.35 per kilometer, the kilometers 4 until 8 EUR 0.50 and above it EUR 0.80 per kilometer).
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA2/EA2/EA4/EA1844.htm
        description:
          "TIME INTERVAL PRICE - type: FLEX scaled: yes unit: time-based
          OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA2/EA2/EA4/EA1847.htm (TIME UNIT PRICE)  - type: FIXED unit: time-based
          OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA2/EA2/EA2/EA1805.htm (GEOGRAPHICAL UNIT PRICE) - type: FIXED unit: distance-based
          OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA2/EA2/EA2/EA1802.htm (GEOGRAPHICAL INTERVAL PRICE) - type: FLEX scaled: yes unit: distance-based"
      allOf:
        - $ref: "#/components/schemas/amountOfMoney"
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              description:
                type of fare structure element. If there is only one fare structure elements and this field is missing, it should
                be assumed it is 'FIXED'. In all other situations this field is mandatory.<br>
                _FIXED_ fixed element, independend on the duration or distance traveled.
                _FLEX_ flex element, dependend on the duration or distance of the package. Can be tiered.
                _MAX_ capping mechanism. Calculate the price using the sum of the FIXED and FLEX elements, cap it using this rule. Max 1 per fare structure.
              enum: [FIXED, FLEX, MAX]
            priceLevel:
              type: string
              description:
                is this the default price or is this an additional part (discount, price surge). <br>
                _DEFAULT_ the default price for this price part<br>
                _DISCOUNT_ the amount must always be negative <br>
                _SURGE_ the amount must always be positive <br>
                This also means, that when you're working with discounts or surges, you have to deliver 2 fare structure elements, one for the default price and one for the discount/surge. This can be used in combination with as
                well the fixed price parts as with the flex price parts.
              enum: [DEFAULT, DISCOUNT, SURGE]
            units:
              type: string
              description: in case of 'FLEX' mandatory, otherwise not allowed. E.g. 0.5 EUR per HOUR
              enum: [KM, SECOND, MINUTE, HOUR, MILE, PERCENTAGE]
            amountOfUnits:
              $ref: "#/components/schemas/float"
              description:
                the number of km, seconds etc. Mandatory when the type is 'FLEX', otherwise
                not allowed. In case of 0.5 EUR per 15 MINUTES, the amount is 0.5, the `amountOfUnits` must contain 15 and `units` MINUTES.
            interval:
              $ref: "#/components/schemas/interval"
            validity:
              $ref: "#/components/schemas/timeWindow"
            name:
              $ref: "#/components/schemas/normalString"
              description: an optional description of this fare structure element.
            class:
              type: string
              description:
                class of this fare structure element. Could be FARE or ANCILLARY<br>
                _FARE_ this fare structure element is related to the distance or time of usage.<br>
                _ANCILLARY_ this fare structure element is related to the rental of one or more ancillaries.
              default: "FARE"
              enum: [FARE, ANCILLARY]
            minimumAmount:
              $ref: "#/components/schemas/float"
              description: The minimum price, in the same currency as amount. Place in `amount` the most likely value.
              example: 9.00
              externalDocs:
                url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA1/EA1/EA1664.htm
            maximumAmount:
              $ref: "#/components/schemas/float"
              description: The minimum price, in the same currency as amount. Place in `amount` the most likely value.
              example: 11.00
              externalDocs:
                url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA1/EA1/EA1664.htm
            assetState:
              type: string
              description: in case the fare is dependent on being in use or being paused, this field must be used. Default IN_USE
              enum: [IN_USE, PAUSED]
              default: IN_USE
            extraInfo:
              $ref: "#/components/schemas/customProperties"

    interval:
      type: object
      required:
        - from
        - to
      properties:
        from:
          $ref: "#/components/schemas/float"
          description:
            in case of scaling, this is the bottom value (f.x. in the first hour 3 CAD, the `interval.from` should
            contain 0 and the `interval.units` HOUR). When `to` is used, but this field is missing, it should be assumed
            it is a 0.
        to:
          $ref: "#/components/schemas/float"
          description:
            the upper value of the scale (f.x. 3 CAD in the first hour, this field should contain 1,
[...]
