openapi: 3.0.0
info:
  title: Transport Operator MaaS Provider API
  description: "<h2>Context</h2>
    <p>This API allows technical communication between Transport Operators (TO) and MaaS providers (MP, and other resellers), to fulfill a complete MaaS user journey<br>
    It provides functions for Planning, Booking, Trip execution, Support, Payment and Operation Information.</p><br><br>

    For more information: <a href='https://github.com/TOMP-WG/TOMP-API/wiki/OpenAPI-entry-page'>TOMP-API wiki</a>, and <a href='https://github.com/TOMP-WG/TOMP-API/wiki/OpenAPI-code-convention'>Coding conventions</a>
    "
  version: "2.0.0"
  contact:
    name: TOMP working group
    url: https://github.com/TOMP-WG/TOMP-API
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

tags:
  - name: offers
    description: The <u>PLANNING OR OFFER MODULE</u> allows to request offers and take the first step towards a (pre-)purchase.

  - name: purchase
    description: The <u>BOOKING OR PURCHASE MODULE</u> allows to modify a package before it is PURCHASEd, e.g. assigning assets or seats and modify travellers. Finally confirming the package

  - name: trip execution
    description: The <u>TRIP EXECUTION MODULE</u> contains functionality to execute the leg(s) of purchased packages. Operations like starting, pausing and ending, but also functions like adding/removing ancillaries.

  - name: support
    description: the <u>SUPPORT MODULE</u> facilitates handling support requests

  - name: after sales
    description: the <u>PAYMENT MODULE</u> allows to request a financial transaction and report costs

  - name: discovery
    description: the <u>DISCOVERY MODULE</u> contains the technical specification of the implementation, how it works together with other standards and an endpoint to check the uptime.

# security. Allowed methods basic (in header: Authorization: Basic ZGVtbzpwQDU1dzByZA==),
#                           bearer (in header: Authorization: Bearer <token>)
#                           Api-key (in header: X-API-Key: abcdef12345)
#                           OAutb and OpenId are also available
# The exact ways to authenticate will be described in a later version
security:
  - BasicAuth: []
  - BearerAuth: []
  - ApiKeyAuth: []
  - OAuth: []
  - OpenId: []

servers:
  - url: https://tomp.dat.nl/

paths:
  # PLANNING AKA OFFER MODULE
  /offers:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] request offers"
      description: Returns offers (purchaseable packages) based on user requirements
      tags:
        - offers
      externalDocs:
        url: https://not-yet-available/
        description: OFFER REQUEST to produce OFFER DELIVERY (response)
      requestBody:
        description: the initial request, containing a TRAVEL SPECIFICATION and additional parameters per USER PROFILE or USER GROUP
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/offerRequest"
      responses:
        "200":
          description: a list of packages, if there is no option, it will return an empty list. Each offered package has a unique identifier, that can be used to purchase it.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              description: The result is valid until this timestamp. The _PRE_PURCHASED_ package expires after this timestamp.
              schema:
                $ref: "#/components/schemas/httpDate"
              required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/offerResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /offers/{id}/{offerOperation}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
      - in: path
        name: offerOperation
        description: the operation to (pre-)purchase an offer
        required: true
        schema:
          type: string
          enum: [pre-purchase, purchase]
    post:
      summary: "[MP->TO] (pre-)purchase an offered package"
      description: The offered package is transformed into a pre-purchased one. The purchase must be confirmed using the `POST /packages/{id}/commit`.
      tags:
        - offers
      externalDocs:
        url: https://not-yet-available/
        description: PURCHASE REQUEST uses the PURCHASE PARAMETERS (request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        description: additional information required to create a purchased package. This information can be retrieved from the the LEGs' **conditions**.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/purchaseRequest"

      responses:
        "201":
          description: A package was succesfully purchased (PURCHASED), or pre-purchased (PRE_PURCHASED, to be committed using the package operation COMMIT).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
        default:
          $ref: "#/components/responses/errorResponse"
        "409":
          $ref: "#/components/responses/409Conflict"
        "410":
          $ref: "#/components/responses/410Gone"

  # BOOKING AKA PURCHASE MODULE
  /packages/{id}/{operation}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
      - name: operation
        in: path
        description: OPERATION to execute
        required: true
        schema:
          $ref: "#/components/schemas/packageOperation"
    post:
      summary: "[MP<->TO] request an operation on a package"
      description: This endpoint **must** be used to alter the package.<br>
        COMMIT - confirm the purchase of this package [state is PRE_PURCHASED and becomes PURCHASED]<br>
        CANCEL - cancel this package [state is OFFERED, PRE_PURCHASED, PURCHASED and will become CANCELLED]<br>
        TRAVELLER - add, remove or change a traveller to this package [state is in OFFERED or PURCHASED]<br>
        CUSTOMER - replace a traveller in the package [state is in OFFERED or PURCHASED]<br>
        NOTIFY - request to send a notification [state is PURCHASED, STARTED or FINISHED]<br>
        FINANCIAL - a new financial journal entry has been added [state in PURCHASED, STARTED, FINISHED]<br>
        COMMIT_OPERATION - a request to commit an offer resulting from an operation (like a cancellation)
      tags:
        - purchase
        - trip execution
        - after sales
      externalDocs:
        url: https://not-yet-available/
        description: PACKAGE OPERATION REQUEST, produces a PACKAGE DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/packageOperationRequest"
      responses:
        "200":
          description: The modified package
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageOperationResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
              description: Mandatory whenever the _EXTEND_EXPIRY_TIME_ is used. It must contain the updated expiry time
              externalDocs:
                url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
                description: PURCHASE WINDOW
        default:
          $ref: "#/components/responses/errorResponse"

  /packages/{id}/legs/{legId}/{legOperation}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
      - name: legOperation
        in: path
        description: OPERATION on the LEG
        required: true
        schema:
          $ref: "#/components/schemas/legOperation"
    post:
      summary: "[MP<->TO] request {operation} on this leg"
      description: This endpoint must be used to alter the STATE of a LEG, using OPERATION requests.
      tags:
        - purchase
        - trip execution
        - after sales
      externalDocs:
        url: https://not-yet-available/
        description: LEG OPERATION REQUEST produces a LEG DETAIL DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/legOperationRequest"
      responses:
        "200":
          description: OPERATION successful, the leg is returned in the new state.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        "202":
          description: When a confirmation request has to return positive, this code has to be used
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        "400":
          description: When a confirmation request results in a denial, this code has to be used
          $ref: "#/components/responses/errorResponse"
        "503":
          description: In case of temporary malfunctioning, this response can be send (e.g. bluetooth lock jammed). See also https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After
          headers:
            Retry-After:
              description: A date after which to retry. See the Date header for more details on the HTTP date format.
              schema:
                $ref: "#/components/schemas/httpDate"
          $ref: "#/components/responses/errorResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /packages/one-stop-purchase:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] directly purchase a package, without offer"
      description: Purchases a package directly, based on the parameters.
      tags:
        - purchase
      externalDocs:
        url: https://not-yet-available/
        description: PURCHASE REQUEST, uses the ONE STOP PURCHASE REQUEST (request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/oneStoppurchaseRequest"
      responses:
        "201":
          description: a purchased package, or when it's not possible, return a 406.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
        default:
          $ref: "#/components/responses/errorResponse"

  # TRIP EXECUTION MODULE
  /packages/{id}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
    get:
      summary: "[MP->TO] request package details"
      description: Retrieves package details
      tags:
        - trip execution
      parameters:
        - in: query
          name: selection
          description: "_DETAILS_ - package specification only<br>
            _WITH_LOGS_ - package & event log<br>
            _ONLY_LOGS_ - event log only<br>
            _WITH_PROGRESS_ - package & progress<br>
            _ONLY_PROGRESS_ - progress only<br>
            _WITH_CUSTOMER - package & customer<br>
            _ALL_ - package, logs, customer & progress<br>"
          required: false
          schema:
            type: string
            enum:
              [
                ALL,
                DETAILS,
                WITH_LOGS,
                WITH_PROGRESS,
                ONLY_LOGS,
                ONLY_PROGRESS,
                WITH_CUSTOMER,
              ]
            default: DETAILS
      externalDocs:
        url: https://not-yet-available/
        description: PACKAGE DETAIL REQUEST uses the PACKAGE DETAIL (that's the package ID in URL) to produce PACKAGE DELIVERY (response)
      responses:
        "200":
          description: the details of this PACKAGE, including the customer, progress and the log containing all logged OPERATIONs.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /packages/{id}/legs/{legId}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
    get:
      summary: "[MP->TO] request leg details"
      description:
        Retrieves the latest summary of the LEG, being the execution of a part of a journey traveled using one ASSET (TYPE).
        Every LEG belongs to one PACKAGE ELEMENT, every PACKAGE has at least one LEG. Where the PACKAGE describes the agreement between user/MP and TO,
        the LEG describes the journey part as it occured.
      externalDocs:
        url: https://not-yet-available/
        description: LEG DETAIL REQUEST produces a LEG DETAIL DELIVERY (response)
      tags:
        - trip execution
      responses:
        "200":
          description: the details of the LEG, in the current LEG STATE
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /packages/{id}/legs/{legId}/available-assets:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
    get:
      summary: "[MP->TO] request available assets to assign to this leg"
      description: Returns a list of available ASSETs for the given LEG. These results can be used to call `POST /packages/{id}/legs/{legId}/ASSIGN_ASSET`.
      externalDocs:
        url: https://not-yet-available/
        description: LEG AVAILABLE ASSETS REQUEST, produces the AVAILABLE ASSETS DELIVERY (response)
      tags:
        - trip execution
      responses:
        "200":
          description: Available ASSETs for the leg. If no suitable assets are found an empty array is to be returned.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/availableAssetsResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  # SUPPORT MODULE
  /packages/{id}/legs/{legId}/support/:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] create a support ticket"
      description: creates a request for SUPPORT from end user via MP
      tags:
        - support
      externalDocs:
        url: https://not-yet-available/
        description: SUPPORT REQUEST produces a SUPPORT DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/supportTicket"
      responses:
        "200":
          description: support request acknowledged, the response contains a support ticket with a unique ID. Multiple support tickets can be created on one single leg.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supportTicket"
        default:
          $ref: "#/components/responses/errorResponse"
    get:
      summary: "[MP->TO] request for support ticket details"
      description: returns the statusses of the support tickets of this leg. Each status change will result in a new supportResponse. To find the log of the ticket, group them on ID.
      tags:
        - support
      externalDocs:
        url: https://not-yet-available/
        description: SUPPORT DETAIL REQUEST, produces a SUPPORT DETAIL DELIVERY (response)
      responses:
        "200":
          description: support status delivered
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/supportTicket"
        default:
          $ref: "#/components/responses/errorResponse"

  # PAYMENT MODULE
  /packages/payments:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/callbackUrl"
    get:
      tags:
        - after sales
      summary: "[MP->TO] retrieve financial details"
      description: Returns all the JOURNAL ENTRIES that should be paid (per LEG)
      externalDocs:
        url: https://not-yet-available/
        description: PAYMENT DETAIL REQUEST produces PAYMENT DETAIL DELIVERY (response)
      parameters:
        - name: startTime
          in: query
          description: start of the selection
          required: false
          schema:
            $ref: "#/components/schemas/dateTime"
        - name: endTime
          in: query
          description: end of the selection
          required: false
          schema:
            $ref: "#/components/schemas/dateTime"
        - name: invoiceState
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/paymentState"
        - name: id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/uuid"
        - name: category
          in: query
          description: type of PAYMENT DETAIL (e.g. fare, addition costs, fines, ...)
          required: false
          schema:
            $ref: "#/components/schemas/paymentCategory"
        - name: offset
          in: query
          description: start of the selection
          required: false
          schema:
            $ref: "#/components/schemas/normalInt"
        - name: limit
          in: query
          description: max length of the selection
          required: false
          schema:
            $ref: "#/components/schemas/normalInt"
      responses:
        "200":
          description: journal entries
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paymentResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  # DISCOVERY
  /discovery:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
    get:
      tags:
        - discovery
      summary: "[TO<->MP] discover the API"
      description: "All implemented endpoints are described, including the list of PROCESS IDENTIFIERs."
      responses:
        "200":
          description: successful operation
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/discoveryResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /ping:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
    get:
      tags:
        - discovery
      summary: "[TO<->MP] is the API available?"
      description: "[MP|TO] This is a healthcheck ENDPOINT to see if the TO is up and running perfectly."
      responses:
        "204":
          description: successful operation
        default:
          $ref: "#/components/responses/errorResponse"

components:
  schemas:
    # parameters & responses
    oneStoppurchaseRequest:
      externalDocs:
        url: https://not-yet-available/
        description: package PURCHASE PARAMETERS
      allOf:
        - $ref: "#/components/schemas/offerRequest"
        - type: object
          properties:
            customer:
              $ref: "#/components/schemas/customer"
              description: The user that wants to purchase this package

    offerRequest:
      type: object
      description: A package planning request, resulting in package options
      required:
        - specification
      properties:
        type:
          type: string
          enum: [ VEHICLE, PT_LOCATIONS, PT_ZONES, PT_ORGANISATION, FIXED_LOCATION ]
        specification:
          $ref: "#/components/schemas/travelSpecification"
        parameters:
          type: array
          items:
            $ref: "#/components/schemas/parameter"
      example: {
        "specification": {
          "from": "gps:6.234,51.6923",
          "via": [ "NSR:Quay:108842" ],
          "to": "RUT:ScheduledStopPoint:28482",
          "startTime": "2019-10-12T07:20:50.52Z",
          "endTime": "2019-10-12T07:20:50.52Z",
        },
        "parameters": [
          { "usage": [ 
              { "type": "USER_PROFILE", "ageGroup": "ADULT", "id": "ADULT" },
              { "type": "ENTITLEMENT", "entitlementType": "NO:MILITARY", "user": "ADULT" },
              { "type": "COMMERCIAL_PROFILE", "code": "VX34-348J-EI7y", "user": "ADULT" },
              { "type": "LICENSE_TYPE", "modes": [ "CAR" ], "user": "ADULT" },
              { "type": "INDIVIDUAL_TRAVELLER", "id": "34924-3A334B-C342D" }
            ],
            "validities": [
              { "type": "SERVICE", "class": "FIRST" },
              { "type": "SEATING", "spotType": "LUGGAGE_SPOT" }
            ]
          }
        ]
      }

    travelSpecification:
      type: object
      required:
        - from
      properties:
        from:
          $ref: "#/components/schemas/shortString"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: "gps:6.234,51.6923"
        via:
          type: array
          items:
            $ref: "#/components/schemas/shortString"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: ["NSR:Quay:108842"]
        to:
          $ref: "#/components/schemas/shortString"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: "RUT:ScheduledStopPoint:28482"
        startTime:
          $ref: "#/components/schemas/dateTime"
          description: The intended departure time.
            If left out and no endTime is set, the current time should be assumed.
            If only the arrival time is specified, this is an implicit request for a guaranteed arrival at that time.
        endTime:
          $ref: "#/components/schemas/dateTime"
          description: The intended arrival time, at the `to place`. When the **startTime** is not set, and **endTime** is set, it is an implicit request for an arrival time guarantee.
        placeDefinitions:
          type: object
          description: the definitions of the places. If a place is not specified here, the external source must be traceable using the /discovery endpoint.
          additionalProperties:
            $ref: "#/components/schemas/place"
          example:
            "gps:6.234,51.6923": { "type": "gps", "lng": 6.234, "lat": 51.6923 }
            "NSR:Quay:108842":
              { "type": "external",
                "id": "NSR:Quay:108842",
                "format": "NeTEx",
                "url": "https://storage.googleapis.com/marduk-production/outbound/netex/rb_rut-aggregated-netex.zip#_RUT_shared_data.xml",
              }

    parameter:
      type: object
      properties:
        usage:
          type: array
          items:
            $ref: "#/components/schemas/usage"
          example:
            [
              { "type": "USER_PROFILE", "ageGroup": "ADULT", "id": "ADULT" },
              {
                "type": "ENTITLEMENT",
                "entitlementType": "NO:MILITARY",
                "user": "ADULT",
              },
              {
                "type": "COMMERCIAL_PROFILE",
                "code": "VX34-348J-EI7y",
                "user": "ADULT",
              },
              { "type": "LICENSE_TYPE", "modes": ["CAR"], "user": "ADULT" },
              { "type": "INDIVIDUAL_TRAVELLER", "id": "34924-3A334B-C342D" },
            ]
        validities:
          type: array
          items:
            $ref: "#/components/schemas/validityParameter"
          example:
            [
              { "type": "SERVICE", "class": "FIRST" },
              { "type": "SEATING", "spotType": "LUGGAGE_SPOT" },
            ]

    usage:
      type: object
      discriminator:
        propertyName: type
        mapping:
          INDIVIDUAL_TRAVELLER: "#/components/schemas/individualTraveller"
          USER_PROFILE: "#/components/schemas/userProfile"
          GROUP_PROFILE: "#/components/schemas/groupProfile"
          COMPANION_PROFILE: "#/components/schemas/companionProfile"
          COMMERCIAL_PROFILE: "#/components/schemas/commercialProfile"
          ENTITLEMENT: "#/components/schemas/entitlementGiven"
          CARD_TYPE: "#/components/schemas/cardType"
          CARD: "#/components/schemas/card"
          LICENSE_TYPE: "#/components/schemas/licenseType"
          LICENSE: "#/components/schemas/license"
      required:
        - type
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description: a unique ID for this usage. Especially required when it is a USER PROFILE or an INDIVIDUAL TRAVELLER. Other concepts might refer to this ID.
        type:
          type: string
          enum:
            [
              INDIVIDUAL_TRAVELLER,
              USER_PROFILE,
              GROUP_PROFILE,
              COMPANION_PROFILE,
              COMMERCIAL_PROFILE,
              ENTITLEMENT,
              CARD_TYPE,
              CARD,
              LICENSE_TYPE,
              LICENSE,
            ]

    userProfile:
      allOf:
        - $ref: "#/components/schemas/usage"
        - type: object
          properties:
            minimumAge:
              $ref: "#/components/schemas/shortInt"
            maximumAge:
              $ref: "#/components/schemas/shortInt"
            monthDayOnWhichAgeApplies:
              $ref: "#/components/schemas/shortInt"
            ageGroup:
              type: string
              enum: [ANYONE, INFANT, CHILD, YOUTH, ADULT, SENIOR]
            minimumHeight:
              $ref: "#/components/schemas/shortInt"
            maximumHeight:
              $ref: "#/components/schemas/shortInt"
            localResident:
              type: boolean
            genderLimitation:
              type: boolean

    companionProfile:
      allOf:
        - $ref: "#/components/schemas/usage"
        - type: object
          properties:
            minimumNumberAllowed:
              $ref: "#/components/schemas/shortInt"
            maximumNumberAllowed:
              $ref: "#/components/schemas/shortInt"

    groupProfile:
      allOf:
        - $ref: "#/components/schemas/usage"
        - type: object
          externalDocs:
            url: https://transmodel/GroupTicket
          properties:
            id:
              $ref: "#/components/schemas/shortString"
            name:
              $ref: "#/components/schemas/normalString"
            profiles:
              type: array
              items:
                allOf:
                  - $ref: "#/components/schemas/userProfile"
                  - type: object
                    required:
                      - quantity
                    properties:
                      quantity:
                        $ref: "#/components/schemas/shortInt"

    commercialProfile:
      allOf:
        - $ref: "#/components/schemas/usage"
        - type: object
          properties:
            id:
              $ref: "#/components/schemas/shortString"
            code:
              $ref: "#/components/schemas/shortString"
            name:
              $ref: "#/components/schemas/normalString"

    entitlementGiven:
      allOf:
        - $ref: "#/components/schemas/usage"
        - type: object
          required:
            - entitlementType
          properties:
            entitlementType:
              $ref: "#/components/schemas/normalString"
            id:
              $ref: "#/components/schemas/normalString"

    validityParameter:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ORGANISATIONAL: "#/components/schemas/organisationalValidityParameter"
          SEATING: "#/components/schemas/seatingValidityParameter"
          DISTRIBUTION: "#/components/schemas/distributionValidityParameter"
          NETWORK: "#/components/schemas/networkValidityParameter"
          ROUTING: "#/components/schemas/routingValidityParameter"
          SERVICE: "#/components/schemas/serviceValidityParameter"
          TEMPORAL: "#/components/schemas/temporalValidityParameter"
          #entitlementProduct: "#/components/schemas/externalReference"
          FARE_PRODUCT: "#/components/schemas/externalReference"
          EQUIPMENT: "#/components/schemas/equipmentValidityParameter"
      required:
        - type
      properties:
        type:
          type: string
          enum:
            [
              ORGANISATIONAL,
              SEATING,
              DISTRIBUTION,
              NETWORK,
              ROUTING,
              SERVICE,
              TEMPORAL,
              FARE_PRODUCT,
              EQUIPMENT
            ]

    equipmentValidityParameter:
      allOf:
        - $ref: "#/components/schemas/validityParameter"
        - type: object
          properties:
            name:
              $ref: "#/components/schemas/shortString"
            description:
              $ref: "#/components/schemas/longString"
            infoLink:
              $ref: "#/components/schemas/url"
            id:
              $ref: "#/components/schemas/shortString"
            image:
              $ref: "#/components/schemas/url"
            externalReference:
              $ref: "#/components/schemas/shortString"

    temporalValidityParameter:
      allOf:
        - $ref: "#/components/schemas/validityParameter"
        - type: object
          properties:
            startTime:
              $ref: "#/components/schemas/dateTime"
            endTime:
              $ref: "#/components/schemas/dateTime"
            duration:
              $ref: "#/components/schemas/normalInt"
            dayType:
              $ref: "#/components/schemas/day"

    seatingValidityParameter:
      allOf:
        - $ref: "#/components/schemas/validityParameter"
        - type: object
          properties:
            spotType:
              type: string
              enum: [VEHICLE_SPOT, PASSENGER_SPOT, LUGGAGE_SPOT]
            deck:
              $ref: "#/components/schemas/shortString"
            space:
              $ref: "#/components/schemas/shortString"
            spot:
              $ref: "#/components/schemas/shortString"

    networkValidityParameter:
      allOf:
        - $ref: "#/components/schemas/validityParameter"
        - type: object
          properties:
            line:
              $ref: "#/components/schemas/externalReference"
            zones:
              type: array
              items:
                $ref: "#/components/schemas/externalReference"

    routingValidityParameter:
      allOf:
        - $ref: "#/components/schemas/validityParameter"
        - type: object
          properties:
            journeyPattern:
              type: array
              items:
                $ref: "#/components/schemas/externalReference"

    serviceValidityParameter:
      allOf:
        - $ref: "#/components/schemas/validityParameter"
        - type: object
          properties:
            assetType:
              $ref: "#/components/schemas/externalReference"
            asset:
              $ref: "#/components/schemas/externalReference"
            serviceJourney:
              $ref: "#/components/schemas/externalReference"
            userNeeds:
              type: array
              items:
                $ref: "#/components/schemas/userNeeds"
            class:
              $ref: "#/components/schemas/classOfUse"
            facilities:
              type: array
              items:
                $ref: "#/components/schemas/facility"

    userNeeds:
      type: object
      properties:
        externalSpecified:
          type: array
          items:
            $ref: "#/components/schemas/externalReference"
        encumbrance:
          type: array
          items:
            type: string
            enum:
              [
                PUSH_CHAIR,
                BAGGAGE_TROLLEY,
                OVERSIZED_BAGGAGE,
                GUIDE_DOG,
                OTHER_ANIMAL,
                OTHER_ENCUMBRANCE_NEED,
                LAGGAGE_ENCUMBRANCE,
              ]
        medical:
          type: array
          items:
            type: string
            enum: [HEART_CONDITION, OTHER_CONDITION, ALLERGIC]
        mobility:
          type: array
          items:
            type: string
            enum:
              [
                WHEEL_CHAIR,
                ASSISTED_WHEEL_CHAIR,
                MOTORIZED_WHEELCHAIR,
                MOBILITY_SCOOTER,
                ROAD_MOBILITY_SCOOTER,
                WALKING_FRAME,
                RESTRICTED_MOBILITY,
                NORMAL_MOBILITY,
                OTHER_MOBILITY_NEED,
              ]
        psychosensory:
          type: array
          items:
            type: string
            enum:
              [
                VISUAL_IMPAIRMENT,
                AUDITORY_IMPAIRMENT,
                COGNITIVE_IMPAIRMENT,
                AVERSE_TO_LIFTS,
                AVERSE_TO_ESCALATORS,
                AVERSE_TO_CONFINED_SPACES,
                AVERSE_TO_CROWDS,
                OTHER_PSYCHO_SENSORY_NEED,
              ]

    onboardStay:
      allOf:
        - $ref: "#/components/schemas/facility"
        - type: object
          description: Permission to board early before the journey or stay on board after the journey.
          properties:
            description:
              $ref: "#/components/schemas/longString"
            classOfUse:
              $ref: "#/components/schemas/classOfUse"
            permission:
              type: boolean
            duration:
              $ref: "#/components/schemas/shortString"

    accommodation:
      allOf:
        - $ref: "#/components/schemas/facility"
        - type: object
          description: A combination of accommodation characteristics available on a service, e.g. "First Class Couchette with shower and 2 bunks".
          properties:
            description:
              $ref: "#/components/schemas/longString"
            classOfUse:
              $ref: "#/components/schemas/classOfUse"
            name:
              $ref: "#/components/schemas/shortString"
            gender:
              type: string
              enum: [M, F, X, U]
            berthType:
              type: string
              enum: [SLEEPER]
            nuisanceFacility:
              type: array
              items:
                $ref: "#/components/schemas/shortString"

    facility:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ONBOARD_STAY: "#/components/schemas/onboardStay"
          ACCOMODATION: "#/components/schemas/accommodation"
      required:
        - type
      properties:
        type:
          type: string
          enum: [ONBOARD_STAY, ACCOMODATION]

    classOfUse:
      type: string
      description: A classification of fare and other service classes by category of user entitled to use them.
      enum:
        [
          FIRST_CLASS,
          SECOND_CLASS,
          THIRD_CLASS,
          ECONOMY_CLASS,
          BUSINESS_CLASS,
          TURISTA,
          PREFERENTE,
          PREMIUM_CLASS,
          ANY,
          UNKNOWN,
        ]

    distributionValidityParameter:
      allOf:
        - $ref: "#/components/schemas/validityParameter"
        - type: object
          properties:
            fulfilmentMethod:
              $ref: "#/components/schemas/normalString"
            distributionChannel:
              $ref: "#/components/schemas/normalString"

    organisationalValidityParameter:
      allOf:
        - $ref: "#/components/schemas/validityParameter"
        - type: object
          properties:
            id:
              $ref: "#/components/schemas/shortString"
            name:
              $ref: "#/components/schemas/normalString"
            legalName:
              $ref: "#/components/schemas/normalString"

    offerResponse:
      type: object
      description: Offers, purchaseable package options that fulfil the constraints of the request
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA4/EA5/EA3156.htm
        description: package OFFER DELIVERY
      required:
        - endValidity
        - offers
      properties:
        endValidity:
          description: The date-time until which the presented options are (likely) available
          $ref: "#/components/schemas/dateTime"
        offers:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/offeredPackage"
        unavailable:
          type: array
          items:
            $ref: "#/components/schemas/parameter"
          example: [
            { "validities": [ { "type": "SERVICE", "serviceJourney": "RUT:ServiceJourney:34929" }  ] }
          ]

    purchaseRequest:
      type: object
      description: A request to purchase a package, to be performed by the MP
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA4/EA5/EA3147.htm
        description: package PURCHASE REQUEST used to create a package DELIVERY (packageResponse).
      properties:
        travellerDetails:
          type: array
          description: (Required) additional information about the travellers, as requested in the conditions
          maxItems: 50
          items:
            $ref: "#/components/schemas/parameter"
          example: {
            "usage": [{ "id": "460facd5-02d4-440f-a638-3e758434964f",
                        "type": "INDIVIDUAL_TRAVELLER",
                        "fullName": "J. Doe",
                        "profileReference": "ADULT"
                      }, 
                      { "id": "7db286f1-27e0-4a40-a902-5adeb9f7b397",
                        "type": "LICENSE",
                        "modes": [ "CAR" ],
                        "licenseCode": "4952034-34334HER",
                        "issuingCountry": "NO",
                        "traveller": "460facd5-02d4-440f-a638-3e758434964f"
                      }],
            "validities": [ { "type": "DISTRIBUTION", "fulfilmentMethod": "PDF" } ]
          }
        customer:
          $ref: "#/components/schemas/customer"
          description: The user that wants to purchase this package, only to supply when requested in the conditions

    packageOperationResponse:
      type: object
      discriminator:
        propertyName: type
        mapping:
          PACKAGE: "#/components/schemas/packageResponse"
          OFFERS: "#/components/schemas/offeredPackageResponse"
      properties:
        type:
          type: string
          enum: [PACKAGE, OFFERS]

    offeredPackageResponse:
      type: object
      properties:
        offers:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/package"
              - $ref: "#/components/schemas/halLinks"
                default:
                "_links":
                  {
                    "commit_operation":
                      {
                        "rel": "POST",
                        "href": "/packages/{id}/commit_operation",
                        "type": "application/hal+json",
                        "templated": true,
                      },
                  }

    packageResponse:
      externalDocs:
        url: https://not-yet-available/
        description:
          package PURCHASE DELIVERY, package OPERATION DELIVERY, package DETAIL DELIVERY.
      allOf:
        - $ref: "#/components/schemas/package"
        - $ref: "#/components/schemas/halLinks"
          example:
          "_links":
            {
              "commit":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/COMMIT",
                  "type": "application/hal+json",
                  "templated": true,
                },
              "cancel":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/CANCEL",
                  "type": "application/hal+json",
                  "templated": true,
                },
              "extend_expiry_time":
                {
                  "rel": "EXTEND_EXPIRY_TIME",
                  "href": "/packages/{id}/EXTEND_EXPIRY_TIME",
                  "type": "application/hal+json",
                  "templated": true,
                },
            }

    packageDetailResponse:
      allOf:
        - $ref: "#/components/schemas/packageResponse"
        - type: object
          properties:
            log:
              type: array
              maxItems: 100
              items:
                $ref: "#/components/schemas/logEntry"
            customer:
              $ref: "#/components/schemas/customer"
              description: the customer purchasing this package
            progress:
              $ref: "#/components/schemas/geojsonLine"
              description: A list of COORDINATEs describing the progress so far as LINESTRING (GeoJSON)

    packageOperationRequest:
      type: object
      description: operation request for the (pre-)purchase, trip execution or after sales phase
      externalDocs:
        url: https://not-yet-available/
        description: OPERATION REQUEST. Delivers package DETAIL DELIVERY (packageResponse)
      additionalProperties: false
      required:
        - timestamp
        - type
      properties:
        type:
          $ref: "#/components/schemas/packageOperation"
          description: the 'operation' in the url must match with the type of the packageOperationRequest
        timestamp:
          $ref: "#/components/schemas/dateTime"
          description: timestamp of the operation, or in case of notification - ETA, the expected time of arrival.
        comment:
          $ref: "#/components/schemas/longString"
          description: free text, should match Content-Language. Also used for reason or notification.
      discriminator:
        propertyName: type
        # COMMIT, CANCEL, NOTIFY, EXTEND_EXPIRY_TIME, CUSTOMER, TRAVELLER, FINANCIAL
        mapping:
          COMMIT: "#/components/schemas/packageOperationRequest"
          CANCEL: "#/components/schemas/operationWithOffersRequest"
          NOTIFY: "#/components/schemas/notificationRequest"
          EXTEND_EXPIRY_TIME: "#/components/schemas/extendExpiryTimeRequest"
          CUSTOMER: "#/components/schemas/customerRequest"
          TRAVELLER: "#/components/schemas/travellerRequest"
          FINANCIAL: "#/components/schemas/financialRequest"

    legOperationRequest:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/legOperation"
        timestamp:
          $ref: "#/components/schemas/dateTime"
          description: timestamp of the operation, or in case of notification - ETA, the expected time of arrival.
      discriminator:
        propertyName: type
        # CANCEL, NOTIFY, CONFIRM, REPORT_PROGRESS, FINANCIAL_TRANSACTION, ASSIGN_ASSET, CHANGE_START_TIME, CHANGE_END_TIME, ANCILLARY, PREPARE, SET_IN_USE, PAUSE, START_FINISHING, FINISH, OPEN_TRUNK, SEND_EVIDENCE_PARKED, SEND_EVIDENCE_HELMET, SEND_EVIDENCE_CHARGER
        mapping:
          CANCEL: "#/components/schemas/legOperationRequest"
          NOTIFY: "#/components/schemas/notificationRequest"
          REPORT_PROGRESS: "#/components/schemas/progressRequest"
          FINANCIAL_TRANSACTION: "#/components/schemas/legOperationRequest"
          CONFIRM: "#/components/schemas/assetRequest"
          ASSIGN_ASSET: "#/components/schemas/assetRequest"
          CHANGE_START_TIME: "#/components/schemas/timeRequest"
          CHANGE_END_TIME: "#/components/schemas/timeRequest"
          ANCILLARY: "#/components/schemas/ancillaryRequest"
          PREPARE: "#/components/schemas/tripExecutionRequest"
          SET_IN_USE: "#/components/schemas/tripExecutionRequest"
          PAUSE: "#/components/schemas/tripExecutionRequest"
          START_FINISHING: "#/components/schemas/tripExecutionRequest"
          FINISH: "#/components/schemas/tripExecutionRequest"
          OPEN_TRUNK: "#/components/schemas/tripExecutionRequest"
          SEND_EVIDENCE_PARKED: "#/components/schemas/evidenceRequest"
          SEND_EVIDENCE_HELMET: "#/components/schemas/evidenceRequest"
          SEND_EVIDENCE_CHARGER: "#/components/schemas/evidenceRequest"

    timeRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            timestamp:
              $ref: "#/components/schemas/dateTime"

    assetRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            asset:
              $ref: "#/components/schemas/asset"
      # REQUEST to CONFIRM to replace assigned asset with the specified one
      example: { "type": "CONFIRM",
                 "timestamp": "2019-10-12T07:20:50.52Z",
                 "asset": {
                    "assetType": "E-Bike",
                    "mode": "BIKE",
                    "externalAssetReference": "CHIC-3492" } }

    tripExecutionRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            location:
              $ref: "#/components/schemas/coordinates"
              description: location of the user
      example: {"type": "SET_IN_USE",
                "timestamp": "2019-10-12T07:20:50.52Z",
                "location": { "type": "GPS", "lng": 6.169639, "lat": 52.253279 } }

    evidenceRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            urls:
              type: array
              description: urls to support the operation e.g. pictures justifying the exit conditions
              maxItems: 10
              items:
                $ref: "#/components/schemas/url"

    notificationRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          required:
            - notificationType
          properties:
            source:
              type: string
              description:
                This operation can be done on behalf of another party. The MP can act on behalf of the CUSTOMER (cancel this package for me); to override the default source.<br>
                In case this field is missing, it must be assumed that the MP is requesting the operations.<br>
                _TO_ the TO requests this operation<br>
                _MP_ the MP (not triggered by the travellers NOR customer)<br>
                _TRAVELLER_ the TRAVELLER triggered this request<br>
                _CUSTOMER_ the CUSTOMER triggered this request. In case the traveller and customer are the same, take _CUSTOMER_.<br>
                _OTHER_ unknown source
              enum: [TO, MP, TRAVELLER, CUSTOMER, DRIVER, OTHER]
            notificationType:
              type: string
              description: <br>
                * _VEHICLE_NOT_AVAILABLE_ [MP->TO] in case of a missing vehicle at departure location & time<br>
                * _USER_NO_SHOW_ [TO->MP, OnDemand/taxi] the traveler didn't show up on the departure location & time  <br>
                * _ETA_ [TO->MP, OnDemand/taxi] Estimated time of arrival at the departure location [others] at the destination location. User friendly message is in **comment**  <br>
                * _MESSAGE_TO_DRIVER_ [MP->TO] text messages to the driver, provided by the MP or traveler(s). Text is in **comment**  <br>
                * _MESSAGE_TO_END_USER_ [TO->MP] text message to show to the traveler(s). Text is in **comment**  <br>
                * _USER_OUT_OF_LIMITS_ [TO->MP] indication to signal to the driver/traveler(s) they are (about to get) out of limits. Text is in **comment**  <br>
                * _OTHER_ [TO->MP] unspecified. Text is in **comment**  <br>
                * _LOCKED_ [TO->MP] asset is locked  <br>
                * _UNLOCKED_ [TO->MP] asset is unlocked  <br><br>

                TO CONTROLLED (Process Identifier)<br>
                * _PREPARING_ [TO->MP] the leg is in preparation  <br>
                * _IN_USE_ [TO->MP] leg has started  <br>
                * _PAUSED_ [TO->MP] leg is paused  <br>
                * _RESUMED_ [TO->MP] leg is resumed  <br>
                * _FINISHING_ [TO->MP] leg is in finishing state  <br>
                * _FINISHED_ [TO->MP] leg has ended
              enum:
                [
                  VEHICLE_NOT_AVAILABLE,
                  USER_NO_SHOW,
                  ETA,
                  MESSAGE_TO_DRIVER,
                  MESSAGE_TO_END_USER,
                  USER_OUT_OF_LIMITS,
                  OTHER,
                  LOCKED,
                  UNLOCKED,
                  PREPARING,
                  IN_USE,
                  PAUSED,
                  RESUMED,
                  FINISHING,
                  FINISHED,
                ]
              example: VEHICLE_NOT_AVAILABLE
            location:
              $ref: "#/components/schemas/coordinates"
            assetState:
              $ref: "#/components/schemas/assetState"
      example: {  "type": "NOTIFY",
                  "timestamp": "2019-10-12T07:20:50.52Z",
                  "notificationType": "ETA",
                  "location": { "type": "GPS", "lng": 6.169639, "lat": 52.253279 } }

    packageOperationWithOffersRequest:
      allOf:
        - $ref: "#/components/schemas/packageOperationRequest"
        - type: object
          properties:
            requestOffers:
              type: boolean
              description: specify 'false' when you don't want offers, but an immediate adjustment of the package
              default: true

    progressRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          properties:
            location:
              $ref: "#/components/schemas/coordinates"
            assetState:
              $ref: "#/components/schemas/assetState"
            distance:
              $ref: "#/components/schemas/float"
              description: the travelled distance, in km. Only if applicable.
            distanceUnits:
              type: string
              enum: [KM, MILE]
            duration:
              $ref: "#/components/schemas/longInt"
              description: the time in seconds that the assed is used. Only if applicable.

    extendExpiryTimeRequest:
      allOf:
        - $ref: "#/components/schemas/packageOperationRequest"
        - type: object
          properties:
            extensionReason:
              type: string
              description:
                in case operation is EXTEND_EXPIRY_TIME, the reason for extension must be supplied here.<br>
                _PURCHASE_PENDING_ - The internal purchase process on the MP side is not yet finished<br>
                _PAYMENT_PENDING_ - The customer is in the payment process<br>
                _OTHER_ - unspecified
              enum: [PURCHASE_PENDING, PAYMENT_PENDING, OTHER]

    ancillaryRequest:
      allOf:
        - $ref: "#/components/schemas/legOperationRequest"
        - type: object
          required:
            - operation
            - ancillaryParameters
          properties:
            operation:
              type: string
              enum: [ADD, REMOVE]
            ancillaryParameters:
              $ref: "#/components/schemas/parameter"
      example: { "type": "ANCILLARY",
                "timestamp": "2019-10-12T07:20:50.52Z",
                "operation": "ADD",
                "ancillaryParameters": {
                  "validities": [
                    {
                      "type": "EQUIPMENT",
                      "id": "HELMET-#349",
                      "name": "Bike helmet, adult M"
                    }
                  ]
                }
              }

    travellerRequest:
      allOf:
        - $ref: "#/components/schemas/packageOperationWithOffersRequest"
        - type: object
          required:
            - operation
            - travellerParameters
          properties:
            operation:
              type: string
              enum: [ADD, REMOVE, UPDATE]
            travellerParameters:
              type: array
              items:
                $ref: "#/components/schemas/parameter"
      example: {"type": "TRAVELLER",
                "timestamp": "2019-10-12T07:20:50.52Z",
                "requestOffers": true,
                "operation": "ADD",
                "travellerParameters": [ { "usage": [ { "type": "INDIVIDUAL_TRAVELLER",
                                                        "id": "34924-3A334B-C342D",
                                                        "fullName": "B. Doe"
                                                      }
                                                    ],
                                                    "validities": [
                                                      { "type": "SERVICE", "class": "FIRST" },
                                                      { "type": "DISTRIBUTION", "fulfilmentMethod": "PDF" }
                                                    ] } ] }

    customerRequest:
      description: update the customer with the supplied information
      allOf:
        - $ref: "#/components/schemas/packageOperationWithOffersRequest"
        - type: object
          required:
            - customer
          properties:
            customer:
              $ref: "#/components/schemas/customer"
      example: {"type": "CUSTOMER",
                "timestamp": "2019-10-12T07:20:50.52Z",
                "requestOffers": false,
                "customer": {
                  "id": "ABT-3942349-DFRK",
                  "email": "j.doe@newmail.com" } }

    financialRequest:
      allOf:
        - $ref: "#/components/schemas/packageOperationRequest"
        - type: object
          required:
            - additionalCosts
          properties:
            additionalCosts:
              $ref: "#/components/schemas/additionalCosts"
      example: { "type": "FINANCIAL",
                "timestamp": "2019-10-12T07:20:50.52Z",
                "additionalCosts": {
                  "amount": 3.95,
                  "currencyCode": "NOK",
                  "category": "VOUCHER",
                  "description": "Frequent traveller reward" } }

    ## trip execution
    availableAssetsResponse:
      type: array
      description: container to return assets, including their possible operations (assign asset).
      externalDocs:
        url: https://not-yet-available/
        description: package AVAILABLE ASSETS DELIVERY, corresponding with the package AVAILABLE ASSETS REQUEST (= POST /packages/{id}/legs/{legId}/available-assets)
      maxItems: 100
      items:
        allOf:
          - $ref: "#/components/schemas/asset"
          - type: object
            properties:
              state:
                $ref: "#/components/schemas/assetState"
              fare:
                $ref: "#/components/schemas/fareStructure"
              location:
                $ref: "#/components/schemas/place"
              damages:
                type: array
                description: List of known asset damages.
                maxItems: 100
                items:
                  $ref: "#/components/schemas/damage"
          - $ref: "#/components/schemas/halLinks"
            default:
            "_links":
              {
                "assign_asset":
                  {
                    "rel": "POST",
                    "href": "/packages/{id}/legs/{legId}/ASSIGN_ASSET",
                    "type": "application/hal+json",
                    "templated": true,
                  },
              }

    legDetailResponse:
      externalDocs:
        url: https://not-yet-available/
        description: LEG DETAIL DELIVERY (delivery of LEG DETAIL REQUEST & LEG OPERATION REQUEST)
      allOf:
        - $ref: "#/components/schemas/leg"
        - $ref: "#/components/schemas/halLinks"
          default:
          "_links": {
              "leg":
                {
                  "rel": "GET",
                  "href": "/packages/{id}/legs/{legId}",
                  "templated": true,
                  "type": "application/hal+json",
                },
              # only when legState = NOT_STARTED
              "cancel":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/CANCEL",
                  "templated": true,
                  "type": "application/hal+json",
                },
              "prepare":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/PREPARE",
                  "templated": true,
                  "type": "application/hal+json",
                },
              "assign_asset":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/ASSIGN_ASSET",
                  "templated": true,
                  "type": "application/hal+json",
                },
              "change_start_time":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/CHANGE_START_TIME",
                  "templated": true,
                  "type": "application/hal+json",
                },
              # only when legState = NOT_STARTED OR PREPARING
              "add_ancillaries":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/ANCILLARY",
                  "templated": true,
                  "type": "application/hal+json",
                },
              "remove_ancillaries":
                {
                  "rel": "DELETE",
                  "href": "/packages/{id}/legs/{legId}/ANCILLARY",
                  "templated": true,
                  "type": "application/hal+json",
                },
              "set_in_use":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/SET_IN_USE",
                  "templated": true,
                  "type": "application/hal+json",
                },
              # only when legState = IN_USE
              "pause":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/PAUSE",
                  "templated": true,
                  "type": "application/hal+json",
                },
              "open_trunk":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/OPEN_TRUNK",
                  "type": "application/hal+json",
                },
              "start_finishing":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/START_FINISHING",
                  "templated": true,
                  "type": "application/hal+json",
                },
              "finish":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/FINISH",
                  "templated": true,
                  "type": "application/hal+json",
                },
              # when legState not in FINISHED or FINISHING
              "change_end_time":
                {
                  "rel": "POST",
                  "href": "/packages/{id}/legs/{legId}/CHANGE_END_TIME",
                  "templated": true,
                  "type": "application/hal+json",
                },
            }

    ## support

    ## discovery
    discoveryResponse:
      type: object
      description: a complete endpoint description, containing all endpoints, their status, but also the served scenarios and implemented process flows. The identifiers for the process flows can be found at https://github.com/TOMP-WG/TOMP-API/wiki/ProcessIdentifiers<br>
      additionalProperties: false
      externalDocs:
        url: https://not-yet-available/
        description: Out of scope for Transmodel.
      required:
        - endpoints
      properties:
        endpoints:
          type: array
          maxItems: 25
          items:
            $ref: "#/components/schemas/endpoint"
        externalDataSources:
          type: object
          description: array of external datasources, the allowed keys are described in 'type' field of the externalDataSource
          additionalProperties:
            $ref: "#/components/schemas/externalDataSource"
        processIdentifiers:
          type: array
          description: an array with 'care labels', indiacting how this implementation wants to be treated.
          maxItems: 10
          externalDocs:
            url: https://github.com/TOMP-WG/TOMP-API/wiki/ProcessIdentifiers
            description: overview of all existing process identifiers, clarifying how this implementation of the API should be used.
          items:
            $ref: "#/components/schemas/processIdentifier"
          example:
            [
              {
                "module": "PURCHASE",
                "identifiers":
                  ["ACCESS_CODE_AZTEC", "ACCESS_CODE_IN_COMMIT_EVENT"],
              },
            ]
        conditions:
          type: array
          description: common conditions for this TO
          maxItems: 5
          items:
            $ref: "#/components/schemas/condition"

    ## after sales
    paymentResponse:
      externalDocs:
        url: https://not-yet-available/
        description: PAYMENT DETAIL DELIVERY, corresponding with PAYMENT DETAIL REQUEST (= GET /payments/?query)
      allOf:
        - type: array
          maxItems: 500
          items:
            $ref: "#/components/schemas/paymentDetail"
        - $ref: "#/components/schemas/halLinks"
          default:
            "_links":
              {
                "self":
                  {
                    "rel": "GET",
                    "href": "/payments&offset=100&limit=100",
                    "type": "application/hal+json",
                  },
                "next":
                  {
                    "rel": "GET",
                    "href": "/payments&offset=200&limit=100",
                    "type": "application/hal+json",
                  },
                "previous":
                  {
                    "rel": "GET",
                    "href": "/payments&limit=100",
                    "type": "application/hal+json",
                  },
              }

    # package concepts
    leg:
      type: object
      description: A planned (segment of a) package using one asset
      required:
        - id
        - from
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2962.htm
        description: LEG
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description:
            The unique identifier (TO) of this leg. Must always the same as applied in the request URL.
            And when there are not additional legs in the offered or purchased package, the same **id** as the package id.
        from:
          $ref: "#/components/schemas/shortString"
          description: Refers to the 'placeDefinitions' in the TRAVEL SPECIFICATION
        to:
          $ref: "#/components/schemas/shortString"
          description: Refers to the 'placeDefinitions' in the TRAVEL SPECIFICATION
        sequenceNumber:
          $ref: "#/components/schemas/shortInt"
          description: The order of the leg within the package. Mandatory, if there are multiple legs in the package. If there are parallel legs (eg. using parking lot and a renting a bike), it can be the same within one package.
        startTime:
          $ref: "#/components/schemas/dateTime"
          description: The departure time of this leg. Or, in case of a parking, the start of the usage.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2958.htm
            description: package PATTERN.StartTime
        endTime:
          $ref: "#/components/schemas/dateTime"
          description: The intended arrival time at the to place. Or, in case of a parking, the end of the usage.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2958.htm
            description: package PATTERN.EndTime
        externalReference:
          type: string
          description: the source can be found in the discovery endpoint, type LEG
        state:
          $ref: "#/components/schemas/legState"
        fare:
          $ref: "#/components/schemas/fareStructure"
          description: The leg-specific fare structure. The price can be calculated using all elements.
        price:
          $ref: "#/components/schemas/amountOfMoney"
          description: the final price of the leg
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2419.htm - (CUSTOMER PURCHASE PACKAGE PRICE) final price
        conditions:
          type: array
          description: specific conditions for this leg, completing or overruling the package conditions
          maxItems: 5
          items:
            $ref: "#/components/schemas/condition"
        assetType:
          $ref: "#/components/schemas/assetTypeReference"
          description: The asset type used to execute this leg
        asset:
          $ref: "#/components/schemas/asset"
          description: The concrete asset used for the execution of the leg
        operator:
          $ref: "#/components/schemas/operatorReference"
        memo:
          $ref: "#/components/schemas/longString"
        extraInfo:
          $ref: "#/components/schemas/customProperties"

    legOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA4/EA2/EA4/EA1162.htm
        description: TYPE OF EVENT
      description: Operations:<br>
        <h3>pre purchase</h3>
        _ASSIGN_ASSET_ [MP->TO, Prepurchase, trip execution] - can assign an ASSET to a LEG. Can be used to replace an ASSET, or as first step in the trip execution process [ONBOARDING STEP]<br>
        If assigning an ASSET is not allowed for this package 403 should be returned. If the package is unknown, 404 should be returned.<br>
        _CHANGE_END_TIME_ [MP->TO, Prepurchase, trip execution] will be used to request a changed end time; the TRAVELER wants to use the ASSET longer (or shorter), the **time** field contains the proposed end time, the end time of the package doesn't change<br>
        _CHANGE_START_TIME_ [MP->TO, Prepurchase, trip execution] will be used to request a changed start time, e.g. the TRAVELER wants to depart later, the **time** field contains the estimated start time, the start time of the package doesn't change<br>
        _CANCEL_ [MP<->TO, Prepurchase, after sales] will cancel this LEG. Only allowed when multiple LEGs are included in the package, otherwise the complete package should be cancelled<br>
        _ADD_ANCILLARY_ [MP->TO, Prepurchase, trip execution] requests to add the specified ANCILLARY to the LEG<br>
        _REMOVE_ANCILLARY_ [MP->T, Prepurchase, trip execution] requests to remove the specified ANCILLARY from the LEG<br>

        <h3>after sales</h3>
        _NOTIFY_ [MP<->TO] will send a notification to TO, driver, MP or TRAVELER(s)<br>
        _REPORT_PROGRESS_ [TO->MP] the TO reports the location to the MP<br>
        _FINANCIAL_TRANSATION_ [MP<->TO] request a (direct) financial transaction. If there is no contract telling otherwise, this money has to be transferred immediately.<br>

        <h3>trip execution</h3>
        _PREPARE_ [MP->TO, non-TO-controlled] - MP request the TO to prepare the LEG (e.g. open the locker) [ONBOARDING STEP, RESUMING STEP]<br>
        _PREPARE_ [MP<-TO, process identifier TO-controlled] - the TO can send a message telling the MP that he is preparing the LEG, e.g. the taxi is heading to the pickup point<br>
        If assigning an ASSET is not allowed for this package 403 should be returned. If the package is unknown, 404 should be returned.<br>
        _SET_IN_USE_ [MP->TO, non-TO-controlled] - will activate the LEG or resume the LEG [ONBOARDING STEP, RESUMING STEP]<br>
        _SET_IN_USE_ [MP<-TO, process identifier TO-controlled] - the driver indicates the LEG is started<br>
        _PAUSE_ [MP->TO] will pause the LEG [PAUSING STEP]<br>
        _OPEN_TRUNK_ [MP->TO] request the TO to open up the trunk (of the scooter), e.g. to store the helmet [ONBOARDING STEP, OFFBOARDING STEP, PAUSING STEP, RESUMING STEP]<br>
        _START_FINISHING_ [MP->TO] will start the end-of-leg process [OFFBOARDING STEP]<br>
        _START_FINISHING_ [MP<-TO, process identifier TO-controlled] TO indicates that the LEG is almost finishing<br>
        _FINISH_ [MP->TO] will end this LEG [OFFBOARDING STEP]<br>
        _FINISH_ [MP<-TO, process identifier TO-controlled] the TO indicates that the LEG is finished, the destination has been reached.<br>
        _CANCEL_ [MP<->TO] will cancel this LEG. Only allowed when multiple LEGs are included in the package, otherwise the complete package should be cancelled<br>
        _NOTIFY_ [MP<->TO] will send a notification to TO, driver, MP or TRAVELER(s)<br>
        _REPORT_PROGRESS_ [TO->MP] the TO reports the location to the MP<br>
        _CONFIRM_REPLACE_ASSET_ [MP<-TO] asks confirmation to replace the ASSET, returns a 202 when confirmed, otherwise it will return 400<br>
        _CONFIRM_START_LEG_ [MP<-TO] asks confirmation to start the LEG, returns a 202 when confirmed, otherwise it will return 400<br>
        _FINANCIAL_TRANSATION_ [MP<->TO] request a (direct) financial transaction. If there is no contract telling otherwise, this money has to be transferred immediately.<br>
        _SEND_EVIDENCE_PARKED_ [MP->TO] sends pictures (in url field) to prove that the ASSET is parked correctly<br>
        _SEND_EVIDENCE_HELMET_ [MP->TO] sends pictures (in url field) to prove that the helmet is stowed correctly<br>
        _SEND_EVIDENCE_CHARGER_ [MP->TO] sends pictures (in url field) to prove that the ASSET connected correctly to the charger<br>
      enum: [
          # common
          CANCEL,
          NOTIFY,
          REPORT_PROGRESS,
          FINANCIAL_TRANSACTION,
          # pre purchase- & trip execution state operation requests
          ASSIGN_ASSET,
          # pre purchase - end user request requests
          CHANGE_START_TIME,
          CHANGE_END_TIME,
          # pre purchase - ancillary operation requests
          ADD_ANCILLARY,
          REMOVE_ANCILLARY,
          # trip execution - state operation requests
          PREPARE,
          SET_IN_USE,
          PAUSE,
          START_FINISHING,
          FINISH,
          # trip execution - asset operation requests
          OPEN_TRUNK,
          # trip execution - confirmation requests
          CONFIRM_REPLACE_ASSET,
          CONFIRM_START_LEG,
          # trip execution - evidence requests
          SEND_EVIDENCE_PARKED,
          SEND_EVIDENCE_HELMET,
          SEND_EVIDENCE_CHARGER,
        ]

    legState:
      type: string
      description: status of a leg<br>
        _NOT_STARTED_ the leg is not started, initial state<br>
        _PREPARING_ the _PREPARE_ operation has been received<br>
        _IN_USE_ the travelers are on their way<br>
        _PAUSED_ the asset is paused<br>
        _FINISHING_ the _START_FINISHING_ operation has been received<br>
        _FINISHED_ the travelers have arrived at their destination<br>
        _ISSUE_REPORTED_ due to an issue, there is (temporarily) no progress to report, when the issue isn't solved, this is a final state<br>
        _CANCELLED_ the leg has been cancelled (so there must be other legs)
      enum:
        [
          NOT_STARTED,
          PREPARING,
          IN_USE,
          PAUSED,
          FINISHING,
          FINISHED,
          ISSUE_REPORTED,
          CANCELLED,
        ]

    legSummary:
      type: object
      description: this object describes the leg. It can contain f.x. a flight number, a used parking to get a discount, etc.
      additionalProperties: false
      required:
        - operator
        - legIdentifier
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2962.htm
        description: LEG
      properties:
        operator:
          description: the operator of the leg (usually a Transport Operator reference)
          $ref: "#/components/schemas/operatorReference"
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA2/EA3552.htm
            description: TRANSPORT ORGANISATION
        legIdentifier:
          $ref: "#/components/schemas/shortString"
          description: the external ID, published by the operator.
        asset:
          $ref: "#/components/schemas/assetReference"
          description:
            the identification of the asset (id or visualegId), like a flight number. This field (in case of a specific asset) or assetType must be filled.
            whenever possible, details of this asset could be found using the URL in /discovery.externalDataSources[ASSET]
        assetType:
          $ref: "#/components/schemas/assetTypeReference"
          description: the used asset type for this leg.
            whenever possible, details of this asset could be found using the URL in /discovery.externalDataSources[ASSET_TYPE]
        product:
          $ref: "#/components/schemas/productReference"
          description: the used product for this leg.
        url:
          $ref: "#/components/schemas/url"
          description: the TOMP URL where the details of the previous leg can be found (if authorized), using a GET http method
          example: https://penr.nl/tomp/packages/57c652b3-1878-4a59-ba7b-b69ec1267124/legs/4aea3986-55be-48c6-a66a-09b14ebe2fb5

    logEntry:
      type: object
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA4/EA2/EA3/EA1149.htm
        description: LOG ENTRY
      required:
        - operation
        - detail
      properties:
        operation:
          $ref: "#/components/schemas/shortString"
          description:
            "should be one of the operations specified in this API, extended with:
            - type: string
            description: additional operations, not directly related to the purchase or trip execution<br>
            _OFFER_ The offer has been published<br>
            _REQUEST_SUPPORT_ Issue reported <br>
            _SUPPORT_ISSUE_SOLVED_ Support issue is solved<br>
            _SUPPORT_ISSUE_REMOVED_ Support issue isn't solvable
            enum: [
            # planning
            OFFER,
            # support
            REQUEST_SUPPORT, SUPPORT_ISSUE_SOLVED, SUPPORT_ISSUE_REMOVED,
            ]"
        legId:
          $ref: "#/components/schemas/uuid"
          description: in case it is a leg operation, specify the legId
        detail:
          $ref: "#/components/schemas/packageOperationRequest"

    place:
      type: object
      discriminator:
        propertyName: type
        mapping:
          POSTAL_ADDRESS: "#/components/schemas/postalAddress"
          EXTERNAL: "#/components/schemas/externalPlaceReference"
          GPS: "#/components/schemas/coordinates"
      required:
        - type
      properties:
        type:
          type: string
          enum: [POSTAL_ADDRESS, EXTERNAL, GPS]
        additionalPlaceInfo:
          $ref: "#/components/schemas/place"

    postalAddress:
      allOf:
        - $ref: "#/components/schemas/place"
        - type: object
          description: address parts, where addressLine1 and 2 should contain the complete address, matches Content-Language
          additionalProperties: false
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA1/EA6/EA5/EA319.htm
            description: POSTAL ADDRESS
          required:
            - addressLine1
            - addressLine2
          properties:
            addressLine1:
              $ref: "#/components/schemas/longString"
              description: contains street, housenumber & additions
              example: example street 18, 2nd floor, 18-B33
            addressLine2:
              $ref: "#/components/schemas/longString"
              description: city or town, principal subdivision such as province, state or county
              example: Smallcity, Pinetree county
            street:
              $ref: "#/components/schemas/normalString"
              description: street, consistent with addressLine1
            houseNumber:
              $ref: "#/components/schemas/normalInt"
              description: house number, consistent with addressLine1
              minimum: 1
            houseNumberAddition:
              $ref: "#/components/schemas/tinyString"
              description: the additional part of the house number (f.x. 13bis, where 'bis' is the additional part), consistent with addressLine1
            postalCode:
              $ref: "#/components/schemas/shortString"
              description: the postal code, whenever available
            city:
              $ref: "#/components/schemas/shortString"
              description: specified city or town, consistent with addressLine2
            province:
              $ref: "#/components/schemas/shortString"
              description: province or region, consistent with addressLine2
            state:
              $ref: "#/components/schemas/shortString"
              description: state, consistent with addressLine2
            country:
              $ref: "#/components/schemas/country"
            additionalInfo:
              $ref: "#/components/schemas/longString"
              description: additional information to find the address (f.x. just around the corner)

    offeredPackage:
      externalDocs:
        url: https://not-yet-available/
        description: SALES OFFER PACKAGE
      allOf:
        - $ref: "#/components/schemas/package"
        - $ref: "#/components/schemas/halLinks"
      example:
        {
          "id": "9fbd553b-defa-45c3-9174-1cc4024693a9",
          "from": "RUT:ScheduledStopPoint:2",
          "to": "RUT:ScheduledStopPoint:28482",
          "startTime": "2019-10-12T07:20:50.52Z",
          "endTime": "2019-10-12T07:20:50.52Z",
          "status": "OFFERED",
          "packageLabel": "CHEAPEST",
          "elements":
            [ { "product": "ENT:3492:PROD",
                "legs": [ { "from": "RUT:ScheduledStopPoint:2",
                            "to": "RUT:ScheduledStopPoint:2842",
                            "operator": "RUT",
                            "assetType": "RUT:DatedServiceJourney:05ac711070a70612c6432b68371f5e55",
                            "asset": "RUT:PassengerSpot:342-34-C",
                            "startTime": "2019-10-12T07:20:50.52Z",
                            "endTime": "2019-10-12T07:08:50.52Z" },
                          { "from": "RUT:ScheduledStopPoint:2842",
                            "to": "NSR:Quay:108842",
                            "operator": "RUT",
                            "assetType": "RUT:DatedServiceJourney:05ac711070a70612c6432b68371f5e55",
                            "asset": "RUT:PassengerSpot:342-33-A",
                            "startTime": "2019-10-12T07:10:00.00Z",
                            "endTime": "2019-10-12T07:20:48.00Z" } ],
                "parameters":
                  [ {
                      "usage":
                        [ { "type": "USER_PROFILE", "ageGroup": "ADULT", "id": "ADULT" } ],
                      "validities":
                        [ { "type": "SERVICE", "class": "FIRST" },
                          { "type": "SEATING", "spotType": "LUGGAGE_SPOT" } ]
                    } ] } ],
          "price": { "amount": 9.95, "currencyCode": "EUR" },
          "_links": { "purchase": { "rel": "POST", "href": "/offers/9fbd553b-defa-45c3-9174-1cc4024693a9/purchase", "type": "application/hal+json", "templated": true },
                      "pre-purchase": { "rel": "POST", "href": "/packages/9fbd553b-defa-45c3-9174-1cc4024693a9/pre-purchase", "type": "application/hal+json", "templated": true } } 
        }

    package:
      description: a purchased package is a registration of an agreement between end user and TO, to execute a package (=set of legs) according a specification, including all conditions
      #externalDocs:
      # https://www.transmodel-cen.eu/model/EARoot/EA6/EA4/EA1/EA2242.htm (SALES OFFER PACKAGE)
      # OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2417.htm (CUSTOMER PURCHASE PACKAGE)
      # externalDocs:
      #url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2413.htm
      # description: TRAVEL SPECIFICATION
      allOf:
        - $ref: "#/components/schemas/travelSpecification"
        - type: object
          required:
            - status
            - price
          properties:
            id:
              type: string
            productDefinitions:
              type: array
              items:
                $ref: "#/components/schemas/productReference"
            status:
              $ref: "#/components/schemas/purchaseStatus"
            packageLabel:
              $ref: "#/components/schemas/packageLabel"
            elements:
              type: array
              items:
                $ref: "#/components/schemas/packageElement"
            conditions:
              type: array
              items:
                $ref: "#/components/schemas/condition"
            guarantees:
              type: array
              items:
                $ref: "#/components/schemas/guarantees"
            price:
              $ref: "#/components/schemas/amountOfMoney"
              description: the total price of the package
              externalDocs:
                url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2419.htm - (CUSTOMER PURCHASE PACKAGE PRICE) final price

    packageLabel:
      type: string
      enum:
        [
          CHEAPEST,
          MOST_FLEXIBLE,
          NON_FLEXIBLE,
          MOST_ECO_FRIENDLY,
          FASTEST,
          SHORTEST,
        ]

    packageElement:
      type: object
      required:
        - legs
      properties:
        product:
          $ref: "#/components/schemas/shortString"
          description: this package does reflect a product. Details can be found in OR in the 'productDefinitions' list OR in the /discovery endpoint
        legs:
          type: array
          description: references to the IDs of the legs described in the TRAVEL SPECIFICATION (at package level)
          items:
            $ref: "#/components/schemas/leg"
        travelDocument:
          $ref: "#/components/schemas/travelDocument"
          description:
            The MaaS users proof of their right to travel on this leg (visual representable) OR
            data to open an asset
        parameters:
          type: array
          items:
            $ref: "#/components/schemas/parameter"

    packageOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA3/EA1/EA3040.htm
        description: TYPE OF REQUEST (unspecified)
      description:
        the 'operation' in the url must match with the type of the operationRequest<br><br>

        only in pre-purchased states (OFFERED, PRE_PURCHASED)<br>
        _COMMIT_ - [MP->TO] Turns the purchased package in a _PURCHASED_ state, the previous state should be _PRE_PURCHASED_. If the package is in state _PURCHASED_, _CANCELLED_ or _EXPIRED_, a commit will result a 403. <BR>
        _EXTEND_EXPIRY_TIME_ - [MP->TO] Request additional time to complete a booking<br><br>

        only in purchased state (PURCHASED, STARTED, FINISHED)<br>
        _FINANCIAL_ - [MP<->TO] request a (direct) financial transaction. If there is no contract telling otherwise, this money has to be transferred immediately.  <br><br>

        before trip execution, after offered (PRE_PURCHASED, PURCHASED)<br>
        _CANCEL_ - [MP->TO] Cancels a purchased package, it returns a package in a cancelled state.<br>
        _TRAVELLER_ - [MP->TO] request to add, remove or change one of the travelers. Can be refused if contractual or financial changes are requested<br>
        _CUSTOMER_ - [MP->TO] request a change of the customer. Can be refused if contractual or financial changes are requested

        _COMMIT_OPERATION_ [MP->TO] commits an offer for an operation (like cancel)
      enum:
        [
          COMMIT,
          CANCEL,
          EXTEND_EXPIRY_TIME,
          CUSTOMER,
          TRAVELLER,
          FINANCIAL,
          COMMIT_OPERATION,
        ]

    purchaseStatus:
      type: string
      description:
        The life-cycle state of the package (from NEW to FINISHED)<br>
        _OFFERED_ the package is offered, including all conditions<br>
        _PRE_PURCHASED_ the package is pre-puchased (the end user has shown intentions to purchase this offer), must be finalized with the package-commit operation<br>
        _PURCHASED_ a finalized package ('purchased'). Both parties agreed to deliver services in return of payment<br>
        _CANCELLED_ the package is cancelled before it is executed. The agreement will specify whether there is a refund, or under which conditions<br>
        _EXPIRED_ the MP didn't respond on time, the package offer has been expired<br>
        _STARTED_ the package is started, the <u>trip execution</u> module is needed now to manage the execution of the package<br>
        _FINISHED_ the package has ended, the trip has been executed<br>
        _RELEASED_ for internal archiving<br>
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2420.htm
        description: CUSTOMER PURCHASE STATUS
      enum:
        [
          OFFERED,
          PRE_PURCHASED,
          PURCHASED,
          REJECTED,
          RELEASED,
          EXPIRED,
          CANCELLED,
          STARTED,
          FINISHED,
        ]
      example: PURCHASED

    # terms & conditions
    cancellationCondition:
      description: conditions regarding cancellation of a purchased package
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2179.htm
        description: (CANCELLING)
      type: object
      properties:
        cancellationAllowed:
          type: boolean
          description: is it possible to cancel this package?
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
            description: CANCELLING.cancellationAllowed
        cancellationFee:
          $ref: "#/components/schemas/amountOfMoney"
          description: amount of money you have to pay when you cancel this purchased package
        cancellationFeePercentage:
          $ref: "#/components/schemas/float"
          description: percentage of the offered price you have to pay when you cancel this purchased package

    condition:
      type: object
      discriminator:
        propertyName: type
        mapping:
          REQUIRED_INTERACTIONS: "#/components/schemas/requiredInteractionsCondition"
          PAYMENT: "#/components/schemas/paymentCondition"
          CANCELLATION: "#/components/schemas/cancellationCondition"
          PURCHASE: "#/components/schemas/purchaseCondition"
          EXECUTION: "#/components/schemas/packageExecutionCondition"
      required:
        - type
        - id
      properties:
        type:
          type: string
          description: The specific subclass of condition
          enum:
            [REQUIRED_INTERACTIONS, PAYMENT, CANCELLATION, PURCHASE, EXECUTION]
        id:
          $ref: "#/components/schemas/shortString"
          description: An identifier for this condition that can be used to refer to this condition
          example: deposit50eu

    guarantees:
      description: guarantees from the TO side.
      type: object
      properties:
        guarantees:
          type: array
          maxItems: 10
          items:
            type: string
            description:
              _ARRIVAL_TIME_ - the TO guarantees that you will - under normal circumstances - will arrive at the destination of the leg  <br>
              _REPLACEMENT_WHEN_CONNECTION_MISSED_ - the TO will arrange an alternative for the missed connection
              _REFUND_WHEN_CONNECTION_MISSED_ - the TO will refund the missed connection
              _REFUND_UNUSED_ANCILLARIES_ - unused ancillaries will be refunded
              _REFUND_WHEN_CANCELLED_ - when cancelled, no costs will be charged when package not started.
            enum:
              [
                ARRIVAL_TIME,
                REPLACEMENT_WHEN_CONNECTION_MISSED,
                REFUND_WHEN_CONNECTION_MISSED,
                REFUND_UNUSED_ANCILLARIES,
              ]

    paymentCondition:
      description: conditions regarding payment<br>
        _DEPOSIT_ - in case the TO demands a deposit before usage. Requesting and refunding should be done using the /packages/{id}/leg/{id}/operations/FINANCIAL_TRANSATION endpoint. The requests are initiated by the TO (calling the MP)<br>
        _PAY_WHEN_FINISHED_ - in case the TO demands a direct payment after usage, automatically done by the MP<br>
        _UPFRONT_ - in case the TO demands a upfront payment before usage. The payment should be made in the purchase phase. Additional costs could be relevant, e.g. when using the _TIME_EXTEND_ operation is executed.
        The MP must settle the payment before the package can be started (using SET_IN_USE).
      type: object
      required:
        - momentOfPayment
      properties:
        momentOfPayment:
          type: string
          enum: [DEPOSIT, PAY_WHEN_FINISHED, UPFRONT, SUBSCRIPTION]
        deposit:
          $ref: "#/components/schemas/amountOfMoney"
          description: the amount of money to pay as a deposit.

    purchaseCondition:
      description: specify required information to complete a purchase
      type: object
      required:
        - requiredFields
      properties:
        maximumPeriodBeforeDeparture:
          $ref: "#/components/schemas/longInt"
          description: Maximum time in minutes that an asset can be reserved before a rental begins.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
            description: PURCHASE WINDOW.MaximumPeriodBeforeDeparture
        requiredFields:
          type: array
          description:
            an array containing labels that identify specific fields that are required in the purchase process<br>
            all fields of the package purchase request can become required, navigating with dots, square brackets and field names.<br>
            A few examples<br>
            from.address.station implies that the station reference is mandatory,<br>
            travelers[*].age requires an age for each traveler, <br>
            or customer.email for the email address of the customer
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA6/EA2136.htm
            description: USER PROFILE
          maxItems: 50
          items:
            $ref: "#/components/schemas/normalString"

    requiredInteractionsCondition:
      description:
        required sequence of steps to take in a specified phase of the leg. Use this condition only when the steps are different as specified in the `POST /discovery` endpoint.
        When used in the `POST /discovery`, show the default set of interactions you require. When applied in the leg, you can overrule the default interactions.
      type: array
      maxItems: 50
      items:
        $ref: "#/components/schemas/interaction"

    packageExecutionCondition:
      description: conditions during the package
      type: object
      properties:
        codeOfConduct:
          type: array
          description: code of conduct items during traveling<br>
            _NO_PETS_ - no pets are allowed in the asset<br>
            _NO_SMOKING_ - smoking is not allowed in the asset<br>
            _NO_TRAVEL_ABROAD_ - it is not allowed to enter another country with this asset<br>
            _NO_UNDERGROUND_PARKING_ - it is not allowed to park the asset underground
          maxItems: 5
          items:
            type: string
            enum:
              [NO_PETS, NO_SMOKING, NO_TRAVEL_ABROAD, NO_UNDERGROUND_PARKING]
        returnBefore:
          $ref: "#/components/schemas/dateTime"
          description: the ultimate return time.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2121.htm
            description: USAGE validITY PERIOD.EndDate & EndTime
        returnStations:
          type: array
          description: to one of these stations the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/stationReference"
        returnAreas:
          type: array
          description: in one of these areas the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/geojsonPolygon"
        returnZones:
          type: array
          description: in one of these externally described zones the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/zoneReference"
        requiredLicenseTypes:
          type: array
          description: ONE of these licenses is required to operate the asset
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA7/EA2152.htm
            description: ENTITLEMENT REQUIRED
          maxItems: 5
          items:
            $ref: "#/components/schemas/licenseType"
        requiredAncillaries:
          type: array
          description: required ancillaries to operate the asset (like a helmet, TYPE=ANCILLARY)
          maxItems: 25
          items:
            $ref: "#/components/schemas/ancillaryReference"
        maxBounds:
          $ref: "#/components/schemas/geojsonGeometry"
          description: the maximum bounds of movement, can be an (multi)polygon (for bike sharing) or a line, a trajectory (for conventional public transport)
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2119.htm
            description: ROUTING.CrossBorder possible, TOMP allowing more use cases.
        timeLimits:
          type: array
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2121.htm
            description: USAGE validITY PERIOD, except TM tells when it is allowed, TOMP tells when it is not allowed or when there is a reduction.
          items:
            $ref: "#/components/schemas/timeRestriction"

    # asset related concepts
    asset:
      description: the asset that can by applied to execute a leg.
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3578.htm
        description: VEHICLE
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA2/EA3719.htm (PARKING BAY)
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA3/EA1/EA3735.htm (CYCLE STORAGE EQUIPMENT)
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA3/EA2/EA3742.htm (VEHICLE CHARGING EQUIPMENT)
        # OR PASSENGER SPOT
      required:
        - assetType
        - mode
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description: Identifier of an asset. Preferably UUID.
        visualegId:
          $ref: "#/components/schemas/shortString"
          description: for instance, a license plate or seat number.
        assetType:
          $ref: "#/components/schemas/assetTypeReference"
          description:
[...]
