openapi: 3.0.0
info:
  title: Transport Operator MaaS Provider API
  description:
    "<h3>Context</h3>
    It allows technical communication between Transport Operators (TO) and MaaS providers (MP, and other resellers), to fulfill a complete MaaS user journey<br>
    It provides functions for Planning & Purchase, trip execution, Support, Payment and Operation Information.<br><br>

    For more information: <a href='https://github.com/TOMP-WG/TOMP-API/wiki/OpenAPI-entry-page'>TOMP-API wiki</a>.<br><br>

    <b>Convention</b><br>
    In the specification we use these 'coding conventions':<br>
    <table border=1>
    <tr><td>&nbsp;`URLs`</td><td>&nbsp;to specify a URL, referring to endpoints in the specification</td></tr>
    <tr><td>&nbsp;[conditions]</td><td>&nbsp;free format conditions for a specific line</td></tr>
    <tr><td>&nbsp;<i>PROCESS_IDENTIFIER_NAME</i></td><td>&nbsp;see <a href='https://github.com/TOMP-WG/TOMP-API/wiki/ProcessIdentifiers'>Process Identifiers</a></td></tr>
    <tr><td>&nbsp;<u>MODULE NAME</u></td><td>&nbsp;for the module names, like <u>PURCHASE</u></td></tr>
    <tr><td>&nbsp;CONCEPT NAME</td><td>&nbsp;referring to concepts that are described in the specification</td></tr>
    <tr><td>&nbsp;**property name**</td><td>&nbsp;referring to fields/attributes/properties in a concept</td></tr>
    <tr><td>&nbsp;_enumeration value_</td><td>&nbsp;referring to values from specific properties</td></tr>
    </table>
    "
  version: "2.0.0"
  contact:
    url: https://github.com/TOMP-WG/TOMP-API
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

tags:
  - name: offers
    description: Functionality to request offers (<u>PLANNING MODULE</u>) & purchase (part of the <u>PURCHASE MODULE</u>) them

  - name: pre-purchase
    description: The rest of the <u>PURCHASE MODULE</u> contains functionality to purchase offers (aka 'book') or purchase packages directly based on external information. Allows also to cancel or commit a non-final PACKAGE.

  - name: purchase 
    description: This part covers the 2-phase purchase, but where the 2nd step is optional in some cases

  - name: one-stop-purchase
    description: This function allows to (instantly) purchase packages based on package/journey planners' results or external information.

  - name: trip execution
    description: The <u>trip execution MODULE</u> contains functionality to execute the leg(s) of purchased packages. Operations like starting, pausing and ending, but also functions like adding/removing ancillaries.

  - name: support
    description: the <u>SUPPORT MODULE</u> facilitates handling support requests

  - name: after sales
    description: the <u>PAYMENT MODULE</u> allows to request a financial transaction and report costs

  - name: interoperability
    description: the <u>INTEROPERABILITY MODULE</u> contains the technical specification of the implementation, how it works together with other standards and an endpoint to check the uptime.

# security. Allowed methods basic (in header: Authorization: Basic ZGVtbzpwQDU1dzByZA==),
#                           bearer (in header: Authorization: Bearer <token>)
#                           Api-key (in header: X-API-Key: abcdef12345)
#                           OAutb and OpenId are also available
# The exact ways to authenticate will be described in a later version
security:
  - BasicAuth: []
  - BearerAuth: []
  - ApiKeyAuth: []
  - OAuth: []
  - OpenId: []

servers:
  - url: https://tomp.dat.nl/

paths:
  /offered-packages:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] request offers"
      description: Returns offers (purchaseable packages) based on user requirements
      tags:
        - offers
      externalDocs:
        url: https://not-yet-available/
        description: OFFER REQUEST using OFFER PARAMETERS (request body) to produce OFFER DELIVERY (response)
      requestBody:
        description: the initial request, containing locations, timestamps, CARD TYPEs and LICENSE TYPEs, and personal preferences/(dis)abilities. Can also contain a direct reference to an ASSET or ASSET TYPE.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/offerRequest"
      responses:
        "201":
          description: a list of packages, if there is no option, it will return an empty list. Each offered package has a unique identifier, that can be used to purchase it.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              description: The result is valegId until this timestamp. The _PENDING_ package expires after this timestamp. 
              schema:
                $ref: "#/components/schemas/httpDate"
              required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/offerResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /offered-packages/{id}/pre-purchase:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] pre-purchase an offered package"
      description: The offered package is transformed into a pre-purchased one. It must be confirmed using the `POST /offers/{id}/COMMIT`.
      tags:
        - offers
      externalDocs:
        url: https://not-yet-available/
        description: PURCHASE REQUEST uses the PURCHASE PARAMETERS (request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        description: additional information required to create a purchased package. This information can be retrieved from the the LEGs' **conditions**.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/purchaseParameters"

      responses:
        "201":
          description: A package was succesfully purchased (CONFIRMED) or initiated the purchase process (PENDING).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
        default:
          $ref: "#/components/responses/errorResponse"
        "409":
          $ref: "#/components/responses/409Conflict"
        "410":
          $ref: "#/components/responses/410Gone"

  /packages/{id}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
    get:
      summary: "[MP->TO] request package details"
      description: Retrieves package details
      tags:
        - trip execution
      parameters:
      - in: query
        name: selection
        description: "_DETAILS_ - package specification only<br>
          _WITH_LOGS_ - package & event log<br>
          _ONLY_LOGS_ - event log only<br>
          _WITH_PROGRESS_ - package & progress<br>
          _ONLY_PROGRESS_ - progress only<br>
          _WITH_CUSTOMER - package & customer<br>
          _ALL_ - package, logs, customer & progress<br>"
        required: false
        schema:
          type: string
          enum: [ ALL, DETAILS, WITH_LOGS, WITH_PROGRESS, ONLY_LOGS, ONLY_PROGRESS, WITH_CUSTOMER ]
          default: DETAILS
      externalDocs:
        url: https://not-yet-available/
        description: PACKAGE DETAIL REQUEST uses the PACKAGE DETAIL (that's the package ID in URL) to produce PACKAGE DELIVERY (response)
      responses:
        "200":
          description: the details of this PACKAGE, including the customer, progress and the log containing all logged OPERATIONs.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /offered-packages/{id}/purchase:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] purchase an offered package (step 1 of the 2-phase purchase)"
      description: The offered package is transformed into a purchased one.
      tags:
        - offers
      externalDocs:
        url: https://not-yet-available/
        description: PURCHASE REQUEST uses the PURCHASE PARAMETERS (request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        description: additional information required to create a purchased package. This information can be retrieved from the the LEGs' **conditions**.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/purchaseParameters"

      responses:
        "201":
          description: A package was succesfully purchased (CONFIRMED) or initiated the purchase process (PENDING).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
        default:
          $ref: "#/components/responses/errorResponse"
        "409":
          $ref: "#/components/responses/409Conflict"
        "410":
          $ref: "#/components/responses/410Gone"

  /prepurchased-packages/{id}/{prePurchaseOperation}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
      - name: prePurchaseOperation
        in: path
        description: OPERATION to execute
        required: true
        schema:
          $ref: "#/components/schemas/prePurchaseOperation"
    post:
      summary: "[MP<->TO] request a modification on an offered package"
      description: This endpoint **must** be used to alter the package
      tags:
        - pre-purchase
      externalDocs:
        url: https://not-yet-available/
        description: PACKAGE OPERATION REQUEST, uses the OPERATION PARAMETER (the request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/operationParameter"
      responses:
        "200":
          description: The modified package
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
              description: Mandatory whenever the _EXTEND_EXPIRY_TIME_ is used. It must contain the updated expiry time
              externalDocs:
                url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
                description: PURCHASE WINDOW
        default:
          $ref: "#/components/responses/errorResponse"
  
  /prepurchased-packages/{id}/commit:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP<->TO] request to commit a pre-purchased package (step 2 of the 2-phase purchase)"
      tags:
        - purchase
      externalDocs:
        url: https://not-yet-available/
        description: PACKAGE OPERATION REQUEST, uses the OPERATION PARAMETER (the request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/operationParameter"
      responses:
        "200":
          description: The modified package
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
              description: Mandatory whenever the _EXTEND_EXPIRY_TIME_ is used. It must contain the updated expiry time
              externalDocs:
                url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
                description: PURCHASE WINDOW
        default:
          $ref: "#/components/responses/errorResponse"

  /one-stop-purchases:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] directly purchase a package, without offer"
      description:
        Purchases a package directly, based on the parameters.
      tags:
        - one-stop-purchase
      externalDocs:
        url: https://not-yet-available/
        description: PURCHASE REQUEST, uses the ONE STOP PURCHASE REQUEST (request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/oneStopPurchaseParameters"
      responses:
        "201":
          description: a purchased package, or when it's not possible, return a 406.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
        default:
          $ref: "#/components/responses/errorResponse"

  /packages/{id}/{afterSalesOperation}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
      - name: afterSalesOperation
        in: path
        description: OPERATION to execute
        required: true
        schema:
          $ref: "#/components/schemas/afterSalesOperation"
    post:
      summary: "[MP<->TO] request an operation on a purchased package"
      description: This endpoint **must** be used to alter the state of a purchased package
      tags:
        - after sales
      externalDocs:
        url: https://not-yet-available/
        description: PACKAGE OPERATION REQUEST, uses the OPERATION PARAMETER (the request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/operationParameter"
      responses:
        "200":
          description: The modified package
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
              description: Mandatory whenever the _EXTEND_EXPIRY_TIME_ is used. It must contain the updated expiry time
              externalDocs:
                url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
                description: PURCHASE WINDOW
        default:
          $ref: "#/components/responses/errorResponse"          

  /packages/{id}/legs/{legId}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
    get:
      summary: "[MP->TO] request leg details"
      description: Retrieves the latest summary of the LEG, being the execution of a part of a journey traveled using one ASSET (TYPE). 
        Every LEG belongs to one PACKAGE ELEMENT, every PACKAGE has at least one LEG. Where the PACKAGE describes the agreement between user/MP and TO, 
        the LEG describes the journey part as it occured.
      externalDocs:
        url: https://not-yet-available/
        description: LEG DETAIL REQUEST uses the PACKAGE DETAIL PARAMETER (=package ID and leg ID in URL) to produce a LEG DETAIL DELIVERY (response)
      tags:
        - trip execution        
      responses:
        "200":
          description: the details of the LEG, in the current LEG STATE
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        default:
          $ref: "#/components/responses/errorResponse"
          
  /packages/{id}/legs/{legId}/{legAfterSalesOperation}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
      - name: legAfterSalesOperation
        in: path
        description: OPERATION on the LEG
        required: true
        schema:
          $ref: "#/components/schemas/legAfterSalesOperation"
    post:
      summary: "[MP<->TO] request {operation} on this leg"
      description: This endpoint must be used to alter the STATE of a LEG, using OPERATION requests.
      tags:
        - after sales
      externalDocs:
        url: https://not-yet-available/
        description: LEG OPERATION REQUEST uses the OPERATION PARAMETER (request body) to produce a LEG DETAIL DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/operationParameter"
      responses:
        "200":
          description: OPERATION successful, the leg is returned in the new state.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        "202":
          description: When a confirmation request has to return positive, this code has to be used
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        "400":
          description: When a confirmation request results in a denial, this code has to be used
          $ref: "#/components/responses/errorResponse"
        "503":
          description: In case of temporary malfunctioning, this response can be send (e.g. bluetooth lock jammed). See also https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After
          headers:
            Retry-After:
              description: A date after which to retry. See the Date header for more details on the HTTP date format.
              schema:
                $ref: "#/components/schemas/httpDate"
          $ref: "#/components/responses/errorResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /prepurchased-packages/{id}/legs/{legId}/{legPrePurchaseOperation}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
      - name: legPrePurchaseOperation
        in: path
        description: OPERATION on the LEG
        required: true
        schema:
          $ref: "#/components/schemas/legPrePurchaseOperation"
    post:
      summary: "[MP<->TO] request {operation} on this leg"
      description: This endpoint must be used to alter the STATE of a LEG, using OPERATION requests.
      tags:
        - pre-purchase
      externalDocs:
        url: https://not-yet-available/
        description: LEG OPERATION REQUEST uses the OPERATION PARAMETER (request body) to produce a LEG DETAIL DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/operationParameter"
      responses:
        "200":
          description: OPERATION successful, the leg is returned in the new state.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        "202":
          description: When a confirmation request has to return positive, this code has to be used
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        "400":
          description: When a confirmation request results in a denial, this code has to be used
          $ref: "#/components/responses/errorResponse"
        "503":
          description: In case of temporary malfunctioning, this response can be send (e.g. bluetooth lock jammed). See also https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After
          headers:
            Retry-After:
              description: A date after which to retry. See the Date header for more details on the HTTP date format.
              schema:
                $ref: "#/components/schemas/httpDate"
          $ref: "#/components/responses/errorResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /prepurchased-packages/{id}/purchase:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] purchase an offered package (step 1 of the 2-phase purchase)"
      description: The offered package is transformed into a purchased one.
      tags:
        - pre-purchase
      externalDocs:
        url: https://not-yet-available/
        description: PURCHASE REQUEST uses the PURCHASE PARAMETERS (request body) to produce a PACKAGE DELIVERY (response)
      requestBody:
        description: additional information required to create a purchased package. This information can be retrieved from the the LEGs' **conditions**.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/purchaseParameters"

      responses:
        "201":
          description: A package was succesfully purchased (CONFIRMED) or initiated the purchase process (PENDING).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageResponse"
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
            Expires:
              $ref: "#/components/headers/expires"
        default:
          $ref: "#/components/responses/errorResponse"
        "409":
          $ref: "#/components/responses/409Conflict"
        "410":
          $ref: "#/components/responses/410Gone"

  /packages/{id}/legs/{legId}/{tripOperation}:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
      - name: tripOperation
        in: path
        description: OPERATION on the LEG
        required: true
        schema:
          $ref: "#/components/schemas/legTripOperation"
    post:
      summary: "[MP<->TO] request {operation} on this leg"
      description: This endpoint must be used to alter the STATE of a LEG, using OPERATION requests.
      tags:
        - trip execution 
      externalDocs:
        url: https://not-yet-available/
        description: LEG OPERATION REQUEST uses the OPERATION PARAMETER (request body) to produce a LEG DETAIL DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/operationParameter"
      responses:
        "200":
          description: OPERATION successful, the leg is returned in the new state.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        "202":
          description: When a confirmation request has to return positive, this code has to be used
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legDetailResponse"
        "400":
          description: When a confirmation request results in a denial, this code has to be used
          $ref: "#/components/responses/errorResponse"
        "503":
          description: In case of temporary malfunctioning, this response can be send (e.g. bluetooth lock jammed). See also https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After
          headers:
            Retry-After:
              description: A date after which to retry. See the Date header for more details on the HTTP date format.
              schema:
                $ref: "#/components/schemas/httpDate"
          $ref: "#/components/responses/errorResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /packages/{id}/legs/{legId}/available-assets:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
    get:
      summary: "[MP->TO] request available assets to assign to this leg"
      description: Returns a list of available ASSETs for the given LEG. These results can be used to call `POST /packages/{id}/legs/{legId}/ASSIGN_ASSET`. 
      externalDocs:
        url: https://not-yet-available/
        description: LEG AVAILABLE ASSETS REQUEST, uses the LEG AVAILABLE ASSET PARAMETER (=package ID and leg ID in the URL) to produce the AVAILABLE ASSETS DELIVERY (response)
      tags:
        - trip execution        
      responses:
        "200":
          description: Available ASSETs for the leg. If no suitable assets are found an empty array is to be returned.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/availableAssetsResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /packages/{id}/legs/{legId}/support/:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/packageId"
      - $ref: "#/components/parameters/legId"
      - $ref: "#/components/parameters/callbackUrl"
    post:
      summary: "[MP->TO] create a support ticket"
      description: creates a request for SUPPORT from end user via MP
      tags:
        - support        
      externalDocs:
        url: https://not-yet-available/
        description: SUPPORT REQUEST uses the SUPPORT PARAMETER (request body) to produce a SUPPORT DELIVERY (response)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/supportParameter"
      responses:
        "200":
          description: support request acknowledged, the response contains a support ticket with a unique ID. Multiple support tickets can be created on one single leg.
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supportResponse"
        default:
          $ref: "#/components/responses/errorResponse"
    get:
      summary: "[MP->TO] request for support ticket details"
      description: returns the statusses of the support tickets of this leg. Each status change will result in a new supportResponse. To find the log of the ticket, group them on ID.
      tags:
        - support
      externalDocs:
        url: https://not-yet-available/
        description: SUPPORT DETAIL REQUEST, uses package DETAIL PARAMETER (package ID and leg ID in the URL) to produce a SUPPORT DETAIL DELIVERY (response)
      responses:
        "200":
          description: support status delivered
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supportDetailResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /packages/payments:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
      - $ref: "#/components/parameters/callbackUrl"
    get:
      tags:
        - after sales
      summary: "[MP->TO] retrieve financial details"        
      description: Returns all the JOURNAL ENTRIES that should be paid (per LEG)
      externalDocs:
        url: https://not-yet-available/
        description: PAYMENT DETAIL REQUEST uses the PAYMENT DETAIL PARAMETER (parameters) to produce PAYMENT DETAIL DELIVERY (response)
      parameters:
        - name: startTime
          in: query
          description: start of the selection
          required: false
          schema:
            $ref: "#/components/schemas/dateTime"
        - name: endTime
          in: query
          description: end of the selection
          required: false
          schema:
            $ref: "#/components/schemas/dateTime"
        - name: invoiceState
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/paymentState"
        - name: id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/uuid"
        - name: category
          in: query
          description: type of PAYMENT DETAIL (e.g. fare, addition costs, fines, ...)
          required: false
          schema:
            $ref: "#/components/schemas/paymentCategory"
        - name: offset
          in: query
          description: start of the selection
          required: false
          schema:
            $ref: "#/components/schemas/normalInt"
        - name: limit
          in: query
          description: max length of the selection
          required: false
          schema:
            $ref: "#/components/schemas/normalInt"
      responses:
        "200":
          description: journal entries
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/paymentResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /discovery:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
      - $ref: "#/components/parameters/senderId"
      - $ref: "#/components/parameters/receiverId"
    get:
      tags:
        - interoperability
      summary: "[TO<->MP] discover the API"
      description: "All implemented endpoints are described, including the list of PROCESS IDENTIFIERs."
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: "#/components/headers/contentLanguage"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/discoveryResponse"
        default:
          $ref: "#/components/responses/errorResponse"

  /ping:
    parameters:
      - $ref: "#/components/parameters/acceptLanguage"
    get:
      tags:
        - interoperability
      summary: "[TO<->MP] is the API available?"
      description: "[MP|TO] This is a healthcheck ENDPOINT to see if the TO is up and running perfectly."
      responses:
        "204":
          description: successful operation
        default:
          $ref: "#/components/responses/errorResponse"
components:
  schemas:
  # parameters & responses
    oneStopPurchaseParameters:
      externalDocs:
        url: https://not-yet-available/
        description: package PURCHASE PARAMETERS
      allOf:
      - $ref: "#/components/schemas/offerRequest"
      - type: object
        properties:
          customer:
            $ref: "#/components/schemas/customer"
            description: The user that wants to purchase this package

    offerRequest:
      type: object
      description: A package planning request, resulting in package options
      additionalProperties: false
      properties:
        specification:
          $ref: "#/components/schemas/travelSpecification"
        parameters:
          type: array
          items:
            $ref: "#/components/schemas/parameter"

    travelSpecification:
      type: object
      required:
        - from
      properties:
        from:
          $ref: "#/components/schemas/shortString"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: "gps:6.234,51.6923"
        via:
          type: array
          items:
            $ref: "#/components/schemas/shortString"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: ["NSR:Quay:108842"]
        to:
          $ref: "#/components/schemas/shortString"
          description: use an ID contained in the 'places' field, or from an external source, when using coordinates, please use the prefix 'gps:'
          example: "RUT:ScheduledStopPoint:28482"
        placeDefinitions:
          type: object
          description: only when needed, if the IDs used in to/from/via are not clear enough
          additionalProperties:
            $ref: "#/components/schemas/place"
          example:
            "gps:6.234,51.6923" : { "type": "gps", "lng": 6.234, "lat": 51.6923 }
            "NSR:Quay:108842":  { "type": "external", "id": "NSR:Quay:108842", "format": "NeTEx", "url": "https://storage.googleapis.com/marduk-production/outbound/netex/rb_rut-aggregated-netex.zip" }
        startTime:
          $ref: "#/components/schemas/dateTime"
          description: The intended departure time. 
            If left out and no endTime is set, the current time should be assumed. 
            If only the arrival time is specified, this is an implicit request for a guaranteed arrival at that time.
        endTime:
          $ref: "#/components/schemas/dateTime"
          description: The intended arrival time, at the `to place`. When the **startTime** is not set, and **endTime** is set, it is an implicit request for an arrival time guarantee.
        
    parameter:
      type: object
      properties:
        usage:
          type: array
          items:
            $ref: "#/components/schemas/usage"
          example:
            [{ "type": "individualTraveller", "ageGroup": "ADULT" },
             { "type": "entitlement", "entitlementType": "NO:MILITARY" },
             { "type": "commercialProfile", "code": "VX34-348J-EI7y" },
             ]
        validities:
          type: array
          items:
            $ref: "#/components/schemas/validityParameter"
          example: 
            [{ "type": "service", "class": "FIRST" },
             { "type": "seating", "spotType": "LUGGAGE_SPOT" } ]

    usage:
      type: object
      discriminator:
        propertyName: type
        mapping:
          individualTraveller: "#/components/schemas/individualTraveller"
          userProfile: "#/components/schemas/userProfile"
          groupProfile: "#/components/schemas/groupProfile"
          companionProfile: "#/components/schemas/companionProfile"
          commercialProfile: "#/components/schemas/commercialProfile"
          entitlement: "#/components/schemas/entitlementGiven"
      required:
        - type
      properties:
        type:
          type: string
          enum: ["individualTraveller", "userProfile", "groupProfile", "companionProfile", "commercialProfile", "entitlement"]

    userProfile:
      allOf:
      - $ref: "#/components/schemas/usage"
      - type: object
        properties:
          minimumAge:
            $ref: "#/components/schemas/shortInt"
          maximumAge:
            $ref: "#/components/schemas/shortInt"
          monthDayOnWhichAgeApplies:
            $ref: "#/components/schemas/shortInt"
          ageGroup:
            type: string
            enum:
              - ANYONE
              - INFANT
              - CHILD
              - YOUTH
              - ADULT
              - SENIOR
          minimumHeight:
            $ref: "#/components/schemas/shortInt"
          maximumHeight:
            $ref: "#/components/schemas/shortInt"
          localResident:
            type: boolean
          genderLimitation:
            type: boolean

    companionProfile:
      allOf:
      - $ref: "#/components/schemas/usage"
      - type: object
        properties:
          minimumNumberAllowed:
            $ref: "#/components/schemas/shortInt"
          maximumNumberAllowed:
            $ref: "#/components/schemas/shortInt"

    groupProfile:
      allOf:
      - $ref: "#/components/schemas/usage"
      - type: object
        externalDocs:
          url: https://transmodel/GroupTicket
        properties:
          id:
            $ref: "#/components/schemas/shortString"
          name:
            $ref: "#/components/schemas/normalString"
          profiles:
            type: array
            items:
              allOf:
                - $ref: '#/components/schemas/userProfile'
                - type: object
                  properties:
                    quantity:
                      $ref: "#/components/schemas/shortInt"

    commercialProfile:
      allOf:
      - $ref: "#/components/schemas/usage"
      - type: object
        properties:
          id:
            $ref: "#/components/schemas/shortString"
          code:
            $ref: "#/components/schemas/shortString"
          name:
            $ref: "#/components/schemas/normalString"

    entitlementGiven:
      allOf:
      - $ref: "#/components/schemas/usage"
      - type: object
        required:
          - entitlementType
        properties:
          entitlementType:
            $ref: "#/components/schemas/normalString"
          id:
            $ref: "#/components/schemas/normalString"

    validityParameter:
      type: object
      discriminator:
        propertyName: type
        mapping:
          organisational: "#/components/schemas/organisationalValidityParameter"
          seating: "#/components/schemas/seatingValidityParameter"
          distribution: "#/components/schemas/distributionValidityParameter"
          network: "#/components/schemas/networkValidityParameter"
          routing: "#/components/schemas/routingValidityParameter"
          service: "#/components/schemas/serviceValidityParameter"
          temporal: "#/components/schemas/temporalValidityParameter"
          #product: "#/components/schemas/productValidityParameter"
          entitlementProduct: "#/components/schemas/externalReference"
          fareProduct: "#/components/schemas/externalReference"
      required:
        - type
      properties:
        type:
          type: string

    temporalValidityParameter:
      allOf:
      - $ref: "#/components/schemas/validityParameter"
      - type: object
        properties:
          startTime:
            $ref: "#/components/schemas/dateTime"
          endTime:
            $ref: "#/components/schemas/dateTime"
          duration:
            $ref: "#/components/schemas/normalInt"
          dayType:
            $ref: "#/components/schemas/day"

    seatingValidityParameter:
      allOf:
      - $ref: "#/components/schemas/validityParameter"
      - type: object
        properties: 
          spotType:
            type: string
            enum: ["VEHICLE_SPOT", "PASSENGER_SPOT", "LUGGAGE_SPOT"]
          deck:
            $ref: "#/components/schemas/shortString"
          space:
            $ref: "#/components/schemas/shortString"
          spot:
            $ref: "#/components/schemas/shortString"

    networkValidityParameter:
      allOf:
      - $ref: "#/components/schemas/validityParameter"
      - type: object
        properties:
          line:
            $ref: "#/components/schemas/externalReference"
          zones:
            type: array
            items:
              $ref: "#/components/schemas/externalReference"

    routingValidityParameter:
      allOf:
      - $ref: "#/components/schemas/validityParameter"
      - type: object
        properties:
          journeyPattern:
            type: array
            items:
              $ref: "#/components/schemas/externalReference"

    serviceValidityParameter:
      allOf:
      - $ref: "#/components/schemas/validityParameter"
      - type: object
        properties:
          assetType:
            $ref: "#/components/schemas/externalReference"
          asset:
            $ref: "#/components/schemas/externalReference"
          serviceJourney:
            $ref: "#/components/schemas/externalReference"
          userNeeds:
            type: array
            items:
              $ref: "#/components/schemas/userNeeds"
          class:
            $ref: "#/components/schemas/classOfUse"
          facilities:
            type: array
            items:
              $ref: "#/components/schemas/facility"
        
    userNeeds:
      type: object
      properties:
        externalSpecified:
          type: array
          items: 
            $ref: "#/components/schemas/externalReference"
        encumbrance:
          type: array
          items:
            type: string
            enum:
              - PUSH_CHAIR
              - BAGGAGE_TROLLEY
              - OVERSIZED_BAGGAGE
              - GUIDE_DOG
              - OTHER_ANIMAL
              - OTHER_ENCUMBRANCE_NEED
              - LAGGAGE_ENCUMBRANCE
        medical:
          type: array
          items:
            type: string
            enum:
              - HEART_CONDITION
              - OTHER_CONDITION
              - ALLERGIC
        mobility:
          type: array
          items:
            type: string
            enum:
              - WHEEL_CHAIR
              - ASSISTED_WHEEL_CHAIR
              - MOTORIZED_WHEELCHAIR
              - MOBILITY_SCOOTER
              - ROAD_MOBILITY_SCOOTER
              - WALKING_FRAME
              - RESTRICTED_MOBILITY
              - NORMAL_MOBILITY
              - OTHER_MOBILITY_NEED
        psychosensory:
          type: array
          items:
            type: string
            enum:
              - VISUAL_IMPAIRMENT
              - AUDITORY_IMPAIRMENT
              - COGNITIVE_IMPAIRMENT
              - AVERSE_TO_LIFTS
              - AVERSE_TO_ESCALATORS
              - AVERSE_TO_CONFINED_SPACES
              - AVERSE_TO_CROWDS
              - OTHER_PSYCHO_SENSORY_NEED      

    onboardStay:
      allOf:
      - $ref: "#/components/schemas/facility"
      - type: object
        description: Permission to board early before the journey or stay on board after the journey.
        properties:
          type:
            type: string
            default: OnboardStay
          description:
            type: string
          classOfUse:
            $ref: '#/components/schemas/classOfUse'
          permission:
            type: boolean
          duration:
            type: string

    accommodation:
      allOf:
      - $ref: "#/components/schemas/facility"
      - type: object
        description: A combination of accommodation characteristics available on a service, e.g. "First Class Couchette with shower and 2 bunks".
        properties:
          type:
            type: string
            default: Accommodation
          description:
            type: string
          classOfUse:
            $ref: '#/components/schemas/classOfUse'
          name:
            type: string
          gender:
            type: string
          berthType:
            type: string
            enum:
              - SLEEPER
          nuisanceFacility:
            type: array
            items:
              type: string

    facility:
      type: object
      discriminator:
        propertyName: type
        mapping:
          onboardStay: '#/components/schemas/onboardStay'
          accommodation: '#/components/schemas/accommodation'
      required:
        - type
      properties:
        type:
          type: string        

    classOfUse:
      description: A classification of fare and other service classes by category of user entitled to use them.
      type: string
      enum:
        - FIRST_CLASS
        - SECOND_CLASS
        - THIRD_CLASS
        - ECONOMY_CLASS
        - BUSINESS_CLASS
        - TURISTA
        - PREFERENTE
        - PREMIUM_CLASS
        - ANY
        - UNKNOWN

    distributionValidityParameter:
      allOf:
      - $ref: "#/components/schemas/validityParameter"
      - type: object
        properties:
          fulfilmentMethod:
            $ref: "#/components/schemas/normalString"
          distributionChannel:
            $ref: "#/components/schemas/normalString"

    organisationalValidityParameter:
      allOf:
      - $ref: "#/components/schemas/validityParameter"
      - type: object
        properties:
          id: 
            $ref: "#/components/schemas/shortString"
          name:
            $ref: "#/components/schemas/normalString"
          legalName:
            $ref: "#/components/schemas/normalString"

    offerResponse:
      type: object
      description: Offers, purchaseable package options that fulfil the constraints of the request
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA4/EA5/EA3156.htm
        description: package OFFER DELIVERY
      required:
        - valegIdUntil
        - options
      properties:
        endValegIdity:
          description: The date-time until which the presented options are (likely) available
          $ref: "#/components/schemas/dateTime"
        options:
          type: array
          maxItems: 100
          items: 
            $ref: "#/components/schemas/packageResponse"

    purchaseParameters:
      type: object
      description: A request to purchase a package, to be performed by the MP
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA4/EA5/EA3147.htm
        description: package PURCHASE PARAMETER used to create a package [PURCHASE] DELIVERY (packageResponse)
      properties:
        from:
          $ref: "#/components/schemas/place"
          description: information about the origin, only to supply when requested in the purchaseConditions
        to:
          $ref: "#/components/schemas/place"
          description: information about the destination, only to supply when requested in the purchaseConditions
        travelers:
          type: array
          description: Required (additional) information about the travelers, as requested in the purchaseConditions
          maxItems: 50
          items:
            $ref: "#/components/schemas/individualTraveller"
        customer:
          $ref: "#/components/schemas/customer"
          description: The user that wants to purchase this package, only to supply when requested in the purchaseConditions

    packageResponse:
      externalDocs:
        url: https://not-yet-available/
        description: package PURCHASE DELIVERY, package OPERATION DELIVERY, package DETAIL DELIVERY. Corresponds with
          purchaseParameters, operationParameters and packageDetailParameters (= GET /packages/{id}/)
      properties:
        package:
          allOf:
          - $ref: "#/components/schemas/package"
          - $ref: "#/components/schemas/halLinks"
            example: {
            # planning: purchase this package, only when packagestatus = NEW
                "purchase": { "rel": "POST", "href": "/packages/{id}", "type": "application/hal+json", "templated": true }
            # purchase
              # only when packagestatus = PENDING
              , "commit": { "rel": "POST", "href": "/packages/{id}/COMMIT", "type": "application/hal+json", "templated": true } 
              , "cancel": { "rel": "POST", "href": "/packages/{id}/CANCEL", "type": "application/hal+json", "templated": true }
              , "extend_expiry_time": { "rel": "EXTEND_EXPIRY_TIME", "href": "/packages/{id}/EXTEND_EXPIRY_TIME", "type": "application/hal+json", "templated": true }
            # trip execution
              , "leg": { "rel": "GET", "href": "/packages/{id}/legs/{legId}", "type": "application/hal+json", "templated": true } 
              # only when packagestatus = CONFIRMED
              , "prepare": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/PREPARE", "type": "application/hal+json", "templated": true }
              , "set_in_use": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/SET_IN_USE", "type": "application/hal+json", "templated": true }
              , "change_start_time": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/CHANGE_START_TIME", "type": "application/hal+json", "templated": true }
              , "open_trunk": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/OPEN_TRUNK", "type": "application/hal+json", "templated": true }
              , "add_ancillary": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/ADD_ANCILLARY", "type": "application/hal+json", "templated": true }
            }
        log:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/logEntry"
        customer:
          $ref: "#/components/schemas/customer"
          description: the customer purchasing this package
        progress:
          $ref: "#/components/schemas/LineString"
          description: A list of COORDINATEs describing the progress so far as LINESTRING (GeoJSON)

    ## pre-purchase
    operationParameter:
      type: object
      description: operation parameter for the purchase or trip execution phase
      externalDocs:
        url: https://not-yet-available/
        description: OPERATION PARAMETER. Delivers package DETAIL DELIVERY (packageResponse) or LEG DETAIL RESPONSE (legDetailResponse)
      additionalProperties: false
      required:
        - timestamp
      properties:
        timestamp:
          $ref: "#/components/schemas/dateTime"
          description: timestamp of the operation, or in case of notification - ETA, the expected time of arrival.
        comment:
          $ref: "#/components/schemas/longString"
          description: free text, should match Content-Language. Also used for reason or notification.
        urls:
          type: array
          description: urls to support the operation e.g. pictures justifying the exit conditions
          maxItems: 10
          items:
            $ref: "#/components/schemas/url"
        requestOffer:
          type: boolean
          description: if this field contains a 'true', the operation shouldn't be executed, but the expected result of the operation should be returned. For instance, 
            if you're cancelling a purchased package, you'll return a CANCELLED package, the price will contain the price that has to be paid for this cancelled package.
          default: false
        source:
          type: string
          description: This operation can be done on behalf of another party. The MP can act on behalf of the CUSTOMER (cancel this package for me); to override the default source.<br>
            In case this field is missing, it must be assumed that the MP is requesting the operations.<br>
            _TO_ the TO requests this operation<br>
            _MP_ the MP (not triggered by the travellers NOR customer)<br>
            _TRAVELLER_ the TRAVELLER triggered this request<br>
            _CUSTOMER_ the CUSTOMER triggered this request. In case the traveller and customer are the same, take _CUSTOMER_.<br>
            _OTHER_ unknown source
          enum: [ TO, MP, TRAVELLER, CUSTOMER, OTHER ]
        # REPORT_PROGRESS (or NOTIFY)
        location:
          $ref: "#/components/schemas/coordinates"
        assetState:
          $ref: "#/components/schemas/assetState"
        distance:
          $ref: "#/components/schemas/float"
          description: the travelled distance, in km. Only if applicable.
        distanceUnits:
          type: string
          enum: [ KM, MILE ]
        duration:
          $ref: "#/components/schemas/longInt"
          description: the time in seconds that the assed is used. Only if applicable.
        # CONFIRMATION
        assetType:
          $ref: "#/components/schemas/assetTypeReference"
          description: the asset type reference of the replacing asset
        # EXTEND_EXPIRY_TIME
        extensionReason:
          type: string
          description: in case operation is EXTEND_EXPIRY_TIME, the reason for extension must be supplied here.<br>
           _PURCHASE_PENDING_ - The internal purchase process on the MP side is not yet finished<br>
           _PAYMENT_PENDING_ - The customer is in the payment process<br>
           _OTHER_ - unspecified
          enum: [ PURCHASE_PENDING, PAYMENT_PENDING, OTHER ]
        # NOTIFICATIONS
        notificationType:
          type: string
          description:
            _VEHICLE_NOT_AVAILABLE_ [MP->TO] in case of a missing vehicle at departure location & time<br>
            _USER_NO_SHOW_ [TO->MP, OnDemand/taxi] the traveler didn't show up on the departure location & time<br>
            _ETA_ [TO->MP, OnDemand/taxi] Estimated time of arrival at the departure location [others] at the destination location. User friendly message is in **comment**<br>
            _MESSAGE_TO_DRIVER_ [MP->TO] text messages to the driver, provided by the MP or traveler(s). Text is in **comment**<br>
            _MESSAGE_TO_END_USER_ [TO->MP] text message to show to the traveler(s). Text is in **comment**<br>
            _USER_OUT_OF_LIMITS_ [TO->MP] indication to signal to the driver/traveler(s) they are (about to get) out of limits. Text is in **comment**<br>
            _OTHER_ [TO->MP] unspecified. Text is in **comment**<br>
            _LOCKED_ [TO->MP] asset is locked<br>
            _UNLOCKED_ [TO->MP] asset is unlocked<br>
            `TO CONTROLLED (Process Identifier)`<br>
            _PREPARING_ [TO->MP] the leg is in preparation<br>
            _IN_USE_ [TO->MP] leg has started<br>
            _PAUSED_ [TO->MP] leg is paused<br>
            _RESUMED_ [TO->MP] leg is resumed<br>
            _FINISHING_ [TO->MP] leg is in finishing state<br> 
            _FINISHED_ [TO->MP] leg has ended<br>
          enum: [ VEHICLE_NOT_AVAILABLE, USER_NO_SHOW, ETA, MESSAGE_TO_DRIVER, MESSAGE_TO_END_USER, USER_OUT_OF_LIMITS, OTHER, LOCKED, UNLOCKED, PREPARING, IN_USE, PAUSED, RESUMED, FINISHING, FINISHED ]
          example: VEHICLE_NOT_AVAILABLE
        # ADD/REMOVE ANCILLARIES
        ancillary:
          $ref: "#/components/schemas/ancillary"
          description: use the URL in /discovery to find the details of the referenced ancillary definition in the externalDataSources [type=ANCILLARY]
        # TRAVELER MODIFICATION
        traveler:
          $ref: "#/components/schemas/individualTraveller"
        # CUSTOMER MODIFICATION
        customer:
          $ref: "#/components/schemas/customer"
        # FINANCIAL_TRANSACTION
        additionalCosts:
          $ref: "#/components/schemas/additionalCosts"

    ## trip execution
    availableAssetsResponse:
      type: array
      description: container to return assets, including their possible operations (assign asset). 
      externalDocs:
        url: https://not-yet-available/
        description: package AVAILABLE ASSETS DELIVERY, corresponding with the package AVAILABLE ASSETS REQUEST (= POST /packages/{id}/legs/{legId}/available-assets)
      maxItems: 100
      items:
        allOf:
          - $ref: "#/components/schemas/asset"
          - $ref: "#/components/schemas/halLinks"

    legDetailResponse:
      externalDocs:
        url: https://not-yet-available/
        description: LEG DETAIL DELIVERY (delivery of LEG DETAIL REQUEST & LEG OPERATION REQUEST)
      allOf:
        - $ref: "#/components/schemas/leg"
        - $ref: "#/components/schemas/halLinks"
          example:
            { "leg": { "rel": "GET", "href": "/packages/{id}/legs/{legId}", "templated": true, "type": "application/hal+json" }
            # only when legState = NOT_STARTED
            , "cancel": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/CANCEL", "templated": true, "type": "application/hal+json" }
            , "prepare": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/PREPARE", "templated": true, "type": "application/hal+json" }
            , "assign_asset": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/ASSIGN_ASSET", "templated": true, "type": "application/hal+json" }
            , "change_start_time": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/CHANGE_START_TIME", "templated": true, "type": "application/hal+json" }
            # only when legState = NOT_STARTED OR PREPARING
            , "add_ancillaries": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/ADD_ANCILLARY", "templated": true, "type": "application/hal+json" }
            , "remove_ancillaries": { "rel": "DELETE", "href": "/packages/{id}/legs/{legId}/REMOVE_ANCILLARY", "templated": true, "type": "application/hal+json" }
            , "set_in_use": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/SET_IN_USE", "templated": true, "type": "application/hal+json" }
            # only when legState = IN_USE
            , "change_end_time": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/CHANGE_END_TIME", "templated": true, "type": "application/hal+json" }
            , "pause": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/PAUSE", "templated": true, "type": "application/hal+json" }
            , "open_trunk": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/OPEN_TRUNK", "type": "application/hal+json" }
            , "start_finishing": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/START_FINISHING", "templated": true, "type": "application/hal+json" }
            , "finish": { "rel": "POST", "href": "/packages/{id}/legs/{legId}/FINISH", "templated": true, "type": "application/hal+json" }
            }

    ## support
    supportParameter:
      type: object
      description: required data for support ticket
      externalDocs:
        url: https://not-yet-available/
        description: SUPPORT REQUEST PARAMETER
      additionalProperties: true
      required:
      - supportType
      - location
      - timestamp
      properties:
        ticket:
          $ref: "#/components/schemas/supportTicketStatus"

    supportResponse:
      description: the current status of support
      externalDocs:
        url: https://not-yet-available/
        description: SUPPORT DELIVERY, corresponds with SUPPORT REQUEST
      properties:
        ticket: 
          $ref: "#/components/schemas/supportTicketStatus"

    supportDetailResponse:
      type: array
      description: containing log entries of the issue
      externalDocs:
        url: https://not-yet-available/
        description: SUPPORT DETAIL DELIVERY, corresponds with SUPPORT DETAIL REQUEST (= GET /packages/{id}/legs/{legId}/support)
      maxItems: 100
      items:
        $ref: "#/components/schemas/supportTicketStatus"

    ## interoperability
    discoveryResponse:
      type: object
      description: a complete endpoint description, containing all endpoints, their status, but also the served scenarios and implemented process flows. The identifiers for the process flows can be found at https://github.com/TOMP-WG/TOMP-API/wiki/ProcessIdentifiers<br>
      additionalProperties: false
      externalDocs:
        url: https://not-yet-available/
        description: Out of scope for Transmodel.
      required:
        - endpoints
      properties:
        endpoints:
          type: array
          maxItems: 25
          items:
            $ref: "#/components/schemas/endpoint"
        externalDataSources:
          type: array
          description: array of external datasources
          items:
            $ref: "#/components/schemas/externalDataSource"
        processIdentifiers:
          type: array
          description: an array with 'care labels', indiacting how this implementation wants to be treated.
          maxItems: 10
          externalDocs:
            url: https://github.com/TOMP-WG/TOMP-API/wiki/ProcessIdentifiers
            description: overview of all existing process identifiers, clarifying how this implementation of the API should be used.
          items:
            $ref: "#/components/schemas/processIdentifier"
          example: [ { "module": "PURCHASE", "identifiers": [ "ACCESS_CODE_AZTEC", "ACCESS_CODE_IN_COMMIT_EVENT" ] } ]
        conditions:
          type: array
          description: common conditions for this TO
          maxItems: 5
          items:
            $ref: "#/components/schemas/condition"

    ## after sales
    paymentResponse:
      externalDocs:
        url: https://not-yet-available/
        description: PAYMENT DETAIL DELIVERY, corresponding with PAYMENT DETAIL REQUEST (= GET /payments/?query)
      allOf:
      - type: array
        maxItems: 500
        items:
          $ref: "#/components/schemas/paymentDetail"
      - $ref: "#/components/schemas/halLinks"
        example:
            "_links": { "self": { "rel": "GET", "href": "/payments&offset=100&limit=100", "type": "application/hal+json" },
              "next": { "rel": "GET", "href": "/payments&offset=200&limit=100", "type": "application/hal+json" },
              "previous": { "rel": "GET", "href": "/payments&limit=100", "type": "application/hal+json" }
            }

  # package concepts
    leg:
      type: object
      description: A planned (segment of) a package using one asset
      required:
        - id
        - from
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2962.htm
        description: LEG
      properties:
        id:
          $ref: "#/components/schemas/uuid"
          description: The unique identifier (TO) of this leg. Must always the same as applied in the request URL. And when there are not additional legs in the offered or purchased package, the same **id** as the package id.
        from:
          $ref: "#/components/schemas/place"
          description: The departure location of this leg, using this asset type. Mandatory.
        to:
          $ref: "#/components/schemas/place"
          description: The destination of this leg, using this asset type.
        sequenceNumber:
          $ref: "#/components/schemas/shortInt"
          description: The order of the leg within the package. Mandatory, if there are multiple legs in the package. If there are parallel legs (eg. using parking lot and a renting a bike), it can be the same within one package.
        travelerReferences:
          type: array
          description: reference to the travelers field of the package request. Mandatory when multiple travelers are used.
          maxItems: 50
          items:
            $ref: "#/components/schemas/shortInt"
        startTime:
          $ref: "#/components/schemas/dateTime"
          description: The departure time of this leg. Or, in case of a parking, the start of the usage.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2958.htm
            description: package PATTERN.StartTime
        endTime:
          $ref: "#/components/schemas/dateTime"
          description: The intended arrival time at the to place. Or, in case of a parking, the end of the usage.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2958.htm
            description: package PATTERN.EndTime
        legState:
          $ref: "#/components/schemas/legState"
        fareStructure:
          $ref: "#/components/schemas/fareStructure"
          description: The leg-specific fare structure. The price can be calculated using all elements.
        price:
          $ref: "#/components/schemas/amountOfMoney"
          description: the final price of the leg / package
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2419.htm - (CUSTOMER PURCHASE PACKAGE PRICE) final price
        conditions:
          type: array
          description: specific conditions for this leg, overruling the common conditions
          maxItems: 5
          items:
            $ref: "#/components/schemas/condition"
        assetType:
          $ref: "#/components/schemas/assetTypeReference"
          description: The asset type used to execute this leg 
        asset:
          $ref: "#/components/schemas/asset"
          description: The concrete asset used for the execution of the leg
        operator:
          $ref: "#/components/schemas/operator"
        travelDocuments:
          type: array
          items:
            $ref: "#/components/schemas/travelDocument"
          description: The MaaS users proof of their right to travel on this leg (visual representable) OR
            data to open an asset
        memo:
          $ref: "#/components/schemas/longString"
        extraInfo:
          $ref: "#/components/schemas/customProperties"

    legAfterSalesOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA4/EA2/EA4/EA1162.htm
        description: TYPE OF EVENT
      description: Operations:<br> 
        _CANCEL_ [MP<->TO] will cancel this LEG. Only allowed when multiple LEGs are included in the package, otherwise the complete package should be cancelled<br>
        _NOTIFY_ [MP<->TO] will send a notification to TO, driver, MP or TRAVELER(s)<br>
        _REPORT_PROGRESS_ [TO->MP] the TO reports the location to the MP<br>
        _FINANCIAL_TRANSATION_ [MP<->TO] request a (direct) financial transaction. If there is no contract telling otherwise, this money has to be transferred immediately.<br>
      enum: [
        # state operation requests
        CANCEL,
        NOTIFY, REPORT_PROGRESS,
        FINANCIAL_TRANSACTION
      ]

    legTripOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA4/EA2/EA4/EA1162.htm
        description: TYPE OF EVENT
      description: Operations:<br> 
        _PREPARE_ [MP->TO, non-TO-controlled] - MP request the TO to prepare the LEG (e.g. open the locker) [ONBOARDING STEP, RESUMING STEP]<br>
        _PREPARE_ [MP<-TO, process identifier TO-controlled] - the TO can send a message telling the MP that he is preparing the LEG, e.g. the taxi is heading to the pickup point<br>
        _ASSIGN_ASSET_ [MP->TO] - can assign an ASSET to a LEG. Can be used to replace an ASSET, or as first step in the trip execution process [ONBOARDING STEP]<br>
          If assigning an ASSET is not allowed for this package 403 should be returned. If the package is unknown, 404 should be returned.<br>
        _SET_IN_USE_ [MP->TO, non-TO-controlled] - will activate the LEG or resume the LEG [ONBOARDING STEP, RESUMING STEP]<br>
        _SET_IN_USE_ [MP<-TO, process identifier TO-controlled] - the driver indicates the LEG is started<br>
        _CHANGE_END_TIME_ [MP->TO] will be used to request a changed end time; the TRAVELER wants to use the ASSET longer (or shorter), the **time** field contains the proposed end time, the end time of the package doesn't change<br>
        _CHANGE_START_TIME_ [MP->TO] will be used to request a changed start time, e.g. the TRAVELER wants to depart later, the **time** field contains the estimated start time, the start time of the package doesn't change<br>
        _PAUSE_ [MP->TO] will pause the LEG [PAUSING STEP]<br>
        _OPEN_TRUNK_ [MP->TO] request the TO to open up the trunk (of the scooter), e.g. to store the helmet [ONBOARDING STEP, OFFBOARDING STEP, PAUSING STEP, RESUMING STEP]<br>
        _START_FINISHING_ [MP->TO] will start the end-of-leg process [OFFBOARDING STEP]<br>
        _START_FINISHING_ [MP<-TO, process identifier TO-controlled] TO indicates that the LEG is almost finishing<br>
        _FINISH_ [MP->TO] will end this LEG [OFFBOARDING STEP]<br>
        _FINISH_ [MP<-TO, process identifier TO-controlled] the TO indicates that the LEG is finished, the destination has been reached.<br>
        _CANCEL_ [MP<->TO] will cancel this LEG. Only allowed when multiple LEGs are included in the package, otherwise the complete package should be cancelled<br>
        _NOTIFY_ [MP<->TO] will send a notification to TO, driver, MP or TRAVELER(s)<br>
        _REPORT_PROGRESS_ [TO->MP] the TO reports the location to the MP<br>
        _ADD_ANCILLARY_ [MP->TO] requests to add the specified ANCILLARY to the LEG<br>
        _REMOVE_ANCILLARY_ [MP->TO] requests to remove the specified ANCILLARY from the LEG<br>
        _CONFIRM_REPLACE_VEHICLE_ [MP<-TO] asks confirmation to replace the ASSET, returns a 202 when confirmed, otherwise it will return 400<br>
        _CONFIRM_START_LEG_ [MP<-TO] asks confirmation to start the LEG, returns a 202 when confirmed, otherwise it will return 400<br>
        _FINANCIAL_TRANSATION_ [MP<->TO] request a (direct) financial transaction. If there is no contract telling otherwise, this money has to be transferred immediately.<br>
        _SEND_EVIDENCE_PARKED_ [MP->TO] sends pictures (in url field) to prove that the ASSET is parked correctly<br>
        _SEND_EVIDENCE_HELMET_ [MP->TO] sends pictures (in url field) to prove that the helmet is stowed correctly<br>
        _SEND_EVIDENCE_CHARGER_ [MP->TO] sends pictures (in url field) to prove that the ASSET connected correctly to the charger<br>
      enum: [
        # state operation requests
        PREPARE, ASSIGN_ASSET, SET_IN_USE, PAUSE, START_FINISHING, FINISH, CANCEL,
        # asset operation requests
        OPEN_TRUNK,
        # end user request requests
        CHANGE_START_TIME, CHANGE_END_TIME, 
        # notify request
        NOTIFY, REPORT_PROGRESS,
        # ancillary operation requests
        ADD_ANCILLARY, REMOVE_ANCILLARY,
        # confirmation requests
        CONFIRM_REPLACE_VEHICLE, CONFIRM_START_LEG,
        # financial requests
        FINANCIAL_TRANSACTION,
        # evidence requests
        SEND_EVIDENCE_PARKED, SEND_EVIDENCE_HELMET, SEND_EVIDENCE_CHARGER
      ]      

    legPrePurchaseOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA4/EA2/EA4/EA1162.htm
        description: TYPE OF EVENT
      description: Operations:<br> 
        _ASSIGN_ASSET_ [MP->TO] - can assign an ASSET to a LEG. Can be used to replace an ASSET, or as first step in the trip execution process [ONBOARDING STEP]<br>
          If assigning an ASSET is not allowed for this package 403 should be returned. If the package is unknown, 404 should be returned.<br>
        _CHANGE_END_TIME_ [MP->TO] will be used to request a changed end time; the TRAVELER wants to use the ASSET longer (or shorter), the **time** field contains the proposed end time, the end time of the package doesn't change<br>
        _CHANGE_START_TIME_ [MP->TO] will be used to request a changed start time, e.g. the TRAVELER wants to depart later, the **time** field contains the estimated start time, the start time of the package doesn't change<br>
        _CANCEL_ [MP<->TO] will cancel this LEG. Only allowed when multiple LEGs are included in the package, otherwise the complete package should be cancelled<br>
        _ADD_ANCILLARY_ [MP->TO] requests to add the specified ANCILLARY to the LEG<br>
        _REMOVE_ANCILLARY_ [MP->TO] requests to remove the specified ANCILLARY from the LEG<br>
      enum: [
        # state operation requests
        ASSIGN_ASSET, CANCEL,
        # end user request requests
        CHANGE_START_TIME, CHANGE_END_TIME, 
        # ancillary operation requests
        ADD_ANCILLARY, REMOVE_ANCILLARY
      ]

    legState:
      type: string
      description: status of a leg<br>
       _NOT_STARTED_ the leg is not started, initial state<br>
       _PREPARING_ the _PREPARE_ operation has been received<br>
       _IN_USE_ the travelers are on their way<br>
       _PAUSED_ the asset is paused<br>
       _FINISHING_ the _START_FINISHING_ operation has been received<br>
       _FINISHED_ the travelers have arrived at their destination<br>
       _ISSUE_REPORTED_ due to an issue, there is (temporarily) no progress to report, when the issue isn't solved, this is a final state<br>
       _CANCELLED_ the leg has been cancelled (so there must be other legs)
      enum: [ NOT_STARTED, PREPARING, IN_USE, PAUSED, FINISHING, FINISHED, ISSUE_REPORTED, CANCELLED ]

    legSummary:
      type: object
      description: this object describes the leg. It can contain f.x. a flight number, a used parking to get a discount, etc.
      additionalProperties: false
      required:
        - operator
        - legIdentifier
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA2/EA1/EA2962.htm
        description: LEG
      properties:
        operator:
          description: the operator of the leg (usually a Transport Operator reference)
          $ref: "#/components/schemas/uuid"
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA2/EA3552.htm
            description: TRANSPORT ORGANISATION
        legIdentifier:
          type: string
          description: the external ID, published by the operator.
        asset:
          $ref: "#/components/schemas/assetReference"
          description: the identification of the asset (id or visualegId), like a flight number. This field (in case of a specific asset) or assetType must be filled.
            whenever possible, details of this asset could be found using the URL in /discovery.externalDataSources [type=ASSET]
        assetType:
          $ref: "#/components/schemas/assetTypeReference"
          description: the used asset type for this leg.
            whenever possible, details of this asset could be found using the URL in /discovery.externalDataSources [type=ASSET_TYPE]
        product:
          $ref: "#/components/schemas/productReference"
          description: the used product for this leg.
        url:
          $ref: "#/components/schemas/url"
          description: the TOMP URL where the details of the previous leg can be found (if authorized), using a GET http method
          example: https://penr.nl/tomp/packages/57c652b3-1878-4a59-ba7b-b69ec1267124/legs/4aea3986-55be-48c6-a66a-09b14ebe2fb5

    logEntry:
      type: object
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA4/EA2/EA3/EA1149.htm
        description: LOG ENTRY
      required:
      - operation
      properties:
        operation:
          type: string
          description: "should be one of the operations specified in this API, including:
            - type: string
              description: additional operations, not directly related to the purchase or trip execution<br>
                _OFFER_ The offer has been published<br>
                _REQUEST_SUPPORT_ Issue reported <br>
                _SUPPORT_ISSUE_SOLVED_ Support issue is solved<br>
                _SUPPORT_ISSUE_REMOVED_ Support issue isn't solvable
              enum: [ 
                # planning
                OFFER,
                # support
                REQUEST_SUPPORT, SUPPORT_ISSUE_SOLVED, SUPPORT_ISSUE_REMOVED,
                ]"
        legId:
          $ref: "#/components/schemas/uuid"
          description: in case it is a leg operation, specify the legId
        detail:
          $ref: "#/components/schemas/operationParameter"

    operator:
      type: object
      description: The operator of a leg or asset, in case this is not the TO itself but should be shown to the user
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA2/EA3552.htm
        description: TRANSPORT ORGANISATION
      additionalProperties: false
      required:
        - name
      properties:
        name:
          $ref: "#/components/schemas/shortString"
          description: Name of the operator, could match Content-Language
        operatorId:
          $ref: "#/components/schemas/shortString"
          description: the ID from the operator
        description:
          $ref: "#/components/schemas/longString"
          description: short description of the operator, should match Content-Language
        contact:
          $ref: "#/components/schemas/normalString"
          description: contact information, should match Content-Language

    place:
      type: object
      discriminator:
        propertyName: type
        mapping:
          postalAddress: "#/components/schemas/postalAddress"
          external: "#/components/schemas/externalDataSource"
          gps: "#/components/schemas/coordinates"
      required:
        - type
      properties:
        type:
          type: string
          enum: ["postalAddress", "external", "gps"]

    postalAddress:
      type: object
      description: address parts, where addressLine1 and 2 should contain the complete address, matches Content-Language
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA1/EA6/EA5/EA319.htm
        description: POSTAL ADDRESS
      required:
        - addressLine1
        - addressLine2
      properties:
        addressLine1:
          $ref: "#/components/schemas/longString"
          description: contains street, housenumber & additions
          example: example street 18, 2nd floor, 18-B33
        addressLine2:
          $ref: "#/components/schemas/longString"
          description: city or town, principal subdivision such as province, state or county
          example: Smallcity, Pinetree county
        street:
          $ref: "#/components/schemas/normalString"
          description: street, consistent with addressLine1
        houseNumber:
          $ref: "#/components/schemas/normalInt"
          description: house number, consistent with addressLine1
          minimum: 1
        houseNumberAddition:
          $ref: "#/components/schemas/tinyString"
          description: the additional part of the house number (f.x. 13bis, where 'bis' is the additional part), consistent with addressLine1
        postalCode:
          $ref: "#/components/schemas/shortString"
          description: the postal code, whenever available
        city:
          $ref: "#/components/schemas/shortString"
          description: specified city or town, consistent with addressLine2
        province:
          $ref: "#/components/schemas/shortString"
          description: province or region, consistent with addressLine2
        state:
          $ref: "#/components/schemas/shortString"
          description: state, consistent with addressLine2
        country:
          $ref: "#/components/schemas/country"
        addressAdditionalInfo:
          $ref: "#/components/schemas/longString"
          description: additional information to find the address (f.x. just around the corner)

    package:
      description: a purchased package is a registration of an agreement between end user and TO, to execute a package (=set of legs) according a specification, including all conditions
      #externalDocs:
        # https://www.transmodel-cen.eu/model/EARoot/EA6/EA4/EA1/EA2242.htm (SALES OFFER PACKAGE)
        # OR https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2417.htm (CUSTOMER PURCHASE PACKAGE)
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2413.htm
        description: TRAVEL SPECIFICATION
      allOf:
        - $ref: "#/components/schemas/leg"
        - type: object
          description: The package information describing the state and details of an agreed upon package
          properties:
            packagestate:
              $ref: "#/components/schemas/packageState"
            additionalLegs:
              type: array
              description: The additional legs of this package (a single package -> all properties are already in this object).
                All other legs should be in this collection, using the sequenceNumber to arrange them.
              maxItems: 25
              items:
                $ref: "#/components/schemas/leg"
            product:
              $ref: "#/components/schemas/productReference"
              description: this package does reflect a product. The `additionalLegs` field contains the executed legs using this product.

    prePurchaseOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA3/EA1/EA3040.htm
        description: TYPE OF REQUEST (unspecified)
      description: allowed package operations<br>
        _CANCEL_ - [MP->TO] Cancels a purchased package, it returns a package in a _CANCEL_led state.<br> 
        _COMMIT_ - [MP->TO] Turns the purchased package in a _CONFIRMED_ state, the previous state should be _PENDING_. If the package is in state _CONFIRMED_, _CANCELLED_ or _EXPIRED_, a commit will result a 403. <BR> 
        _ADD_TRAVELLER_ - [MP->TO] request a change one of the travelers. Can be refused if contractual or financial changes are requested<br>
        _REMOVE_TRAVELLER_ - [MP->TO] request a change one of the travelers. Can be refused if contractual or financial changes are requested<br>
        _MODIFY_TRAVELLER_ - [MP->TO] request a change one of the travelers. Can be refused if contractual or financial changes are requested<br>
        _MODIFY_CUSTOMER_ - [MP->TO] request a change of the customer. Can be refused if contractual or financial changes are requested<br>
      enum: [ COMMIT, CANCEL, ADD_TRAVELLER, REMOVE_TRAVELLER, MODIFY_CUSTOMER ]

    afterSalesOperation:
      type: string
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA7/EA3/EA1/EA3040.htm
        description: TYPE OF REQUEST (unspecified)
      description: allowed package operations<br>
        _CANCEL_ - [MP->TO] Cancels a purchased package, it returns a package in a _CANCEL_led state. This is also known as a reimburse action<br> 
        _NOTIFY_ - [MP<->TO] Notification to MP, traveler or TO<br>
        _ADD_TRAVELLER_ - [MP->TO] request a change one of the travelers. Can be refused if contractual or financial changes are requested<br>
        _REMOVE_TRAVELLER_ - [MP->TO] request a change one of the travelers. Can be refused if contractual or financial changes are requested<br>
        _MODIFY_TRAVELLER_ - [MP->TO] request a change one of the travelers. Can be refused if contractual or financial changes are requested<br>
        _MODIFY_CUSTOMER_ - [MP->TO] request a change of the customer. Can be refused if contractual or financial changes are requested<br>
        _FINANCIAL_TRANSATION_ - [MP<->TO] request a (direct) financial transaction. If there is no contract telling otherwise, this money has to be transferred immediately.
      enum: [ CANCEL, NOTIFY, ADD_TRAVELLER, REMOVE_TRAVELLER, MODIFY_TRAVELLER, MODIFY_CUSTOMER, FINANCIAL_TRANSACTION ]

    packageState:
      type: string
      description: The life-cycle state of the package (from NEW to FINISHED)<br>
        _NEW_ the package is offered, including all conditions<br>
        _PRE-PURCHASED_ the package in the process of purchase, not yet finalized<br>
        _RELEASED_ for internal archiving. Another package option is purchased<br>
        _EXPIRED_ the MP didn't respond on time, the package offer has been expired<br>
        _CONFIRMED_ a finalized package ('purchased'). Both parties agreed to deliver services in return of payment<br>
        _CANCELLED_ the package is cancelled before it is executed. The agreement will specify whether there is a refund, or under which conditions<br>
        _STARTED_ the package is started, the <u>trip execution</u> module is needed now<br>
        _FINISHED_ the package has ended<br>
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA5/EA5/EA2420.htm
        description: CUSTOMER PURCHASE STATUS
      enum: [ NEW, PENDING, REJECTED, RELEASED, EXPIRED, CONFIRMED, CANCELLED, STARTED, FINISHED ]
      example: CONFIRMED

  # terms & conditions
    cancellationCondition:
      description: conditions regarding cancellation of a purchased package
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2179.htm 
        description: (CANCELLING)
      type: object
      properties:
        cancellationAllowed:
          type: boolean
          description: is it possible to cancel this package?
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
            description: PURCHASE WINDOW.cancellationAllowed
        cancellationFee:
          $ref: "#/components/schemas/amountOfMoney"
          description: amount of money you have to pay when you cancel this purchased package
        cancellationFeePercentage:
          $ref: "#/components/schemas/float"
          description: percentage of the offered price you have to pay when you cancel this purchased package  

    condition:
      type: object
      discriminator:
        propertyName: type
        mapping:
          requiredInteractionsCondition: "#/components/schemas/requiredInteractionsCondition"
          paymentConditions: "#/components/schemas/paymentConditions"
          cancellationCondition: "#/components/schemas/cancellationCondition"
          purchaseConditions: "#/components/schemas/purchaseConditions"
          packageExecutionConditions: "#/components/schemas/packageExecutionConditions"
          guarantees: "#/components/schemas/guarantees"
      required:
        - type
        - id
      properties:
        type:
          $ref: "#/components/schemas/shortString"
          description: The specific subclass of condition, should match the schema name exactly      
        id:
          $ref: "#/components/schemas/shortString"
          description: An identifier for this condition that can be used to refer to this condition
          example: deposit50eu

    guarantees:
      description: guarantees from the TO side.        
      type: object
      properties:
        guarantees:
          type: array
          maxItems: 10
          items:
            type: string
            description: _ARRIVAL_TIME_ - the TO guarantees that you will - under normal circumstances - will arrive at the destination of the leg
              _REPLACEMENT_WHEN_CONNECTION_MISSED_ - the TO will arrange an alternative for the missed connection
              _REFUND_WHEN_CONNECTION_MISSED_ - the TO will refund the missed connection
              _REFUND_UNUSED_ANCILLARIES_ - unused ancillaries will be refunded
              _REFUND_WHEN_CANCELLED_ - when cancelled, no costs will be charged when package not started.
            enum: [ ARRIVAL_TIME, REPLACEMENT_WHEN_CONNECTION_MISSED, REFUND_WHEN_CONNECTION_MISSED, REFUND_UNUSED_ANCILLARIES ]

    paymentConditions:
      description: conditions regarding payment<br>
        _DEPOSIT_ - in case the TO demands a deposit before usage. Requesting and refunding should be done using the /packages/{id}/leg/{id}/operations/FINANCIAL_TRANSATION endpoint. The requests are initiated by the TO (calling the MP)<br>
        _PAY_WHEN_FINISHED_ - in case the TO demands a direct payment after usage, automatically done by the MP<br>
        _UPFRONT_ - in case the TO demands a upfront payment before usage. The payment should be made in the purchase phase. Additional costs could be relevant, e.g. when using the _TIME_EXTEND_ operation is executed. 
          The MP must settle the payment before the package can be started (using SET_IN_USE).
      type: object
      required:
        - momentOfPayment
      properties:
        momentOfPayment:
          type: string
          enum: [ DEPOSIT, PAY_WHEN_FINISHED, UPFRONT ]
        deposit:
          $ref: "#/components/schemas/amountOfMoney"
          description: the amount of money to pay as a deposit.

    purchaseConditions:
      description: specify required information to complete a purchase
      type: object
      required:
        - requiredFields
      properties:
        maximumPeriodBeforeDeparture:
          $ref: "#/components/schemas/longInt"
          description: Maximum time in minutes that an asset can be reserved before a rental begins.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA9/EA2177.htm
            description: PURCHASE WINDOW.MaximumPeriodBeforeDeparture
        requiredFields:
          type: array
          description: an array containing labels that identify specific fields that are required in the purchase process<br>
            all fields of the package purchase request can become required, navigating with dots, square brackets and field names.<br>
            A few examples<br>
              from.address.station implies that the station reference is mandatory,<br>
              travelers[*].age requires an age for each traveler, <br>
              or customer.email for the email address of the customer
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA6/EA2136.htm
            description: USER PROFILE
          maxItems: 50
          items:
            type: string

    requiredInteractionsCondition:
      description: required sequence of steps to take in a specified phase of the leg. Use this condition only when the steps are different as specified in the `POST /discovery` endpoint.
        When used in the `POST /discovery`, show the default set of interactions you require. When applied in the leg, you can overrule the default interactions.
      type: array
      maxItems: 50
      items:
        $ref: "#/components/schemas/interaction"

    packageExecutionConditions:
      description: conditions during the package
      type: object
      properties:
        codeOfConduct: 
          type: array
          description: code of conduct items during traveling<br>
            _NO_PETS_ - no pets are allowed in the asset<br>
            _NO_SMOKING_ - smoking is not allowed in the asset<br>
            _NO_TRAVEL_ABROAD_ - it is not allowed to enter another country with this asset<br>
            _NO_UNDERGROUND_PARKING_ - it is not allowed to park the asset underground
          maxItems: 5
          items:
            type: string
            enum: [ NO_PETS, NO_SMOKING, NO_TRAVEL_ABROAD, NO_UNDERGROUND_PARKING ]
        returnBefore:
          $ref: "#/components/schemas/dateTime"
          description: the ultimate return time.
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2121.htm
            description: USAGE VAlegIdITY PERIOD.EndDate & EndTime
        returnStations:
          type: array
          description: to one of these stations the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/stationReference"             
        returnAreas:
          type: array
          description: in one of these areas the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/Polygon"
        returnZones:
          type: array
          description: in one of these externally described zones the asset must be returned
          maxItems: 10
          items:
            $ref: "#/components/schemas/zoneReference"
        requiredLicenseTypes:
          type: array
          description: ONE of these licenses is required to operate the asset
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA7/EA2152.htm
            description: ENTITLEMENT REQUIRED
          maxItems: 5
          items: 
            $ref: "#/components/schemas/licenseType"
        requiredAncillaries:
          type: array
          description: required ancillaries to operate the asset (like a helmet, TYPE=ANCILLARY)
          maxItems: 25
          items:
            $ref: "#/components/schemas/ancillaryReference" 
        maxBounds: 
          $ref: "#/components/schemas/geojsonGeometry"
          description: the maximum bounds of movement, can be an (multi)polygon (for bike sharing) or a line, a trajectory (for conventional public transport)
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2119.htm
            description: ROUTING.CrossBorder possible, TOMP allowing more use cases.
        timeLimits:
          type: array
          externalDocs:
            url: https://www.transmodel-cen.eu/model/EARoot/EA6/EA3/EA3/EA5/EA2121.htm
            description: USAGE VAlegIdITY PERIOD, except TM tells when it is allowed, TOMP tells when it is not allowed or when there is a reduction.
          items:
            $ref: "#/components/schemas/timeRestriction"

  # asset related concepts
    ancillary:
      allOf:
      - $ref: "#/components/schemas/requirement"
      description: requirement, type = ANCILLARY
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3583.htm 
        description: VEHICLE EQUIPMENT PROFILE when applied on a vehicle. Not covering!

    asset:
      description: the asset that can by applied to execute a leg.
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3578.htm
        description: VEHICLE
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA2/EA3719.htm (PARKING BAY)
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA3/EA1/EA3735.htm (CYCLE STORAGE EQUIPMENT)
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA5/EA3/EA2/EA3742.htm (VEHICLE CHARGING EQUIPMENT)
        # OR PASSENGER SPOT
      required:
        - assetType
        - mode
      properties:
        id:
          $ref: "#/components/schemas/shortString"
          description: Identifier of an asset. Preferably UUID.
        visualegId:
          $ref: "#/components/schemas/shortString"
          description: for instance, a license plate or seat number.
        assetType:
          $ref: "#/components/schemas/assetTypeReference"
          description: external ID of the asset type. Use the URL in the /discovery endpoint to find details of the asset type. 
            These external attributes can be duplicated in the 'extraInfo' object.
        mode:
          $ref: "#/components/schemas/mode"
        subMode:
          $ref: "#/components/schemas/normalString"
          description: a more precise classification of the asset, like 'cargo bike', 'public bus', 'coach bus', 'office bus', 'water taxi',  'segway'. 
            This is mandatory when using 'OTHER' as class.
        state:
          $ref: "#/components/schemas/assetState"
        location:
          $ref: "#/components/schemas/place"
        eco:
          $ref: "#/components/schemas/ecoValues"
        cargo:
          $ref: "#/components/schemas/cargoLimits"
        appSupport:
          $ref: "#/components/schemas/appSupport"
        equipment:
          type: array
          description: (optional) equipment belonging to the asset, like a child seat (TYPE=ASSET_EQUIPMENT)
          maxItems: 100
          items:
            $ref: "#/components/schemas/assetEquipment"
        externalAssetReference:
          $ref: "#/components/schemas/assetReference"
          description: external ID of the asset. Use the URL in the /discovery endpoint to find additional details of the asset. 
            Attributes can be duplicated in the 'extraInfo' object.
        extraInfo:
          $ref: "#/components/schemas/customProperties"

    assetEquipment:
      allOf:
      - $ref: "#/components/schemas/requirement"
      description: requirement, type = ASSET_EQUIPMENT
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3583.htm 
        description: VEHICLE EQUIPMENT PROFILE when applied on a vehicle

    assetState:
      type: object
      description: the state of the asset, where is it, the damages, etc
      additionalProperties: false
      externalDocs:
        url: https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA4/EA3583.htm
        description: VEHICLE EQUIPMENT PROFILE
        # OR https://www.transmodel-cen.eu/model/EARoot/EA10/EA3/EA6/EA3603.htm (EQUIPMENT)
      properties:
        mileage:
          $ref: "#/components/schemas/float"
          description: the current mileage of the asset, in km
        stateOfCharge:
          $ref: "#/components/schemas/shortInt"
[...]
